<% form_remote_for profile do |f| %>
  <%= hidden_field_tag "profile[user_id]", user.id %>
  <%= hidden_field_tag "edit_description", true %>
  <table class="content">
    <tr>
      <td class="label">
        <label for="intro" style="width: 100px;"><%= "自我介绍:" %></label>
      </td>
      <td class="input">
        <div class="text">
          <%= strip_tags profile.intro %>
        </div>
      </td>
    </tr>
    <tr>
    <td class="label">
      <label for="description" style="width: 100px;"><%= "#{DESCRIPTION_CN}:" %></label>
    </td>
    <td class="input">
      <div class="text">
        <%= "可以在这里#{INPUT_CN}#{USER_CN}的#{DESCRIPTION_CN}信息" %>
      </div>
      <div class="input">
        <%= f.text_area :description, :class => 'xs' %>
      </div>
      <%= error_message_on "profile", "description" %>
      </td>
    </tr>
    <tr>
      <td></td>
      <td class="input">
        <div class="submit">
          <%= f.submit "#{SAVE_CN}", :disable_with => "#{SAVE_CN}中...", :class => "submit" %>
          &nbsp;&nbsp;
          <%= link_to_function("&raquo;#{CANCLE_CN}") do |page|
            page.hide "overlay"
          end %>
        </div>
      </td>
    </tr>
  </table>
<% end %>
