<% form_tag session_path do %>
	<div class="sub_block_tb">
	<table class="content">
		<tr>
			<td class="label">
				<label for="email"><%= "#{EMAIL_ADDRESS_CN}:" %></label>
			</td>
			<td class="input">
				<div class="input">
					<%= text_field_tag "email", params[:email], :class => "text_s" %>
				</div>
			</td>
		</tr>
		<tr>
			<td class="label">
				<label for="password"><%= "#{PASSWORD_CN}:" %></label>
			</td>
			<td class="input">
				<div class="input">
					<%= password_field_tag "password", "", :class => "text_s" %>
				</div>
			</td>
		</tr>
		<tr>
			<td></td>
			<td class="input">
				<div class="input">
					<%= check_box_tag "remember_me", "1", false, :class => "check_box" %><%= "记住我" %>
					&nbsp;&nbsp;
					<%= link_to "我忘记了#{PASSWORD_CN}?", forgot_password_url %>
					&nbsp;&nbsp;
					<%= link_to "#{RESEND_CN}#{ACTIVATE_CN}#{EMAIL_CN}?", resend_activemail_url %>
				</div>
			</td>
		</tr>
		<tr>
			<td></td>
			<td class="input">
				<div class="submit">
					<%= submit_tag LOGIN_CN, :class => "submit" %>
					&nbsp;&nbsp;
					<%= link_to "&raquo;我还没有#{SITE_NAME_CN}#{ACCOUNT_CN}", signup_url %>
				</div>
			</td>
		</tr>
	</table>
	</div>
<% end %>