<div class="content_block">
	<div class="block_header">
		<h1><%= @block_title %></h1>
	</div>
	
	<div class="block_main">
		<% form_tag session_path do %>
			<table class="content">
				<tr>
					<td class="label"><label for="login"><%= "#{ACCOUNT_ID_CN}:" %></label></td>
					<td class="input">
						<%= text_field_tag "login", "", :class => "text_s" %>
						&nbsp;&nbsp;
						<%= link_to "我忘记了#{ACCOUNT_ID_CN}?", root_path %>
					</td>
				</tr>
				<tr>
					<td class="label"><label for="password"><%= "#{PASSWORD_CN}:" %></label></td>
					<td class="input">
						<%= password_field_tag "password", "", :class => "text_s" %>
						&nbsp;&nbsp;
						<%= link_to "我忘记了#{PASSWORD_CN}?", root_path %>
					</td>
				</tr>
				<tr>
					<td></td>
					<td class="input"><%= check_box_tag "remember_me" %><%= " 记住我" %></td>
				</tr>
				<tr>
					<td></td>
					<td class="submit">
						<%= submit_tag LOGIN_CN, :class => "submit" %>
						&nbsp;&nbsp;
						<%= link_to "&raquo;我还没有#{SITE_NAME_CN}#{ACCOUNT_CN}", new_user_path %>
					</td>
				</tr>
			</table>
		<% end %>
	</div>
</div>
