
<%= "嗨嗨，我是#{strip_tags(@user.login)}！" %><br />
<br />
<%= "我发现了一个挺酷的美食网站——<a href='#{root_url}' target='_blank'>#{SITE_NAME_CN}</a>，汇聚了疯狂的美食玩家，还有精致的美味食谱。" %><br />
<%= "好东西一定要跟好朋友一起分享呵！" %><br />
<br />
<%= "请访问这个#{URL_CN}：" %><br />
<%= auto_link(@url, :all, :target => "_blank") %><br />
<%= "赶紧加入#{SITE_NAME_CN}吧，我在那儿等着你..." %><br />
<br />
<%= "PS：这份邀请是我专门发给你的，可不要转给别人哦！"%><br />
<br />
<%= "#{SITE_NAME_EN} © #{Date.today.year}" %><br />
<%= SITE_DOMAIN_EN %><br />
