<div id="favorites_wrapper" class="sidebar_block">

	<div id="favorites_header" class="sidebar_block_header">
		<% if user %>
			<div class="sidebar_block_header_link">	
				<%= link_to "更多", :user_id => user.id, :controller => 'favorites', :action => 'index' %>
			</div>
			<h1><%= "#{username_prefix(user)}#{FAVORITE_CN}" %></h1>
		<% else %>
			<div class="sidebar_block_header_link">
				<%= link_to "更多", {:controller => 'favorites', :action => 'index', :favorable_type => favorable_type.downcase} %>
			</div>
			<h1><%= "#{username_prefix(user)}#{name_for(favorable_type)}#{FAVORITE_CN}" %></h1>
		<% end %>
	</div>
	
	<div id="favorites_detail" class="sidebar_block_main">
		<%= render :partial => '/favorites/favorite_detail', 
							 :locals => { :favorites_set => favorites_set, 
							 							:limit => limit, 
							 							:show_type => show_type } %>
	</div>
	
</div>