<% if is_new %>
	<% button_name = "#{FAVORITE_CN}#{RECIPE_CN}" %>
<% else %>
	<% button_name = SAVE_CHANGES_CN %>
<% end %>

<% form_remote_for [favorable, favorite] do |f| %>
	<table class="content">
		<tr>
			<td class="label">
				
			</td>
			<td class="input">
				<% statuses_set = favorite_statuses(type_for(favorable)) %>
				<% 1.upto(statuses_set.size) do |i| %>
					<div class="radio">
						<% statuses = statuses_set[i-1][1] %>
						<span id="favorite_statuses_<%= i %>">
							<%= render :partial => '/favorites/favorite_statuses', 
												 :locals => { :statuses => statuses, 
												 							:current_status => current_status, 
												 							:i => i } %>
						</span>
						<%= link_to_function("清空") do |page|
							page.replace_html "favorite_statuses_#{i}", 
																:partial => '/favorites/favorite_statuses', 
																:locals => { :statuses => statuses, 
												 										 :current_status => nil, 
												 						 				 :i => i }
						end %>
					</div>
					<br />
				<% end %>
				<%= error_message_on "favorite", "status" %>
			</td>
		</tr>

		<tr>
			<td class="label">
				<label for="note"><%= "附注:" %></label>
			</td>
			<td class="input">
				<div class="text">
					<%= "可以在这里#{INPUT_CN}关于#{FAVORITE_CN}的简短注释" %>
				</div>
				<div class="input">
					<%= f.text_area :note, :class => 'xs' %>
				</div>
				<%= error_message_on "favorite", "note" %>
			</td>
		</tr>
		<% if favorable_type %>
			<%= hidden_field_tag "favorable_type", favorable_type %>
		<% end %>
		<% if filter %>
			<%= hidden_field_tag "filter", filter %>
		<% end %>
		<%= hidden_field_tag "ref", ref %>
		<% if favoriter_id %>
			<%= hidden_field_tag "favoriter_id", favoriter_id %>
		<% end %>
		<tr>
			<td></td>
			<td class="input">
				<div class="submit">
					<%= f.submit button_name, :disable_with => "#{SAVE_CN}中...", :class => "submit" %>
					&nbsp;&nbsp;
					<%= link_to_function("&raquo;#{CANCLE_CN}") do |page|
						page.hide "overlay"
		  		end %>
				</div>
			</td>
		</tr>
	</table>
<% end %>
