<div class="content_block">
	<div class="block_header">
		<div class="block_header_link">	
			<%= link_to sysinfo('300002', CREATE_CN, {:title => I_CN}, NEW_CN, {:type => RECIPE_CN}), new_mine_recipe_path %>
		</div>
		<h1><%= @block_title %></h1>
	</div>
	<%= will_paginate @recipes, :prev_label => "&laquo; #{PREV_PAGE_CN}",
	 														:next_label => "#{NEXT_PAGE_CN} &raquo;" %>
	<div class="block_main">
		<% if @recipes.total_entries == 0 %>
			<div class="block_sub_s">
				<div class="notice">
					<%= "你还没有食谱, 现在就来添加第一个食谱吧......" %>
				</div>
				<div class="todo_button">
					<%= link_to sysinfo('300001', CREATE_CN, nil, NEW_CN, {:type => RECIPE_CN}), new_mine_recipe_path %>
				</div>
			</div>
		<% else %>
			<table class="content">
				<% for recipe in @recipes %>
				  <tr>  	
				    <td class="image_colomn">
			    		<div class="list_image">
			    			<%= link_to image_tag(photo_url(cover_photo(recipe), 'recipe', 'list'), :alt => h(photo_alt(cover_photo(recipe), sysinfo('300001', '', nil, HAS_NO_CN, {:type => PHOTO_CN})))),  
			    														mine_recipe_path(recipe) %>
			    		</div>
							<div class="below_image">
								<% if has_photos?('recipe', recipe, @user) %>
									<%= link_to sysinfo('300005', '', nil, MORE_CN, {:type => PHOTO_CN, :count => photos_all('recipe', recipe, @user).size}), mine_recipe_photos_path(recipe) %>
								<% else %>
									<%= sysinfo('300001', '', nil, HAS_NO_CN, {:type => PHOTO_CN}) %>
								<% end %>
							</div>
							<div class="below_image">
								<%= link_to sysinfo('300001', ADD_CN, nil, NEW_CN, {:type => PHOTO_CN}), new_mine_recipe_photo_path(recipe) %>
							</div>
				    </td>
				    <td class="text_colomn">
				    	<div class="title"><h2><%= link_to h(recipe.title), recipe_path(recipe) %></h2></div>
				    	<div class="basic">
				    		<ul>
				    			<li class="basic">
						    		<%= "来自 " %><%= link_to "#{recipe.user.login}", user_path(recipe.user) %>
						    		&nbsp;&nbsp;
						    		<% if recipe.created_at == recipe.updated_at %>
						    			<%= "#{recipe.created_at.strftime("%Y-%m-%d %H:%M:%S")} 创建" %>
						    		<% else %>
						    			<%= "#{recipe.updated_at.strftime("%Y-%m-%d %H:%M:%S")} 更新" %>
						    		<% end %>
				    			</li>
			    				<li class="basic">
					    			<% if recipe.tag_list.size > 0 %>
						    			<%= "#{TAG_CN}: " %>					    			
						    			<% 1.upto(recipe.tag_list.size) do |i| %>
							    			<%= link_to sanitize recipe.tag_list[i-1], '' %>
							    		<% end %>
						    		<% else %>
							    		<%= "#{TAG_CN}: 还没有#{TAG_CN}" %>
						    		<% end %>
				    			</li>
				    		</ul>
				    	</div>
				    	<div class="main">
				    		<%= sanitize recipe.description_summary %>
				    	</div>
				    	<div class="todo">
				    		<%= link_to sysinfo('300003', EDIT_CN, nil, '', {:type => RECIPE_CN, :count => 1, :unit => UNIT_1_CN}), edit_mine_recipe_path(recipe) %> |
				    		<%= link_to sysinfo('300003', DELETE_CN, nil, '', {:type => RECIPE_CN, :count => 1, :unit => UNIT_1_CN}), [:mine, recipe], :confirm => sysinfo('100003', DELETE_CN, nil, '', {:type => RECIPE_CN, :count => 1, :unit => UNIT_1_CN}), :method => :delete %>
				    	</div>
				    </td>
				  </tr>
				<% end %>
			</table>
		<% end %>
	</div>
	<%= will_paginate @recipes, :prev_label => "&laquo; #{PREV_PAGE_CN}",
	 														:next_label => "#{NEXT_PAGE_CN} &raquo;" %>
</div>
