<h1>New data_element</h1>

<%= error_messages_for :data_element %>

<% form_for(@data_element) do |f| %>
  <p>
    <b>Code</b><br />
    <%= f.text_field :code %>
  </p>

  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <b>Language</b><br />
    <%= f.text_field :language %>
  </p>

  <p>
    <b>Remark</b><br />
    <%= f.text_area :remark %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', data_elements_path %>
