<p>
  <b>Code:</b>
  <%=h @data_element.code %>
</p>

<p>
  <b>Name:</b>
  <%=h @data_element.name %>
</p>

<p>
  <b>Language:</b>
  <%=h @data_element.language %>
</p>

<p>
  <b>Remark:</b>
  <%=h @data_element.remark %>
</p>


<%= link_to 'Edit', edit_data_element_path(@data_element) %> |
<%= link_to 'Back', data_elements_path %>
