<div id="<%= id %>_wrapper" class="sidebar_panel">
  <div id="<%= id %>_header" class="sidebar_panel_header">
    <div class="sidebar_block_header_link">

    </div>
    <h1><%= strip_tags block_title %></h1>
  </div>
  
  <div id="<%= id %>_detail" class="sidebar_panel_main">
    <table class="content">
      <tr>
        <td class="left_column">
          <div class="sideblock_list_photo">
            <%= link_to image_tag('partner/spooon/spooon_logo.jpg', :title => 'SPOOON - 凝聚丹麦设计精髓 创造每天平凡生活', :alt => ''), 'http://spooon.taobao.com', :target => "_blank" %>
          </div>
        </td>

        <td class="left_column">
          <div class="sideblock_list_photo">
            <%= link_to image_tag('partner/jiayoudachu/jiayoudachu_logo.jpg', :title => '《家有大厨》 - 让您成为厨艺高手', :alt => ''), 'http://www.jiayoudachu.cn/', :target => "_blank" %>
          </div>
        </td>
      </tr>
    </table>
    <!--<div class="sideblock_center_area">
      <div class="sideblock_photo">
        <= link_to image_tag('partner/spooon/spooon.jpg', :title => '凝聚丹麦设计精髓 创造每天平凡生活', :alt => ''), 'http://spooon.taobao.com', :target => '_blank' %>
       </div>
      <div>
        <= link_to '凝聚丹麦设计精髓 创造每天平凡生活', 'http://spooon.taobao.com', :title => '淘宝商城SPOOON旗舰店', :target => '_blank' %>
      </div>
      <div>
        <= link_to 'www.spooon.dk', 'http://www.spooon.dk', :title => 'SPOOON官方网站', :target => '_blank' %>
      </div>
    </div>-->
  </div>
</div>