<div id="<%= id %>_wrapper" class="sidebar_panel">
  <div id="<%= id %>_header" class="sidebar_panel_header">
    <div class="sidebar_block_header_link">
      <a href="/help#s28" target="_blank">如何参与?</a>
    </div>
    <h1><%= strip_tags block_title %></h1>
  </div>
  
  <div id="<%= id %>_detail" class="sidebar_panel_main">
    <div id="<%= id %>_total ">
      <table>
        <tr>
          <td class="love_recipe_users_total">
            <% if love_recipe_user %>
              <span class="highlight_number"><%= strip_tags(user_username(love_recipe_user, false, false)) %></span> 已贡献
            <% else %>
              <span class="highlight_number"><%= love_recipe_users.size %> 位</span> 蜂友已贡献
            <% end %>
          </td>
          <td class="love_recipes_money_total">
            <span class="highlight_number"><%= love_recipes_count %> 个</span> 爱心食谱
            <br />
            <span class="highlight_number"><%= love_recipes_count * 0.5 %> 元</span> 蜂厨慈善金
          </td>
        </tr>
      </table>
    </div>

    <% if show_stats %>
      <% love_recipe_stats = love_recipe_stats_set(love_recipe_user) %>
      <div id="<%= id %>_stats">
        <table>
          <tr>
            <th>月度</th>
            <th>贡献</th>
            <th>奖励</th>
          </tr>
          <% i = 0 %>
          <% for stat in love_recipe_stats %>
            <% i += 1 %>
            <tr class="<%= i >= love_recipe_stats.size ? 'current_month' : '' %>">
              <td class="love_recipe_month">
                <%= "第#{i}月<br />#{stat[0]}" %>
              </td>
              <td class="love_recipe_number">
                <%= "#{stat[1]}<br />￥#{stat[1] * 0.5}" %>
              </td>
              <td class="love_recipe_award">
                <% award_names = [ '贡献', '成就', '行动' ] %>
                <% if (award_user_ids = stat[2]) && award_user_ids != [] %>
                  <% award_user_index = 0 %>
                  <% if love_recipe_user %>
                    <% for award_user_id in award_user_ids %>
                      <% if (award_user = User.find_by_id(award_user_id)) && love_recipe_user == award_user %>
                        <%= "爱心#{award_names[award_user_index]}奖" %>
                        <% break %>
                      <% end %>
                      <% award_user_index += 1 %>
                    <% end %>
                  <% else %>
                    <% for award_user_id in award_user_ids %>
                      <% if award_user = User.find_by_id(award_user_id) %>
                        <% award_user_name = strip_tags(award_user.login) %>
                        <% award_name = award_names[award_user_index] %>
                        <% link_title = "恭喜 #{award_user_name} 获得了#{stat[0]}的爱心#{award_name}奖!" %>
                        <div>
                          <%= "[#{award_name}]" %>
                          <%= link_to award_user_name, user_first_link(award_user), :title => link_title %>
                        </div>
                      <% end %>
                      <% award_user_index += 1 %>
                    <% end %>
                  <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
    <% end %>

    <% if show_users %>
      <div id="<%= id %>_users">
        [蜂友排名不分先后]
        <br />
        <% for user in love_recipe_users %>
          <%= link_to strip_tags(user.login), { :controller => 'users', :action => 'profile', :id => user.id } %><span class="user_love_recipes_count"><%= "(#{user.love_recipes_count})" %></span>
        <%end%>
      </div>
    <% end %>
  </div>
</div>