<div id="recipe_<%= item.id %>_basic" class="basic">
	<h2>
		<%= render :partial => '/layouts/item_basic', 
							 :locals => { :item => item,
							 							:show_icon => true,
							 							:show_title => true,
							 							:show_link => true } %>
	</h2>
	<ul>
		<li>
			<%= render :partial => '/users/user_basic', 
								 :locals => { :user => item.user, 
								 							:show_come_from => false, 
								 							:show_icon => true,
								 							:show_name => true, 
								 							:show_link => true, 
								 							:show_username => true,
								 							:show_myname => false } %>
		</li>
		<li>
			<% if (ratings_count = item.ratings.size) > 0 %>
				<span class="rating"><%= "#{average_rating_value(item)} (#{ratings_count}票)" %></span> |
			<% else %>
				<%= "0票" %> |
			<% end %>
			<% if (favorites_count = item.favorites.size) > 0 %>
				<%= link_to "#{favorites_count}尝", item %> |
			<% else %>
				<%= "0尝" %> |
			<% end %>
			<% if (reviews_count = item.reviews.size) > 0 %>
				<%= link_to "#{reviews_count}评", item %>
			<% else %>
				<%= "0评" %>
			<% end %>
		</li>
	</ul>
</div>