<div class="basic">
	<h2><%= link_to h(item.title), recipe_url(item) %></h2>
	<ul>
		<li>
			<% if item.user == @current_user %>
	    		<%= "来自 " %><%= link_to "我", user_url(item.user) %>
	    	<% else %>
	    		<%= "来自 " %><%= link_to h(item.user.login), user_url(item.user) %>
	    	<% end %>
		</li>
		<li>
			<%= "#{item.created_at.strftime("%Y-%m-%d %H:%M:%S")} #{CREATE_CN}" %>
		</li>
		<% if item.created_at != item.updated_at %>
			<li>
				<%= "#{item.updated_at.strftime("%Y-%m-%d %H:%M:%S")} #{UPDATE_CN}" %>
			</li>
		<% end %>
		<li>
			<% if item.tag_list.size > 0 %>
				<%= "#{TAG_CN}: " %>					    			
				<% for tag in item.tag_list %>
					<%= link_to h(tag), {:action => :tag, :id => tag} %>
				<% end %>
			<% else %>
				<%= "#{TAG_CN}: 还没有#{TAG_CN}" %>
			<% end %>
		</li>
	</ul>
</div>

<div class="main">
	<ul>
		<li><%= "#{PREP_TIME_CN}: #{time_display(item.prep_time, 'hm', HOUR_CN, MINUTE_CN, SECOND_CN)}" %></li>
		<li><%= "#{COOK_TIME_CN}: #{time_display(item.cook_time, 'hm', HOUR_CN, MINUTE_CN, SECOND_CN)}" %></li>
		<li><%= "#{DIFFICULTY_CN}: #{item.difficulty}" %></li>
		<li><%= "#{YIELD_CN}: #{h item.yield}" %></li>
	</ul>
</div>

<% if show_todo %>
	<div class="todo">
		<% if item.user == @current_user %>
			<%= link_to "#{EDIT_CN}这#{UNIT_RECIPE_CN}#{RECIPE_CN}", edit_recipe_url(item) %> |
			<%= link_to "#{DELETE_CN}这#{UNIT_RECIPE_CN}#{RECIPE_CN}", recipe_url(item), :confirm => "确定要#{DELETE_CN}这#{UNIT_RECIPE_CN}#{RECIPE_CN}吗?", :method => :delete %>
		<% end %>
	</div>
<% end %>

<div>
	<ul id="rating">
	<li id="r1"><a href="#1" title="give this site a 1"><span>Abysmal</span></a></li>
	<li id="r2"><a href="#2" title="give this site a 2"><span>Terrible</span></a></li>
	<li id="r3"><a href="#3" title="give this site a 3"><span>Bad</span></a></li>
	<li id="r4"><a href="#4" title="give this site a 4"><span>Poor</span></a></li>
	<li id="r5"><a href="#5" title="give this site a 5"><span>Mediocre</span></a></li>
	<li id="r6"><a href="#6" title="give this site a 6"><span>Fair</span></a></li>
	<li id="r7"><a href="#7" title="give this site a 7"><span>Good</span></a></li>
	<li id="r8"><a href="#8" title="give this site a 8"><span>Great</span></a></li>
	<li id="r9"><a href="#9" title="give this site a 9"><span>Suberb</span></a></li>
	<li id="r10"><a href="#10" title="give this site a 10"><span>Perfect</span></a></li>
	</ul> 
</div>

<div class="main">
	<h3><%= "#{DESCRIPTION_CN}:" %></h3>
	<ul><%= paragraphs(item.description) %></ul>
</div>

<div class="main">
	<h3><%= "#{INGREDIENT_CN}:" %></h3>
	<ul><%= paragraphs(item.ingredients) %></ul>
</div>

<div class="main">
	<h3><%= "#{DIRECTION_CN}:" %></h3>
	<ol><%= paragraphs(item.directions) %></ol>
</div>

<div class="main">
	<h3><%= "#{TIP_CN}:" %></h3>
	<ol><%= paragraphs(item.tips) %></ol>
</div>