<% form_for recipe do |f| %>
	<table class="content">
		<tr>
			<td class="label"><label class="required" for="title"><%= "#{RECIPE_CN}#{TITLE_CN}:" %></label></td>
			<td class="input">
				<%= f.text_field :title, :class => "text" %>
			</td>
		</tr>
		<tr>
			<td></td>
			<td>
				<%= error_message_on "recipe", "title" %>
			</td>
		</tr>
		<tr>
			<td class="label"><label for="tags"><%= "#{TAG_CN}:" %></label></td>
			<td class="input">
				<%= f.text_field :tag_list, :class => "text" %>
			</td>
		</tr>
		<tr>
			<td class="label"><label for="prep_time"><%= "#{PREP_TIME_CN}:" %></label></td>
			<td class="input">
				<%= select_tag 'prep_time_hour', "#{select_number_options(99, recipe.prep_time_display[:h])}" %><%= " #{HOUR_CN}" %>
				<%= select_tag 'prep_time_minute', "#{select_number_options(59, recipe.prep_time_display[:m])}" %><%= " #{MINUTE_CN}" %>
			</td>
		</tr>
		<tr>
			<td></td>
			<td>
				<%= error_message_on "recipe", "prep_time" %>
			</td>
		</tr>
		<tr>
			<td class="label"><label for="cook_time"><%= "#{COOK_TIME_CN}:" %></label></td>
			<td class="input">
				<%= select_tag 'cook_time_hour', "#{select_number_options(99, recipe.cook_time_display[:h])}" %><%= " #{HOUR_CN}" %>
				<%= select_tag 'cook_time_minute', "#{select_number_options(59, recipe.cook_time_display[:m])}" %><%= " #{MINUTE_CN}" %>
			</td>
		</tr>
		<tr>
			<td></td>
			<td>
				<%= error_message_on "recipe", "cook_time" %>
			</td>
		</tr>
		<tr>
			<td class="label"><label for="difficulty"><%= "#{DIFFICULTY_CN}:" %></label></td>
			<td class="input">
				<%= f.radio_button :difficulty, 1 %><%= " #{DIFFICULTY_1_CN}&nbsp;&nbsp;&nbsp;" %>
				<%= f.radio_button :difficulty, 2 %><%= " #{DIFFICULTY_2_CN}&nbsp;&nbsp;&nbsp;" %>
				<%= f.radio_button :difficulty, 3 %><%= " #{DIFFICULTY_3_CN}&nbsp;&nbsp;&nbsp;" %>
				<%= f.radio_button :difficulty, 4 %><%= " #{DIFFICULTY_4_CN}&nbsp;&nbsp;&nbsp;" %>
				<%= f.radio_button :difficulty, 5 %><%= " #{DIFFICULTY_5_CN}&nbsp;&nbsp;&nbsp;" %>
			</td>
		</tr>
		<tr>
			<td></td>
			<td>
				<%= error_message_on "recipe", "difficulty" %>
			</td>
		</tr>
		<tr>
			<td class="label"><label for="yield"><%= "#{YIELD_CN}:" %></label></td>
			<td class="input">
				<%= f.text_field :yield, :class => "text" %>
			</td>
		</tr>
		<tr>
			<td></td>
			<td>
				<%= error_message_on "recipe", "yield" %>
			</td>
		</tr>
		<tr>
			<td class="label"><label class="required" for="description"><%= "#{DESCRIPTION_CN}:" %></label></td>
			<td class="input">
				<%= f.text_area :description %>
			</td>
		</tr>
		<tr>
			<td></td>
			<td>
				<%= error_message_on "recipe", "description" %>
			</td>
		</tr>
		<tr>
			<td class="label"><label for="ingredients"><%= "#{INGREDIENT_CN}:" %></label></td>
			<td class="input">
				<%= f.text_area :ingredients %>		
			</td>
		</tr>
		<tr>
			<td></td>
			<td>
				<%= error_message_on "recipe", "ingredients" %>
			</td>
		</tr>
		<tr>
			<td class="label"><label for="directions"><%= "#{DIRECTION_CN}:" %></label></td>
			<td class="input">
				<%= f.text_area :directions %>
			</td>
		</tr>
		<tr>
			<td></td>
			<td>
				<%= error_message_on "recipe", "directions" %>
			</td>
		</tr>
		<tr>
			<td class="label"><label for="tips"><%= "#{TIP_CN}:" %></label></td>
			<td class="input">
				<%= f.text_area :tips %>	
			</td>
		</tr>
		<tr>
			<td></td>
			<td>
				<%= error_message_on "recipe", "tips" %>
			</td>
		</tr>
		<tr>
			<td></td>
			<td class="submit">
				<%= f.submit button_name, :class => "submit" %>
				&nbsp;&nbsp;
				<%= link_to "&raquo;#{CANCLE_CN}", :action => 'mine' %>
			</td>
		</tr>
	</table>
<% end %>
