<div id="recipe_<%= item.id %>_basic">
  <div class="basic">
    <%= render :partial => 'layouts/item_basic_block',
                :locals => { :item => item } %>
  </div>

  <div class="main">
    <ul>
      <% if !item.common_title.blank? %>
        <li><em class="l2"><%= "常用#{TITLE_CN}: " %></em><%=  strip_tags item.common_title %></li>
      <% end %>
      <li><em class="l2"><%= "#{DIFFICULTY_CN}: " %></em><%= code_title('difficulty', item.difficulty) %></li>
      <li><em class="l2"><%= "#{COST_CN}: " %></em><%= code_title('recipe_cost', item.cost) %></li>
      <li><em class="l2"><%= "#{PREP_TIME_CN}: " %></em><%= code_title('recipe_time', item.prep_time) %></li>
      <li><em class="l2"><%= "#{COOK_TIME_CN}: " %></em><%= code_title('recipe_time', item.cook_time) %></li>
      <li><em class="l2"><%= "#{YIELD_CN}: " %></em><%= strip_tags item.yield %></li>
      <li>
        <%= render :partial => 'layouts/item_origin',
                    :locals => { :item => item } %>
      </li>
    </ul>
  </div>
</div>

<% if show_todo %>
  <div id="recipe_<%= item.id %>_todo" class="todo_right">
    <% if show_favorite %>
      <div id="recipe_<%= item.id %>_favorite" class="favorite_bar">
        <%= render :partial => 'favorites/favorite_bar',
                   :locals => { :favorable => item,
                                :ref => nil,
                                :favoriter_id => nil } %>
      </div>
    <% end %>

    <% if show_manage %>
      <div id="recipe_<%= item.id %>_manage">
        <%= render :partial => 'recipes/recipe_manage',
                   :locals => { :item => item,
                                :ref => 'show' } %>
      </div>
    <% end %>
  </div>
<% end %>

<% if @current_user && @current_user.is_role_of?('admin') %>
  <div id="recipe_<%= item.id %>_admin" class="admin_bar">
    <%= render :partial => 'system/item_admin_bar',
               :locals => { :item => item,
                            :ref => 'show' } %>
  </div>
<% end %>

<% if @match && @entry %>
  <div id="recipe_<%= item.id %>_match_block" class="entriable_match_block">
    <%= render :partial => 'matches/entriable_match_block',
               :locals => { :match => @match,
                            :entry => @entry,
                            :ref => 'show' } %>
  </div>
<% end %>

<div id="recipe_<%= item.id %>_photos" class="photos">
  <%= render :partial => 'layouts/item_photos_block',
              :locals => { :item => item } %>
</div>

<div id="recipe_<%= item.id %>_main" class="item_detail">
  <div class="main">
    <h3><%= DESCRIPTION_CN %></h3>
    <ul><%= paragraphs(item.description, true, true) %></ul>
  </div>

  <div class="main">
    <h3><%= INGREDIENT_CN %></h3>
    <ul class="wide_space"><%= paragraphs(item.ingredients) %></ul>
  </div>

  <div class="main">
    <h3><%= DIRECTION_CN %></h3>
    <ol><%= paragraphs(item.directions) %></ol>
  </div>

  <div class="main">
    <h3><%= TIP_CN %></h3>
    <ol><%= paragraphs(item.tips) %></ol>
  </div>

  <div class="main">
    <h3><%= "闲话" %></h3>
    <ul><%= paragraphs(item.any_else, true, true) %></ul>
  </div>

  <div class="main">
    <%= render :partial => 'layouts/item_links_block',
                :locals => { :item => item } %>
  </div>
</div>
