<div id="recipe_<%= item.id %>_basic">
	<div class="basic">
		<h2>
			<div id="recipe_<%= item.id %>_title">
				<%= render :partial => "/recipes/recipe_title", 
									 :locals => {:item => item} %>
			</div>
		</h2>
		<ul>
			<li>
				<%= "来自 " %><%= link_to h(user_username(item.user)), user_first_link(item.user) %>
			</li>
			<li>
				<%= "#{time_iso_format(item.created_at)} #{CREATE_CN}" %>
			</li>
			<% if item.created_at != item.updated_at %>
				<li>
					<%= "#{time_iso_format(item.updated_at)} #{UPDATE_CN}" %>
				</li>
			<% end %>
			<li>
				<%= "#{code_title('privacy', item.privacy)}可以看到这#{UNIT_RECIPE_CN}#{RECIPE_CN}" %>
	    	<% if @current_user && item.user == @current_user %>
	    		<%= link_to "[#{EDIT_CN}#{PRIVACY_CN}]", [item, :edit] %>
	    	<% end %>
			</li>
			<li>
				<%= "#{TAG_CN}: " %>
				<% if item.tag_list.size > 0 %>
	    		<% for tag in item.tag_list %>
		    		<%= link_to h(tag), {:controller => 'taggings', :action => 'show', :id => tag, :taggable_type => 'recipe'} %>
		    	<% end %>
		    	<% if @current_user && item.user == @current_user %>
		    		<%= link_to "[#{EDIT_CN}#{TAG_CN}]", [item, :edit] %>
		    	<% end %>
				<% else %>
		    	<%= "还没有#{TAG_CN}" %>
		    	<% if @current_user && item.user == @current_user %>
		    		<%= link_to "[#{ADD_CN}#{TAG_CN}]", [item, :edit] %>
		    	<% end %>
				<% end %>
			</li>
		</ul>
	</div>
	
	<div class="main">
		<ul>
			<li><%= "#{DIFFICULTY_CN}: #{code_title('difficulty', item.difficulty)}" %></li>
			<li><%= "#{COST_CN}: #{code_title('recipe_cost', item.cost)}" %></li>
			<li><%= "#{PREP_TIME_CN}: #{code_title('recipe_time', item.prep_time)}" %></li>
			<li><%= "#{COOK_TIME_CN}: #{code_title('recipe_time', item.cook_time)}" %></li>
			<li><%= "#{YIELD_CN}: #{h item.yield}" %></li>
			<li>
				<%= "#{FROM_WHERE_CN}: #{code_title('from_type', item.from_type)}" %>
				<% if !item.from_where.blank? %>
					<%= "(#{h item.from_where})" %>
				<% end %>
			</li>
		</ul>
	</div>
</div>

<% if show_todo %>
	<div id="recipe_<%= item.id %>_todo" class="todo_right">
		<%= render :partial => "/recipes/recipe_todo", 
							 :locals => {:item => item} %>
	</div>
<% end %>

<div id="recipe_<%= item.id %>_photos" class="photos">
	<% if cover_photo = cover_photo(item) %>
		<div id="main_photo" class="cover_photo">
			<%= render :partial => "/photos/photo_photo",
								 :locals => {:photo => cover_photo, 
								 						 :show_cover => false, 
								 						 :focus_photo => nil, 
								 						 :photo_style => 'full', 
								 						 :photo_link_url => nil, 
								 						 :photo_link_remote => true} %>
		</div>
		<% if photos_set %>
			<div id="photos_nav" >
			<%= render :partial => "/photos/photos_matrix",
								 :locals => {:show_paginate => false,
								 						 :photos_set => photos_set,
								 						 :limit => nil, 
								 						 :show_photo => true, 
								 						 :focus_photo => cover_photo, 
								 						 :photos_count_per_row => MATRIX_ITEMS_COUNT_PER_ROW_M, 
								 						 :photo_style => 'matrix', 
								 						 :photo_link_remote => true, 
								 						 :show_below_photo => false,
								 						 :show_cover => true, 
								 						 :show_photo_todo => false} %>
			</div>
		<% end %>
	<% end %>			
	<div class="below_photo">
		<%= render :partial => "/layouts/below_item_photo", 
							 :locals => {:item => item, 
							 						 :show_title => false, 
							 						 :show_photo_todo => true} %>
	</div>
</div>

<div id="recipe_<%= item.id %>_video" class="video">
	<% if item.video_url && !item.video_url.blank? %>
		<%= item.video_url %>
	<% else %>
		<ul>
			<li>
				<%= "还没有#{VIDEO_CN}" %>
			</li>
			<% if @current_user && item.user == @current_user %>
				<li>
					<%= link_to "#{ADD_CN}#{VIDEO_CN}", [item, :edit] %>
				</li>
			<% end %>
		<ul>
	<% end %>
</div>

<div id="recipe_<%= item.id %>_main">
	<div class="main">
		<h3><%= "#{DESCRIPTION_CN}:" %></h3>
		<ul><%= paragraphs(item.description, true) %></ul>
	</div>
	
	<div class="main">
		<h3><%= "#{INGREDIENT_CN}:" %></h3>
		<ul><%= paragraphs(item.ingredients, false, 2) %></ul>
	</div>
	
	<div class="main">
		<h3><%= "#{DIRECTION_CN}:" %></h3>
		<ol><%= paragraphs(item.directions) %></ol>
	</div>
	
	<div class="main">
		<h3><%= "#{TIP_CN}:" %></h3>
		<ol><%= paragraphs(item.tips) %></ol>
	</div>
	
	<div class="main">
		<h3><%= "闲话:" %></h3>
		<ul><%= paragraphs(item.any_else, true) %></ul>
	</div>
</div>
