<div class="basic">
	<h2>
		<!-- <%= "[#{code_title('from_type', item.from_type)}] " %> -->
		<% if item.from_type == '1' %>
			<%= image_tag 'default/other/private.png', :title => '私房', :class => "icon" %>
		<% end %>
		<%= link_to h(item.title), item %>
	</h2>
	<ul>
		<li>
			<%= "来自 " %><%= link_to h(user_username(item.user)), user_first_link(item.user) %>
		</li>
		<li>
			<%= "#{time_iso_format(item.created_at)} #{CREATE_CN}" %>
		</li>
		<% if item.created_at != item.updated_at %>
			<li>
				<%= "#{time_iso_format(item.updated_at)} #{UPDATE_CN}" %>
			</li>
		<% end %>
		<li>
			<% if item.tag_list.size > 0 %>
				<%= "#{TAG_CN}: " %>					    			
				<% for tag in item.tag_list %>
					<%= link_to h(tag), {:action => :tags, :id => tag} %>
				<% end %>
			<% else %>
				<%= "#{TAG_CN}: 还没有#{TAG_CN}" %>
			<% end %>
		</li>
	</ul>
</div>

<div class="main">
	<ul>
		<li><%= "#{DIFFICULTY_CN}: #{code_title('difficulty', item.difficulty)}" %></li>
		<li><%= "#{COST_CN}: #{code_title('recipe_cost', item.cost)}" %></li>
		<li><%= "#{PREP_TIME_CN}: #{code_title('recipe_time', item.prep_time)}" %></li>
		<li><%= "#{COOK_TIME_CN}: #{code_title('recipe_time', item.cook_time)}" %></li>
		<li><%= "#{YIELD_CN}: #{h item.yield}" %></li>
		<li>
			<%= "#{FROM_WHERE_CN}: #{code_title('from_type', item.from_type)}" %>
			<% if !item.from_where.blank? %>
				<%= "(#{h item.from_where})" %>
			<% end %>
		</li>
	</ul>
</div>

<% if show_todo %>
	<div class="todo_right">
		<% if item.user == @current_user %>
			<%= link_to "#{EDIT_CN}这#{UNIT_RECIPE_CN}#{RECIPE_CN}", edit_recipe_url(item) %> |
			<%= link_to "#{DELETE_CN}这#{UNIT_RECIPE_CN}#{RECIPE_CN}", item, :confirm => "确定要#{DELETE_CN}这#{UNIT_RECIPE_CN}#{RECIPE_CN}吗?", :method => :delete %>
		<% end %>
	</div>
<% end %>

<div class="photos">
	<%= render :partial => "/photos/photos_matrix",
						 :locals => {:photos => photos, 
						 						 :photos_count_per_row => MATRIX_ITEMS_COUNT_PER_ROW_M, 
						 						 :photoable => item, 
						 						 :photo_link_url => false, 
						 						 :photo_style => 'matrix', 
						 						 :show_photo => true, 
						 						 :show_photo_todo => false, 
						 						 :show_cover => false} %>
						
	<div class="below_photo">
		<%= render :partial => "/layouts/item_below_photo", 
							 :locals => {:item_type => 'recipe', 
							 						 :item => item, 
							 						 :show_title => false, 
							 						 :show_photo_todo => true} %>
	</div>
</div>

<% if item.video_url && !item.video_url.blank? %>
	<div class="video">
		<%= item.video_url %>
	</div>
<% end %>

<div class="main">
	<h3><%= "#{DESCRIPTION_CN}:" %></h3>
	<ul><%= paragraphs(item.description) %></ul>
</div>

<div class="main">
	<h3><%= "#{INGREDIENT_CN}:" %></h3>
	<ul><%= paragraphs(item.ingredients) %></ul>
</div>

<div class="main">
	<h3><%= "#{DIRECTION_CN}:" %></h3>
	<ol><%= paragraphs(item.directions) %></ol>
</div>

<div class="main">
	<h3><%= "#{TIP_CN}:" %></h3>
	<ol><%= paragraphs(item.tips) %></ol>
</div>

<div class="main">
	<h3><%= "闲话:" %></h3>
	<ul><%= paragraphs(item.any_else) %></ul>
</div>