<div class="basic">
	<h2>
		<%= "[#{code_title('from_type', item.from_type)}] " %><%= link_to h(item.title), item %>
	</h2>
	<ul>
		<li>
			<%= link_to h(user_username(item.user)), user_first_link(item.user) %>
			&nbsp;
			<%= time_iso_format(item.created_at) %>
		</li>
		<li>
			<%= "#{TAG_CN}: " %>
			<% if item.tag_list.size > 0 %>
    		<% for tag in item.tag_list %>
	    		<%= link_to h(tag), {:action => :tags, :id => tag} %>
	    	<% end %>
			<% else %>
	    	<%= "还没有#{TAG_CN}" %>
			<% end %>
		</li>
	</ul>
</div>

<div class="main">
	<ul>
		<li>
			<%= "#{RATE_CN}: " %>
			<% if item.ratings.size > 0 %>
				<%= "#{average_rating_value(item)}/10 (#{item.ratings.size}票)" %>
			<% else %>
				<%= "还没有#{RATE_CN}" %>
			<% end %>
		</li>
		<%= paragraphs(item.description_summary) %>
	</ul>
	<% if (reviews_count = reviews_for(nil, 'recipe', item.id, nil, nil, 'created_at DESC').size) > 0 %>
		<%= link_to "(#{reviews_count}#{UNIT_REVIEW_CN}#{REVIEW_CN})", 
								item %>
	<% end %>
</div>

<% if show_todo %>
	<div class="todo_right">
		<% if item.user == @current_user %>
			<%= link_to "#{EDIT_CN}这#{UNIT_RECIPE_CN}#{RECIPE_CN}", edit_recipe_url(item) %> |
			<%= link_to "#{DELETE_CN}这#{UNIT_RECIPE_CN}#{RECIPE_CN}", item, :confirm => "确定要#{DELETE_CN}这#{UNIT_RECIPE_CN}#{RECIPE_CN}吗?", :method => :delete %>
		<% end %>
	</div>
<% end %>