<% if is_new %>
	<% button_name = "#{CREATE_CN}新#{RECIPE_CN}" %>
	<% cancle_url = url_for(:action => 'mine') %>
<% else %>
	<% button_name = SAVE_CHANGES_CN %>
	<% cancle_url = recipe %>
<% end %>

<% form_for recipe do |f| %>
	<div class="sub_block_tb">
	<table class="content">
		<tr>
			<td class="label">
				<label class="required" for="title"><%= "#{RECIPE_CN}#{TITLE_CN}:" %></label>
			</td>
			<td class="input">
				<div class="text">
					<%= "这个#{TITLE_CN}可以起得很个性, 不过也要言之有物, 反映出#{RECIPE_CN}本身的特性和特色" %><br />
					<%= "如：小米椒爱上小公鸡" %>
				</div>
				<div class="input">
					<%= f.text_field :title, :class => "text" %>
				</div>
				<%= error_message_on "recipe", "title" %>
			</td>
		</tr>
		<tr>
			<td class="label">
				<label for="common_title"><%= "常用#{TITLE_CN}:" %></label>
			</td>
			<td class="input">
				<div class="text">
					<%= "为了让大伙儿更容易发现这#{unit_for('Recipe')}#{RECIPE_CN}, 这个常用#{TITLE_CN}最好就别太个性了" %><br />
					<%= "如: 上面\"小米椒爱上小公鸡\"的常用#{TITLE_CN}或许就叫\"尖椒鸡块\"" %>
				</div>
				<div class="input">
					<%= f.text_field :common_title, :class => "text" %>
				</div>
				<%= error_message_on "recipe", "common_title" %>
			</td>
		</tr>
		<tr>
			<td class="label">
				<label class="required" for="tag_list"><%= "#{TAG_CN}:" %></label>
			</td>
			<td class="input">
				<div class="text">
					<%= "为了让大伙儿更容易发现这#{unit_for('Recipe')}#{RECIPE_CN}, 请准确#{INPUT_CN}与#{RECIPE_CN}有关的关键词作为#{TAG_CN}" %><br />
					<%= "<em class='more'>可以从\"主料 / 口味 / 类型 / 菜系 / 地域 / 场合 / 节日 / 功效\"等多个角度设置#{TAG_CN}</em>" %><br />
					<%= "<em class='more'>#{TAG_CN}之间请用\"空格\"分隔</em>" %><br />
					<%= "如: 鱼肉&nbsp;&nbsp;咖喱&nbsp;&nbsp;东南亚&nbsp;&nbsp;生日" %><br />
					<%= "<em class='more'>请尽量避免使用\"美食&nbsp;&nbsp;饮食\"等这样不能反映#{RECIPE_CN}个性特色和内涵的词汇</em>" %>
				</div>
				<div class="input">
					<%= f.text_field :tag_list, :class => "text" %>
				</div>
			</td>
		</tr>
		<tr>
			<td class="label">
				<label class="required" for="difficulty"><%= "#{DIFFICULTY_CN}:" %></label>
			</td>
			<td class="input">
				<div class="radio">
					<% for c in Code.find(:all, :conditions => {:codeable_type => 'difficulty'}, :order => 'code') %>
						<%= f.radio_button :difficulty, c.code, :class => "radio_button" %><%= c.title %>&nbsp;&nbsp;
					<% end %>
				</div>
				<%= error_message_on "recipe", "difficulty" %>
			</td>
		</tr>
		<tr>
			<td class="label">
				<label for="cost"><%= "#{COST_CN}:" %></label>
			</td>
			<td class="input">
				<div class="input">
					<%= f.select :cost, Code.find(:all, :conditions => {:codeable_type => 'recipe_cost'}).collect {|c| [ c.title, c.code ] }, {:include_blank => true} %>
				</div>
				<%= error_message_on "recipe", "cost" %>
			</td>
		</tr>
		<tr>
			<td class="label">
				<label for="prep_time"><%= "#{PREP_TIME_CN}:" %></label>
			</td>
			<td class="input">
				<div class="input">
					<%= f.select :prep_time, Code.find(:all, :conditions => {:codeable_type => 'recipe_time'}).collect {|c| [ c.title, c.code ] }, {:include_blank => true} %>
				</div>
				<%= error_message_on "recipe", "prep_time" %>
			</td>
		</tr>
		<tr>
			<td class="label">
				<label for="cook_time"><%= "#{COOK_TIME_CN}:" %></label>
			</td>
			<td class="input">
				<div class="input">
					<%= f.select :cook_time, Code.find(:all, :conditions => {:codeable_type => 'recipe_time'}).collect {|c| [ c.title, c.code ] }, {:include_blank => true} %>
				</div>
				<%= error_message_on "recipe", "cook_time" %>
			</td>
		</tr>
		<tr>
			<td class="label">
				<label for="yield"><%= "#{YIELD_CN}:" %></label>
			</td>
			<td class="input">
				<div class="text">
					<%= "请根据相关#{INGREDIENT_CN}的使用量确定#{YIELD_CN}" %><br />
					<%= "<em class='more'>数字请使用\"阿拉伯数字(0-9)\", 非整数请使用\"小数\"或\"分数\", 单位请使用\"标准单位\"</em>" %><br />
					<%= "如: 4人份, 18-20个, 9寸左右(Pizza)" %>
				</div>
				<div class="input">
					<%= f.text_field :yield, :class => "text" %>
				</div>
				<%= error_message_on "recipe", "yield" %>
			</td>
		</tr>
		<tr>
			<td class="label">
				<label class="required" for="description"><%= "#{DESCRIPTION_CN}:" %></label>
			</td>
			<td class="input">
				<div class="text">
					<%= "请#{INPUT_CN}#{RECIPE_CN}的简介和特色等" %>
				</div>
				<div class="input">
					<%= f.text_area :description %>
				</div>
				<%= error_message_on "recipe", "description" %>
			</td>
		</tr>
		<tr>
			<td class="label">
				<label class="required" for="ingredients"><%= "#{INGREDIENT_CN}:" %></label>
			</td>
			<td class="input">
				<div class="text">
					<%= "<em class='more'>每一行请只#{INPUT_CN}一种#{INGREDIENT_CN}</em>" %><br />
					<%= "<em class='more'>每种#{INGREDIENT_CN}请按照\"用料名称&nbsp;&nbsp;使用量&nbsp;&nbsp;补充说明\"的格式, 各部分之间请用\"空格\"分隔</em>" %><br />
					<%= "<em class='more'>数字请使用\"阿拉伯数字(0-9)\", 非整数请使用\"小数\"或\"分数\", 单位请使用\"标准单位\"</em>" %><br />
					<%= "如: 猪里脊肉&nbsp;&nbsp;500g, 八角&nbsp;&nbsp;2-4颗" %><br />
					<%= "<em class='more'>如果需要分组, 请为\"分组名称\"加上方括号\"[&nbsp;&nbsp;]\"</em>" %><br />
					<%= "如: [主料], [配料], [调料]" %>
				</div>
				<div class="input">
					<%= f.text_area :ingredients %>
				</div>
				<%= error_message_on "recipe", "ingredients" %>
			</td>
		</tr>
		<tr>
			<td class="label">
				<label for="tools"><%= "#{TOOL_CN}:" %></label>
			</td>
			<td class="input">
				<div class="text">
					<%= "<em class='more'>每一行请只#{INPUT_CN}一种工具或装备等</em>" %><br />
					<%= "如: 烤箱, 平底锅, 微波炉, 挖球器" %><br />
					<%= "<em class='more'>如果需要分组, 请为\"分组名称\"加上方括号\"[&nbsp;&nbsp;]\"</em>" %><br />
					<%= "如: [锅类], [刀具], [其他]" %>
				</div>
				<div class="input">
					<%= f.text_area :tools %>
				</div>
				<%= error_message_on "recipe", "tools" %>
			</td>
		</tr>
		<tr>
			<td class="label">
				<label class="required" for="directions"><%= "#{DIRECTION_CN}:" %></label>
			</td>
			<td class="input">
				<div class="text">
					<%= "请#{INPUT_CN}#{DIRECTION_CN}和步骤等" %><br />
					<%= "<em class='more'>每个段落会自动编号, 不需要自己再加编号了</em>" %><br />
					<%= "<em class='more'>如果需要分组, 请为\"分组名称\"加上方括号\"[&nbsp;&nbsp;]\"</em>" %><br />
					<%= "如: [酱料的做法], [烘烤的步骤]" %>
				</div>
				<div class="input">
					<%= f.text_area :directions %>
				</div>
				<%= error_message_on "recipe", "directions" %>
			</td>
		</tr>
		<tr>
			<td class="label">
				<label for="tips"><%= "#{TIP_CN}:" %></label>
			</td>
			<td class="input">
				<div class="text">
					<%= "请#{INPUT_CN}有关的注意事项" %><br />
					<%= "<em class='more'>每个段落会自动编号, 不需要自己再加编号了</em>" %><br />
					<%= "<em class='more'>如果需要分组, 请为\"分组名称\"加上方括号\"[&nbsp;&nbsp;]\"</em>" %><br />
					<%= "如: [制作酱料的窍门], [烘烤的注意事项]" %>
				</div>
				<div class="input">
					<%= f.text_area :tips %>
				</div>
					<%= error_message_on "recipe", "tips" %>
			</td>
		</tr>
		<tr>
			<td class="label">
				<label for="any_else"><%= "闲话:" %></label>
			</td>
			<td class="input">
				<div class="text">
					<%= "可以在这里#{INPUT_CN}其他任何的内容" %>
				</div>
				<div class="input">
					<%= f.text_area :any_else %>
				</div>
				<%= error_message_on "recipe", "any_else" %>
			</td>
		</tr>
		<tr>
			<td class="label">
				<label class="required" for="from_type"><%= "#{FROM_WHERE_CN}:" %></label>
			</td>
			<td class="input">
				<div class="text">
					<%= "这是原创的私房#{RECIPE_CN}吗?" %>
				</div>
				<div id="from_type" class="input">
					<%= f.select :from_type, Code.find(:all, :conditions => {:codeable_type => 'from_type'}).collect {|c| [ c.title, c.code ]}, {}, {:onchange => remote_function(:url => { :controller => 'system', :action => 'change_from_type', :item_type => 'recipe' }, :with => "'from_type='+value")} %>
				</div>
				<div id="from_where_wrapper">
                    <% from_type = !recipe.from_type ? '1' : recipe.from_type %>
					<% if from_type == '1' %>
						<%= f.hidden_field :from_where %>
					<% else %>
						<div id="from_where_prompt" class="text">
							<%= "如果是转载的, 请#{INPUT_CN}转载的报刊/书籍/网址等" %>
						</div>
						<div id="from_where" class="input">
							<%= f.text_field :from_where, :class => "text" %>
						</div>
					<% end %>
				</div>
				<%= error_message_on "recipe", "from_type" %>
				<div id="from_where_errors">
					<%= error_message_on "recipe", "from_where" %>
				</div>
			</td>
		</tr>
		<tr>
			<td class="label">
				<label class="required" for="privacy"><%= "#{PRIVACY_CN}:" %></label>
			</td>
			<td class="input">
				<div class="text">
					<%= "谁可以看见这个#{RECIPE_CN}?" %>
				</div>
				<div class="input">
                    <% disabled = true if recipe.entried? %>
					<%= f.select :privacy, Code.find(:all, :conditions => {:codeable_type => 'privacy'}).collect {|c| [ c.title, c.code ] }, { }, { :disabled => disabled } %>
				</div>
				<%= error_message_on "recipe", "privacy" %>
			</td>
		</tr>
		<tr>
			<td class="label">
			</td>
			<td class="input">
				<br />
				<div class="text">
					<% if recipe.publishable? %>
						<%= "<em class='l3'>这#{unit_for('Recipe')}#{RECIPE_CN}是草稿, 还没有发布</em>" %>
					<% elsif recipe.published? %>
						<%= "<em class='l3'>这#{unit_for('Recipe')}#{RECIPE_CN}已经发布</em>" %>
					<% else %>
						<%= "<em class='l3'>这#{unit_for('Recipe')}#{RECIPE_CN}还没有#{PHOTO_CN}, 只能保存为草稿, 目前不能发布</em>" %>
					<% end %>
				</div>
				<% if is_new %>
					<div class="input">
						<%= hidden_field_tag "recipe[is_draft]", '1' %>
					</div>
					<%= error_message_on "recipe", "is_draft" %>
				<% end %>
			</td>
		</tr>
		<tr>
			<td></td>
			<td class="input">
				<div class="submit">
					<%= f.submit button_name, :disable_with => "#{SAVE_CN}中...", :class => "submit" %>
					&nbsp;&nbsp;
					<%= link_to "&raquo;#{CANCLE_CN}", cancle_url %>
				</div>
			</td>
		</tr>
	</table>
	</div>
<% end %>
