<div id="recipe_<%= item.id %>_basic" class="basic">
	<h2>
		<!-- <%= "[#{code_title('from_type', item.from_type)}] " %> -->
		<% if item.from_type == '1' %>
			<%= image_tag 'default/other/private.png', :title => PRIVATE_HOME_CN, :class => "icon" %>
		<% end %>
		<%= link_to strip_tags(item.title), item %>
		<%= "#{add_brackets(code_title('is_draft', item.is_draft))}" %>
	</h2>
	<ul>
		<li>
			<%= link_to strip_tags(user_username(item.user)), user_first_link(item.user) %>
			&nbsp;
			<%= time_iso_format(item.created_at) %>
		</li>
		<li>
			<%= "#{TAG_CN}: " %>
			<% if item.tag_list.size > 0 %>
    		<% for tag in item.tag_list %>
	    		<%= link_to strip_tags(tag), {:controller => 'taggings', :action => 'show', :id => tag, :taggable_type => 'recipe'} %>
	    	<% end %>
			<% else %>
	    	<%= "还没有#{TAG_CN}" %>
			<% end %>
		</li>
		<li id="recipe_<%= item.id %>_stats">
			<%= render :partial => '/recipes/recipe_stats', 
								 :locals => { :item => item } %>
		</li>
	</ul>
</div>

<div id="recipe_<%= item.id %>_main" class="main">
	<ul>
		<%= paragraphs(item.description_summary, true, 1, 5) %>
	</ul>
</div>

<% if show_todo %>
	<div id="recipe_<%= item.id %>_todo" class="todo_right">
		<% if show_favorite %>
			<div id="recipe_<%= item.id %>_favorite">
				<%= render :partial => '/favorites/favorite_bar', 
									 :locals => { :favorable => item, 
									 							:back_to_type => params[:action] } %>
			</div>
		<% end %>
		
		<% if show_manage %>
			<div id="recipe_<%= item.id %>_manage">
				<%= render :partial => '/recipes/recipe_manage', 
									 :locals => { :item => item, 
									 							:for_show => false, 
									 							:delete_remote => delete_remote } %>
			</div>
		<% end %>	
	</div>
<% end %>