<div class="basic">
	<h2><%= link_to h(item.title), recipe_url(item) %></h2>
	<ul>
		<li>
			<%= "来自 " %><%= link_to h(item_username(item)), user_url(item.user) %>
			&nbsp;&nbsp;
			<%= "#{item.created_at.strftime("%Y-%m-%d %H:%M:%S")} #{CREATE_CN}" %>
		</li>
		<li>
			<%= "#{TAG_CN}: " %>
			<% if item.tag_list.size > 0 %>
    		<% for tag in item.tag_list %>
	    		<%= link_to h(tag), {:action => :tag, :id => tag} %>
	    	<% end %>
			<% else %>
	    	<%= "还没有#{TAG_CN}" %>
			<% end %>
		</li>
	</ul>
</div>

<div class="main">
	<ul>
		<li>
			<%= "#{RATE_CN}: " %>
			<% if ratings_count(item) > 0 %>
				<%= "#{total_rating(item)}/10 (#{ratings_count(item)}票)" %>
			<% else %>
				<%= "还没有#{RATE_CN}" %>
			<% end %>
		</li>
		<%= paragraphs(item.description_summary) %>
	</ul>
	<% if (reviews_count = reviews_for(nil, 'recipe', item.id, 'created_at DESC').size) > 0 %>
		<%= link_to "(#{reviews_count}#{UNIT_REVIEW_CN}#{REVIEW_CN})", 
								restfu_url_for(nil, {:type => 'recipe', :id => item.id}, {:type => 'review'}, nil) %>
	<% end %>
</div>

<% if show_todo %>
	<div class="todo">
		<% if item.user == @current_user %>
			<%= link_to "#{EDIT_CN}这#{UNIT_RECIPE_CN}#{RECIPE_CN}", edit_recipe_url(item) %> |
			<%= link_to "#{DELETE_CN}这#{UNIT_RECIPE_CN}#{RECIPE_CN}", recipe_url(item), :confirm => "确定要#{DELETE_CN}这#{UNIT_RECIPE_CN}#{RECIPE_CN}吗?", :method => :delete %>
		<% end %>
	</div>
<% end %>