<% if is_new %>
	<% button_name = "#{CREATE_CN}新#{RECIPE_CN}" %>
	<% cancle_url = {:action => 'mine'} %>
<% else %>
	<% button_name = SAVE_CHANGES_CN %>
	<% cancle_url = recipe %>
<% end %>

<% form_for recipe do |f| %>
	<div class="sub_block_tb">
	<table class="content">
		<tr>
			<td class="label">
				<label class="required" for="title"><%= "#{RECIPE_CN}#{TITLE_CN}:" %></label>
			</td>
			<td class="input">
				<div class="input">
					<%= f.text_field :title, :class => "text" %>
				</div>
				<%= error_message_on "recipe", "title" %>
			</td>
		</tr>
		<tr>
			<td class="label">
				<label for="tags"><%= "#{TAG_CN}:" %></label>
			</td>
			<td class="input">
				<div class="text">
					<%= "请#{INPUT_CN}与#{RECIPE_CN}有关的关键字作为#{TAG_CN}, 可方便#{RECIPE_CN}的#{SEARCH_CN}和#{CATEGORY_CN}" %><br />
					<%= "#{TAG_CN}之间请用\"空格\"分隔, 如: \"鱼肉 咖喱 东南亚 生日\"" %>
				</div>
				<div class="input">
					<%= f.text_field :tag_list, :class => "text" %>
				</div>
			</td>
		</tr>
		<tr>
			<td class="label">
				<label for="difficulty"><%= "#{DIFFICULTY_CN}:" %></label>
			</td>
			<td class="input">
				<div class="radio">
					<% for d in Code.find(:all, :conditions => {:codeable_type => 'difficulty'}, :order => 'code') %>
						<%= f.radio_button :difficulty, d.code, :class => "radio_button" %><%= d.title %>&nbsp;&nbsp;
					<% end %>
				</div>
				<%= error_message_on "recipe", "difficulty" %>
			</td>
		</tr>
		<tr>
			<td class="label">
				<label for="cost"><%= "#{COST_CN}:" %></label>
			</td>
			<td class="input">
				<div class="input">
					<%= f.select :cost, Code.find(:all, :conditions => {:codeable_type => 'recipe_cost'}).collect {|c| [ c.title, c.code ] }, {:include_blank => true} %>
				</div>
				<%= error_message_on "recipe", "cost" %>
			</td>
		</tr>
		<tr>
			<td class="label">
				<label for="prep_time"><%= "#{PREP_TIME_CN}:" %></label>
			</td>
			<td class="input">
				<div class="input">
					<%= f.select :prep_time, Code.find(:all, :conditions => {:codeable_type => 'recipe_time'}).collect {|c| [ c.title, c.code ] }, {:include_blank => true} %>
				</div>
				<%= error_message_on "recipe", "prep_time" %>
			</td>
		</tr>
		<tr>
			<td class="label">
				<label for="cook_time"><%= "#{COOK_TIME_CN}:" %></label>
			</td>
			<td class="input">
				<div class="input">
					<%= f.select :cook_time, Code.find(:all, :conditions => {:codeable_type => 'recipe_time'}).collect {|c| [ c.title, c.code ] }, {:include_blank => true} %>
				</div>
				<%= error_message_on "recipe", "cook_time" %>
			</td>
		</tr>
		<tr>
			<td class="label">
				<label for="yield"><%= "#{YIELD_CN}:" %></label>
			</td>
			<td class="input">
				<div class="text">
					<%= "请#{INPUT_CN}#{YIELD_CN}, 如: 4人份, 18-20个, 9寸左右(馅饼)等" %>
				</div>
				<div class="input">
					<%= f.text_field :yield, :class => "text" %>
				</div>
				<%= error_message_on "recipe", "yield" %>
			</td>
		</tr>
		<tr>
			<td class="label">
				<label class="required" for="description"><%= "#{DESCRIPTION_CN}:" %></label>
			</td>
			<td class="input">
				<div class="text">
					<%= "请#{INPUT_CN}#{RECIPE_CN}的简介和特色等" %>
				</div>
				<div class="input">
					<%= f.text_area :description %>
				</div>
				<%= error_message_on "recipe", "description" %>
			</td>
		</tr>
		<tr>
			<td class="label">
				<label for="ingredients"><%= "#{INGREDIENT_CN}:" %></label>
			</td>
			<td class="input">
				<div class="text">
					<%= "每一行请只#{INPUT_CN}一种#{INGREDIENT_CN}, 并按照\"用料名称 用量 补充说明\"的格式(以\"空格\"分隔)" %><br />
					<%= "如: 猪里脊肉 500g" %>
				</div>
				<div class="input">
					<%= f.text_area :ingredients %>
				</div>
				<%= error_message_on "recipe", "ingredients" %>
			</td>
		</tr>
		<tr>
			<td class="label">
				<label for="directions"><%= "#{DIRECTION_CN}:" %></label>
			</td>
			<td class="input">
				<div class="text">
					<%= "请#{INPUT_CN}#{DIRECTION_CN}和步骤等, 每个段落会自动编号" %>
				</div>
				<div class="input">
					<%= f.text_area :directions %>
				</div>
				<%= error_message_on "recipe", "directions" %>
			</td>
		</tr>
		<tr>
			<td class="label">
				<label for="tips"><%= "#{TIP_CN}:" %></label>
			</td>
			<td class="input">
				<div class="text">
					<%= "请#{INPUT_CN}有关的注意事项, 每个段落会自动编号" %>
				</div>
				<div class="input">
					<%= f.text_area :tips %>
				</div>
					<%= error_message_on "recipe", "tips" %>
			</td>
		</tr>
		<tr>
			<td class="label">
				<label for="any_else"><%= "闲话:" %></label>
			</td>
			<td class="input">
				<div class="text">
					<%= "可以在这里#{INPUT_CN}其他任何的内容" %>
				</div>
				<div class="input">
					<%= f.text_area :any_else %>
				</div>
				<%= error_message_on "recipe", "any_else" %>
			</td>
		</tr>
		<tr>
			<td class="label">
				<label for="video_url"><%= "#{VIDEO_URL_CN}:" %></label>
			</td>
			<td class="input">
				<div class="text">
					<%= "如果有#{RECIPE_CN}的#{VIDEO_CN}, 请#{INPUT_CN}#{VIDEO_CN}的#{URL_CN}" %>
				</div>
				<div class="input">
					<%= f.text_field :video_url, :class => "text" %>
				</div>
				<%= error_message_on "recipe", "video_url" %>
			</td>
		</tr>
		<tr>
			<td class="label">
				<label class="required" for="from_type"><%= "#{FROM_WHERE_CN}:" %></label>
			</td>
			<td class="input">
				<div class="text">
					<%= "这是原创的私房#{RECIPE_CN}吗?" %>
				</div>
				<div class="input">
					<%= f.select :from_type, Code.find(:all, :conditions => {:codeable_type => 'from_type'}).collect {|c| [ c.title, c.code ] } %>
				</div>
				<div class="text">
					<%= "如果是转载的, 请#{INPUT_CN}转载的报刊/书籍/网址等" %>
				</div>
				<div class="input">
					<%= f.text_field :from_where, :class => "text" %>
				</div>
				<%= error_message_on "recipe", "from_type" %>
				<%= error_message_on "recipe", "from_where" %>
			</td>
		</tr>
		<tr>
			<td class="label">
				<label class="required" for="privacy"><%= "#{PRIVACY_CN}:" %></label>
			</td>
			<td class="input">
				<div class="text">
					<%= "谁可以看见这个#{RECIPE_CN}?" %>
				</div>
				<div class="input">
					<%= f.select :privacy, Code.find(:all, :conditions => {:codeable_type => 'privacy'}).collect {|c| [ c.title, c.code ] } %>
				</div>
				<%= error_message_on "recipe", "privacy" %>
			</td>
		</tr>
		<tr>
			<td></td>
			<td class="input">
				<div class="submit">
					<%= f.submit button_name, :class => "submit" %>
					&nbsp;&nbsp;
					<%= link_to "&raquo;#{CANCLE_CN}", cancle_url %>
				</div>
			</td>
		</tr>
	</table>
	</div>
<% end %>
