<% if is_new %>
	<% button_name = "#{CREATE_CN}新#{RECIPE_CN}" %>
	<% cancle_url = {:action => 'mine'} %>
<% else %>
	<% button_name = SAVE_CHANGES_CN %>
	<% cancle_url = recipe %>
<% end %>

<% form_for recipe do |f| %>
	<div class="sub_block_tb">
	<table class="content">
		<tr>
			<td class="label">
				<label class="required" for="title"><%= "#{RECIPE_CN}#{TITLE_CN}:" %></label>
			</td>
			<td class="input">
				<div class="input">
					<%= f.text_field :title, :class => "text" %>
				</div>
				<%= error_message_on "recipe", "title" %>
			</td>
		</tr>
		<tr>
			<td class="label">
				<label for="tags"><%= "#{TAG_CN}:" %></label>
			</td>
			<td class="input">
				<div class="text">
					<%= "为了让大伙儿更容易发现你的#{RECIPE_CN}, 请准确#{INPUT_CN}与#{RECIPE_CN}有关的关键字作为#{TAG_CN}" %><br />
					<%= "<em class='more'>可以从\"主料 / 口味 / 类型 / 菜系 / 地域 / 场合和节日 / 功效\"等多个角度设置#{TAG_CN}</em>" %><br />
					<%= "<em class='more'>#{TAG_CN}之间请用\"空格\"分隔</em>" %><br />
					<%= "如: \"鱼肉&nbsp;&nbsp;咖喱&nbsp;&nbsp;东南亚&nbsp;&nbsp;生日\"" %>
				</div>
				<div class="input">
					<%= f.text_field :tag_list, :class => "text" %>
				</div>
			</td>
		</tr>
		<tr>
			<td class="label">
				<label for="difficulty"><%= "#{DIFFICULTY_CN}:" %></label>
			</td>
			<td class="input">
				<div class="radio">
					<% for c in Code.find(:all, :conditions => {:codeable_type => 'difficulty'}, :order => 'code') %>
						<%= f.radio_button :difficulty, c.code, :class => "radio_button" %><%= c.title %>&nbsp;&nbsp;
					<% end %>
				</div>
				<%= error_message_on "recipe", "difficulty" %>
			</td>
		</tr>
		<tr>
			<td class="label">
				<label for="cost"><%= "#{COST_CN}:" %></label>
			</td>
			<td class="input">
				<div class="input">
					<%= f.select :cost, Code.find(:all, :conditions => {:codeable_type => 'recipe_cost'}).collect {|c| [ c.title, c.code ] }, {:include_blank => true} %>
				</div>
				<%= error_message_on "recipe", "cost" %>
			</td>
		</tr>
		<tr>
			<td class="label">
				<label for="prep_time"><%= "#{PREP_TIME_CN}:" %></label>
			</td>
			<td class="input">
				<div class="input">
					<%= f.select :prep_time, Code.find(:all, :conditions => {:codeable_type => 'recipe_time'}).collect {|c| [ c.title, c.code ] }, {:include_blank => true} %>
				</div>
				<%= error_message_on "recipe", "prep_time" %>
			</td>
		</tr>
		<tr>
			<td class="label">
				<label for="cook_time"><%= "#{COOK_TIME_CN}:" %></label>
			</td>
			<td class="input">
				<div class="input">
					<%= f.select :cook_time, Code.find(:all, :conditions => {:codeable_type => 'recipe_time'}).collect {|c| [ c.title, c.code ] }, {:include_blank => true} %>
				</div>
				<%= error_message_on "recipe", "cook_time" %>
			</td>
		</tr>
		<tr>
			<td class="label">
				<label for="yield"><%= "#{YIELD_CN}:" %></label>
			</td>
			<td class="input">
				<div class="text">
					<%= "请根据相关#{INGREDIENT_CN}的使用量确定#{YIELD_CN}" %><br />
					<%= "<em class='more'>数字请使用\"阿拉伯数字(0-9)\", 非整数请使用\"小数\"或\"分数\", 单位请使用\"标准单位\"</em>" %><br />
					<%= "如: \"4人份\", \"18-20个\", \"9寸左右\"(Pizza)" %>
				</div>
				<div class="input">
					<%= f.text_field :yield, :class => "text" %>
				</div>
				<%= error_message_on "recipe", "yield" %>
			</td>
		</tr>
		<tr>
			<td class="label">
				<label class="required" for="description"><%= "#{DESCRIPTION_CN}:" %></label>
			</td>
			<td class="input">
				<div class="text">
					<%= "请#{INPUT_CN}#{RECIPE_CN}的简介和特色等" %>
				</div>
				<div class="input">
					<%= f.text_area :description %>
				</div>
				<%= error_message_on "recipe", "description" %>
			</td>
		</tr>
		<tr>
			<td class="label">
				<label for="ingredients"><%= "#{INGREDIENT_CN}:" %></label>
			</td>
			<td class="input">
				<div class="text">
					<%= "<em class='more'>每一行请只#{INPUT_CN}一种#{INGREDIENT_CN}</em>" %><br />
					<%= "<em class='more'>每种#{INGREDIENT_CN}请按照\"用料名称&nbsp;&nbsp;使用量&nbsp;&nbsp;补充说明\"的格式, 各部分之间请用\"空格\"分隔</em>" %><br />
					<%= "<em class='more'>数字请使用\"阿拉伯数字(0-9)\", 非整数请使用\"小数\"或\"分数\", 单位请使用\"标准单位\"</em>" %><br />
					<%= "如: \"猪里脊肉&nbsp;&nbsp;500g\", \"八角&nbsp;&nbsp;2-4颗\"" %><br />
					<%= "<em class='more'>如果需要分组, 请为\"分组名称\"加上方括号\"[&nbsp;&nbsp;]\"</em>" %><br />
					<%= "如: \"[主料]\", \"[配料]\", \"[调味料]\"" %>
				</div>
				<div class="input">
					<%= f.text_area :ingredients %>
				</div>
				<%= error_message_on "recipe", "ingredients" %>
			</td>
		</tr>
		<tr>
			<td class="label">
				<label for="directions"><%= "#{DIRECTION_CN}:" %></label>
			</td>
			<td class="input">
				<div class="text">
					<%= "请#{INPUT_CN}#{DIRECTION_CN}和步骤等" %><br />
					<%= "<em class='more'>每个段落会自动编号, 不需要自己再加编号了</em>" %><br />
					<%= "<em class='more'>如果需要分组, 请为\"分组名称\"加上方括号\"[&nbsp;&nbsp;]\"</em>" %><br />
					<%= "如: \"[酱料的做法]\", \"[烘烤的步骤]\"" %>
				</div>
				<div class="input">
					<%= f.text_area :directions %>
				</div>
				<%= error_message_on "recipe", "directions" %>
			</td>
		</tr>
		<tr>
			<td class="label">
				<label for="tips"><%= "#{TIP_CN}:" %></label>
			</td>
			<td class="input">
				<div class="text">
					<%= "请#{INPUT_CN}有关的注意事项" %><br />
					<%= "<em class='more'>每个段落会自动编号, 不需要自己再加编号了</em>" %><br />
					<%= "<em class='more'>如果需要分组, 请为\"分组名称\"加上方括号\"[&nbsp;&nbsp;]\"</em>" %><br />
					<%= "如: \"[制作酱料的窍门]\", \"[烘烤的注意事项]\"" %>
				</div>
				<div class="input">
					<%= f.text_area :tips %>
				</div>
					<%= error_message_on "recipe", "tips" %>
			</td>
		</tr>
		<tr>
			<td class="label">
				<label for="any_else"><%= "闲话:" %></label>
			</td>
			<td class="input">
				<div class="text">
					<%= "可以在这里#{INPUT_CN}其他任何的内容" %>
				</div>
				<div class="input">
					<%= f.text_area :any_else %>
				</div>
				<%= error_message_on "recipe", "any_else" %>
			</td>
		</tr>
		<tr>
			<td class="label">
				<label for="video_url"><%= "#{VIDEO_URL_CN}:" %></label>
			</td>
			<td class="input">
				<div class="text">
					<%= "如果有#{RECIPE_CN}的#{VIDEO_CN}, 请#{INPUT_CN}#{VIDEO_CN}的#{URL_CN}" %>
				</div>
				<div class="input">
					<%= f.text_field :video_url, :class => "text" %>
				</div>
				<%= error_message_on "recipe", "video_url" %>
			</td>
		</tr>
		<tr>
			<td class="label">
				<label class="required" for="from_type"><%= "#{FROM_WHERE_CN}:" %></label>
			</td>
			<td class="input">
				<div class="text">
					<%= "这是原创的私房#{RECIPE_CN}吗?" %>
				</div>
				<div id="from_type" class="input">
					<%= f.select :from_type, Code.find(:all, :conditions => {:codeable_type => 'from_type'}).collect {|c| [ c.title, c.code ]}, {}, {:onchange => remote_function(:url => {:action => 'change_from_type'}, :with => "'from_type='+value")} %>
				</div>
				<div id="from_where_wrapper">
					<% if from_type == '1' %>
						<%= f.hidden_field :from_where %>
					<% else %>
						<div id="from_where_prompt" class="text">
							<%= "如果是转载的, 请#{INPUT_CN}转载的\"报刊 / 书籍 / 网址\"等" %>
						</div>
						<div id="from_where" class="input">
							<%= f.text_field :from_where, :class => "text" %>
						</div>
					<% end %>
				</div>
				<%= error_message_on "recipe", "from_type" %>
				<div id="from_where_errors">
					<%= error_message_on "recipe", "from_where" %>
				</div>
			</td>
		</tr>
		<tr>
			<td class="label">
				<label class="required" for="privacy"><%= "#{PRIVACY_CN}:" %></label>
			</td>
			<td class="input">
				<div class="text">
					<%= "谁可以看见这个#{RECIPE_CN}?" %>
				</div>
				<div class="input">
					<%= f.select :privacy, Code.find(:all, :conditions => {:codeable_type => 'privacy'}).collect {|c| [ c.title, c.code ] } %>
				</div>
				<%= error_message_on "recipe", "privacy" %>
			</td>
		</tr>
		<tr>
			<td class="label">
			</td>
			<td class="input">
				<br />
				<div class="text">
					<%= "当你还来不及完成#{RECIPE_CN}的时候, 可以先#{SAVE_CN}为草稿" %><br />
					<%= "<em class='more'>想跟大伙儿分享你的#{RECIPE_CN}, 请输入更完整的#{RECIPE_CN}信息并且#{ADD_CN}#{PHOTO_CN}</em>" %><br />
					<%= "<em class='more'>信息不够完整或者没有#{PHOTO_CN}的#{RECIPE_CN}, 会自动保存为草稿</em>" %>
				</div>
				<div class="input">
					<%= f.check_box :is_draft, :disabled => recipe.cover_photo_id ? false : true %><%= " 保存为草稿" %>
				</div>
				<%= error_message_on "recipe", "is_draft" %>
			</td>
		</tr>
		<tr>
			<td></td>
			<td class="input">
				<div class="submit">
					<%= f.submit button_name, :disable_with => "#{SAVE_CN}中...", :class => "submit" %>
					&nbsp;&nbsp;
					<%= link_to "&raquo;#{CANCLE_CN}", cancle_url %>
				</div>
			</td>
		</tr>
	</table>
	</div>
<% end %>
