<% if @highlighted_recipe %>
	<div id="highlighted_item" class="content_block">
		<div class="block_header">
			<h1><%= strip_tags "红#{RECIPE_CN} - #{@highlighted_recipe.title} < #{user_username(@highlighted_recipe.user)}" %></h1>
		</div>
		<div class="block_main">
			<div class="full_photo">
				<% photo = cover_photo(@highlighted_recipe) %>
				<div class="rank" style="left: <%= (640-photo.width)/2+9 %>px">
					<%= @highlighted_recipe_rank %>
				</div>
				<div class="ranked_photo">
					<%= link_to image_tag(photo_file_url(photo, 'Recipe', 'full'), :title => strip_tags(str_squish(@highlighted_recipe.title))), @highlighted_recipe %>
				</div>
			</div>
		</div>
	</div>
<% end %>

<div id="recipes_wrapper" class="content_block">
	<div id="recipes_header" class="block_header">
		<div class="block_header_link">	
			<%= link_to "#{MORE_CN}#{RECIPE_CN}", recipes_path %>	
		</div>
		<h1><%= "新鲜#{RECIPE_CN}" %></h1>
	</div>
	
	<div id="recipes_detail" class="block_main">
		<%= render :partial => "/layouts/items_matrix",
							 :locals => {:show_paginate => false,
							 						 :items_set => @recipes_set, 
							 						 :limit => 18,
							 						 :items_count_per_row => count_per_row,  
							 						 :show_photo => true, 
							 						 :show_below_photo => true,  
							 						 :show_title => true, 
							 						 :show_user => true, 
							 						 :show_photo_todo => false, 
							 						 :photo_style => 'matrix'} %>
	</div>
</div>

<div id="reviews_wrapper" class="content_block">
	<div id="reviews_header" class="block_header">
		<div class="block_header_link">	
			<%= link_to "#{MORE_CN}#{RECIPE_CN}#{REVIEW_CN}", :controller => 'reviews', :action => 'index', :reviewable_type => 'recipe' %>	
		</div>
		<h1><%= "新鲜#{RECIPE_CN}#{REVIEW_CN}" %></h1>
	</div>

	<div id="reviews_detail" class="block_main">	
		<%= render :partial => "/reviews/reviews_list", 
							 :locals => { :reviews_set => @reviews_set, 
							 							:show_paginate => false, 
							 							:limit => 2, 
							 							:show_todo => false, 
							 							:delete_remote => false } %>
	</div>
</div>