<!-- <% if @highlighted_recipe %>
	<div class="content_block">
		<div class="block_header">
			<h1><%= "本周精选#{RECIPE_CN}" %></h1>
		</div>
		<div class="block_main">
				<div class="full_photo">
					<%= render :partial => "/layouts/item_photo",
										 :locals => {:item_type => 'recipe', 
										 						 :item => @highlighted_recipe, 
										 						 :photo_style => 'full'} %>
				</div>
				<div class="sub_block_s">
					<%= render :partial => "recipe_s", 
										 :locals => {:item => @highlighted_recipe, 
										 						 :show_parent => false, 
										 						 :show_todo => false} %>
				</div>
		</div>
	</div>
<% end %> -->

<div class="content_block">
	<div class="block_header">
		<div class="block_header_link">	
			<%= link_to "更多最新的#{RECIPE_CN}(#{@latest_recipes_set.size})", 'latest' %>	
		</div>
		<h1><%= "最新的#{RECIPE_CN}" %></h1>
	</div>
	<div class="block_main">
		<%= render :partial => "/layouts/items_matrix",
							 :locals => {:item_type => 'recipe', 
							 						 :items => @latest_recipes, 
							 						 :items_count_per_row => MATRIX_ITEMS_COUNT_PER_ROW_M,
							 						 :photo_style => 'matrix',  
							 						 :show_photo => true, 
							 						 :show_title => true, 
							 						 :show_photo_todo => false} %>
	</div>
</div>

<div class="content_block">
	<div class="block_header">
		<div class="block_header_link">	
			<%= link_to "更多最新的#{RECIPE_CN}#{REVIEW_CN}(#{@latest_reviews_set.size})", 'reviews/latest' %>	
		</div>
		<h1><%= "最新的#{RECIPE_CN}#{REVIEW_CN}" %></h1>
	</div>
	<div class="block_main">
		<%= render :partial => "/layouts/items_list",
							 :locals => {:item_type => 'review', 
							 						 :items => @latest_reviews,
							 						 :show_photo => true, 
							 						 :show_title => false,
							 						 :show_photo_todo => false,
							 						 :show_parent => true, 
							 						 :show_todo => false} %>
	</div>
</div>