<% if @highlighted_recipe %>
	<div class="content_block">
		<div class="block_header">
			<h1><%= "本周精选#{RECIPE_CN}" %></h1>
		</div>
		<div class="block_main">
				<div class="full_photo">
					<%= render :partial => "/layouts/item_photo",
										 :locals => {:item_type => 'recipe', 
										 						 :item => @highlighted_recipe, 
										 						 :photo_style => 'full'} %>
				</div>
				<div class="sub_block_s">
					<%= render :partial => "recipe_s", 
										 :locals => {:item => @highlighted_recipe, 
										 						 :show_parent => false, 
										 						 :show_todo => false} %>
				</div>
		</div>
	</div>
<% end %>

<div class="content_block">
	<div class="block_header">
		<div class="block_header_link">	
			<%= link_to "更多#{RECIPE_CN} (#{@recipes_set_count})", recipes_path %>	
		</div>
		<h1><%= "最新的#{RECIPE_CN}" %></h1>
	</div>
	
	<div class="block_main">
		<%= render :partial => "/layouts/items_matrix",
							 :locals => {:item_type => 'recipe', 
							 						 :items => @recipes, 
							 						 :items_count_per_row => MATRIX_ITEMS_COUNT_PER_ROW_M,
							 						 :photo_style => 'matrix',  
							 						 :show_photo => true, 
							 						 :show_title => true, 
							 						 :show_photo_todo => false} %>
	</div>
</div>

<div class="content_block">
	<div class="block_header">
		<div class="block_header_link">	
			<%= link_to "更多#{RECIPE_CN}#{REVIEW_CN} (#{@recipe_reviews_set_count})", :controller => 'reviews', :action => 'index', :reviewable_type => 'recipe' %>	
		</div>
		<h1><%= "最新的#{RECIPE_CN}#{REVIEW_CN}" %></h1>
	</div>
	
	<%= render :partial => "/reviews/reviews_list",
						 :locals => {:reviews => @recipe_reviews, 
						 						 :show_paginate => false,  
						 						 :show_todo => false} %>
	
</div>