<% if @highlighted_recipe %>
	<div class="content_block">
		<div class="block_header">
			<h1><%= strip_tags "人气#{RECIPE_CN} - #{@highlighted_recipe.title}" %></h1>
		</div>
		<div class="block_main">
			<div class="full_photo">
				<%= render :partial => "/layouts/item_photo",
									 :locals => {:item_type => 'recipe', 
									 						 :item => @highlighted_recipe, 
									 						 :photo_style => 'full'} %>
			</div>
		</div>
	</div>
<% end %>

<div id="recipes_wrapper" class="content_block">
	<div id="recipes_header" class="block_header">
		<div class="block_header_link">	
			<%= link_to "#{MORE_CN}#{RECIPE_CN} (#{@recipes_set_count})", recipes_path %>	
		</div>
		<h1><%= "新鲜#{RECIPE_CN}" %></h1>
	</div>
	
	<div id="recipes_detail" class="block_main">
		<%= render :partial => "/layouts/items_matrix",
							 :locals => {:show_paginate => false,
							 						 :items_set => @recipes_set, 
							 						 :limit => 18,
							 						 :items_count_per_row => count_per_row,  
							 						 :show_photo => true, 
							 						 :show_below_photo => true,  
							 						 :show_title => true, 
							 						 :show_photo_todo => false, 
							 						 :photo_style => 'matrix'} %>
	</div>
</div>

<div id="reviews_wrapper" class="content_block">
	<div id="reviews_header" class="block_header">
		<div class="block_header_link">	
			<%= link_to "#{MORE_CN}#{RECIPE_CN}#{REVIEW_CN} (#{@reviews_set_count})", :controller => 'reviews', :action => 'index', :reviewable_type => 'recipe' %>	
		</div>
		<h1><%= "新鲜#{RECIPE_CN}#{REVIEW_CN}" %></h1>
	</div>

	<div id="reviews_detail" class="block_main">	
		<%= render :partial => "/reviews/reviews_list", 
							 :locals => { :reviews_set => @reviews_set, 
							 							:show_paginate => false, 
							 							:limit => 2, 
							 							:show_todo => false, 
							 							:delete_remote => false } %>
	</div>
</div>