<div id="recipe_<%= @recipe.id %>_wrapper" class="content_block">
	
  <div id="recipe_<%= @recipe.id %>_header" class="block_header">
    <div class="block_header_link">
      <% if @recipe.user == @current_user %>
        <%= link_to EDIT_CN, :action => 'edit' %>
      <% end %>
    </div>
    <h1><%= strip_tags @block_title %></h1>
  </div>

  <div id="recipe_<%= @recipe.id %>_detail" class="block_main">
    <div id="recipe_prev_next_bar" class="prev_next_bar">
      <%= render :partial => 'layouts/prev_next',
                 :locals => { :items_set => @recipes_set,
                              :current_index => @recipe_index } %>
    </div>

    <div id="recipe_<%= @recipe.id %>_stats" class="item_stats">
      <%= render :partial => 'recipes/recipe_stats',
                 :locals => { :item => @recipe } %>
    </div>

    <div id="recipe_<%= @recipe.id %>_self" class="sub_block">
      <%= render :partial => 'recipes/recipe',
                 :locals => { :item => @recipe,
                              :photos_set => @photos_set,
                              :show_todo => true,
                              :show_favorite => true,
                              :show_manage => true } %>
    </div>
  </div>
	
</div>

<%= render :partial => 'reviews/reviewable_reviews',
            :locals => { :reviewable => @recipe } %>
