<div id="recipe_<%= @recipe.id %>_wrapper" class="content_block">
	
	<div id="recipe_<%= @recipe.id %>_header" class="block_header">
		<div class="block_header_link">	
			<% if @recipe.user == @current_user %>
				<%= link_to EDIT_CN, :action => 'edit' %>
			<% end %>
		</div>
		<h1><%= strip_tags @block_title %></h1>
	</div>

	<div id="recipe_<%= @recipe.id %>_detail" class="block_main">
		<div id="recipe_prev_next_bar" class="prev_next_bar">
			<%= render :partial => "/layouts/prev_next", 
								 :locals => { :items_set => @recipes_set, 
								 							:current_index => @recipe_index } %>
		</div>

		<div id="recipe_<%= @recipe.id %>_rating" class="rating">
			<%= render :partial => "/ratings/rate",
								 :locals => {:rateable => @recipe} %>
		</div>
		
		<div id="recipe_<%= @recipe.id %>_self" class="sub_block">
				<%= render :partial => "/recipes/recipe",
									 :locals => { :item => @recipe, 
									 						  :photos_set => @photos_set, 
									 						  :show_todo => true, 
									 						  :show_favorite => true, 
									 						  :show_manage => true } %>
		</div>
		
		<div id="recipe_<%= @recipe.id %>_reviews">    	
			<div id="reviews_header" class="sub_block_header">
				<%= render :partial => "/layouts/index_header", 
									 :locals => {:show_header_link => false, 
									 						 :show_new_link => false, 
									 						 :block_title => "#{RECIPE_CN}#{REVIEW_CN} (#{@recipe.reviews.size})"} %>
			</div>
			
			<div id="reviews_detail" class="sub_block">			
				<%= render :partial => "/layouts/items_list",
									 :locals => {:show_paginate => false,
									 						 :items_set => @recipe.reviews, 
									 						 :limit => nil,
									 						 :itemable_sym => 'reviewable', 
									 						 :show_photo => true, 
									 						 :photo_style => 'sign', 
									 						 :show_below_photo => false, 
									 						 :show_title => false, 
									 						 :show_user => false, 
									 						 :show_photo_todo => false, 
									 						 :show_parent => false,
									 						 :show_todo => true, 
									 						 :show_favorite => false, 
								 							 :show_manage => true, 
									 						 :delete_remote => true} %>
			</div>
		</div>
		
		<div id="recipe_<%= @recipe.id %>_new_review" class="sub_block_o">
			<div id="notice_for_new_review">
				<%= render :partial => "/layouts/notice",
									 :locals => {:notice => nil} %>
			</div>
			
			<% if @current_user %>
				<div id="input_form_for_new_review">
					<%= render :partial => "/reviews/review_input", 
										 :locals => { :reviewable => @recipe,
										 						  :review => @recipe.reviews.build, 
										 						  :is_new => true, 
										 						  :review_error => false, 
										 						  :review_text => '', 
										 						  :quotation_submitter_id => nil, 
						 										  :quotation => nil } %>
				</div>
				<% if @recipe.user != @current_user %>
					<div class="todo_right">
						<em><%= link_to "我要#{RATE_CN}", "#recipe_#{@recipe.id}_wrapper" %></em>
					</div>
				<% end %>
			<% else %>
				<div class="todo">
					<em><%= link_to "#{ADD_CN}新#{REVIEW_CN}", new_recipe_review_path(@recipe) %></em>
				</div>
			<% end %>
		</div>
	</div>
	
</div>
