<div class="content_block">
	
	<div class="block_header">
		<div class="block_header_link">	
			<% if @recipe_user == @current_user %>
				<%= link_to "我的更多#{RECIPE_CN}(#{@recipes_set_count})", :action => 'mine' %>
			<% else %>
				<%= link_to h("#{@recipe_user_title}的更多#{RECIPE_CN}(#{@recipes_set_count})"), user_recipes_url(@recipe_user) %>
			<% end %>
		</div>
		<h1><%= h @block_title %></h1>
	</div>

	<div class="block_main">
		<table class="content">
		  <tr>
		    
		    <td class="left_colomn">
		    	<div class="sub_block">
	    			<div class="portrait_photo">
		    			<%= render :partial => "/layouts/item_photo",
		    								 :locals => {:item_type => 'recipe', 
		    								 						 :item => @recipe, 
		    								 						 :photo_style => 'portrait'} %>
	    			</div>
	    			
						<div class="below_photo">
							<%= render :partial => "/layouts/item_below_photo", 
												 :locals => {:item_type => 'recipe', 
												 						 :item => @recipe, 
												 						 :show_title => false, 
												 						 :show_photo_todo => true} %>
						</div>
					</div>
		    </td>
		    
		    <td class="right_colomn">
					<div id="recipe_rating" class="rating">
						<%= render :partial => "/ratings/rate",
											 :locals => {:total_rating => @total_rating, 
											 						 :ratings_count => @ratings_count, 
											 						 :current_rating => @current_rating, 
											 						 :rateable_type => 'recipe',
											 						 :rateable_id => @recipe.id} %>
					</div>
					
		    	<div class="sub_block">
						<%= render :partial => "recipe",
											 :locals => {:item => @recipe,
											 						 :show_todo => true} %>
		    	</div>
		    	
		    	<div class="sub_block">	    
			    	<div class="sub_block_header">
							<%= "#{REVIEW_CN}:" %>
			    	</div>		  
			    	<div class="todo_right">
	    				<%= link_to "#{REVIEW_CN}这个#{RECIPE_CN}", new_recipe_review_url(@recipe) %> |
	    				<%= link_to "更多#{REVIEW_CN}(#{@reviews_set_count})", recipe_reviews_url(@recipe) %>
			    	</div>
						
						<% if @reviews_set_count > 0 %>
		    			<%= render :partial => "/layouts/items_list",
		    								 :locals => {:item_type => 'review', 
		    								 						 :items => @reviews,
		    								 						 :show_photo => true, 
		    								 						 :show_below_photo => false, 
		    								 						 :show_parent => false, 
		    								 						 :show_todo => true} %>
				    	
				    	<div class="todo_right">
		    				<%= link_to "#{REVIEW_CN}这个#{RECIPE_CN}", new_recipe_review_url(@recipe) %> |
		    				<%= link_to "更多#{REVIEW_CN}(#{@reviews_set_count})", recipe_reviews_url(@recipe) %>
				    	</div>
			    	<% end %>
		    	</div>
		    		    	
		    </td>
		    
		  </tr>
		</table>
	</div>
	
</div>
