<div class="content_block">
	
	<div class="block_header">
		<div class="block_header_link">	
			<% if @recipe_user == @current_user %>
				<%= link_to "我的更多#{RECIPE_CN}(#{@recipes_set_count})", :action => 'mine' %>
			<% else %>
				<%= link_to h("#{@recipe_user_title}的更多#{RECIPE_CN}(#{@recipes_set_count})"), user_recipes_url(@recipe_user) %>
			<% end %>
		</div>
		<h1><%= h @block_title %></h1>
	</div>

	<div class="block_main">

		<div id="recipe_rating" class="rating">
			<%= render :partial => "/ratings/rate",
								 :locals => {:ratings_count => @recipe.ratings.size,
								 						 :average_rating_value => average_rating_value(@recipe), 
								 						 :my_rating_value => user_rating_value(@current_user, @recipe), 
								 						 :rateable_type => 'recipe',
								 						 :rateable_id => @recipe.id} %>
		</div>
		
		<div class="sub_block">
				<%= render :partial => "recipe",
									 :locals => {:item => @recipe,
									 						 :photos => @photos, 
									 						 :show_todo => true} %>
		</div>
		    	
		<div class="sub_block">	    
			<div class="sub_block_header">
					<%= "#{REVIEW_CN}:" %>
			</div>		  
			<div class="todo_right">
				<%= link_to "#{REVIEW_CN}这个#{RECIPE_CN}", new_recipe_review_url(@recipe) %> |
				<%= link_to "更多#{REVIEW_CN}(#{@reviews_set_count})", recipe_reviews_url(@recipe) %>
			</div>
				
			<% if @reviews_set_count > 0 %>
				<%= render :partial => "/layouts/items_list",
									 :locals => {:item_type => 'review', 
									 						 :items => @reviews,
									 						 :show_photo => true, 
									 						 :show_below_photo => false, 
									 						 :show_title => false, 
									 						 :show_photo_todo => false, 
									 						 :show_parent => false, 
									 						 :show_todo => true} %>
		    	
	    	<div class="todo_right">
					<%= link_to "#{REVIEW_CN}这个#{RECIPE_CN}", new_recipe_review_url(@recipe) %> |
					<%= link_to "更多#{REVIEW_CN}(#{@reviews_set_count})", recipe_reviews_url(@recipe) %>
	    	</div>
			<% end %>
		</div>
	</div>
	
</div>
