<div id="recipe_<%= @recipe.id %>_wrapper" class="content_block">
	
	<div id="recipe_<%= @recipe.id %>_header" class="block_header">
		<div class="block_header_link">	
			<% if @recipe.user == @current_user %>
				<%= link_to EDIT_CN, :action => 'edit' %>
			<% end %>
		</div>
		<h1><%= strip_tags @block_title %></h1>
	</div>

	<div id="recipe_<%= @recipe.id %>_detail" class="block_main">
		<div id="recipe_prev_next_bar" class="prev_next_bar">
			<%= render :partial => 'layouts/prev_next', 
								 :locals => { :items_set => @recipes_set, 
								 							:current_index => @recipe_index } %>
		</div>

		<div id="recipe_<%= @recipe.id %>_stats" class="item_stats">
			<%= render :partial => 'recipes/recipe_stats', 
								 :locals => { :item => @recipe } %>
		</div>
		
		<div id="recipe_<%= @recipe.id %>_self" class="sub_block">
				<%= render :partial => 'recipes/recipe',
									 :locals => { :item => @recipe, 
									 						  :photos_set => @photos_set, 
									 						  :show_todo => true, 
									 						  :show_favorite => true, 
									 						  :show_manage => true } %>
		</div>
	</div>
	
</div>

<% reviewable = @recipe %>
<% reviewable_type = type_for(reviewable) %>
<% reviewable_id_sym = id_for(reviewable_type).to_sym %>
<% reviewable_name = name_for(reviewable_type) %>
<% reviews_set = reviewable.reviews[0..19] %>

<div id="reviewable_reviews_wrapper" class="content_block">
	<div id="reviewable_reviews_header" class="block_header">
		<div class="block_header_link">
			<%= link_to "#{MORE_CN}#{reviewable_name}#{REVIEW_CN}", url_for(reviewable_id_sym => reviewable.id, :controller => 'reviews', :action => 'index') %>	
		</div>
		<h1><%= "#{reviewable_name}#{REVIEW_CN}" %></h1>
	</div>
	
	<div id="reviewable_reviews_detail" class="block_main">
		<div id="reviewable_reviews_list">
			<%= render :partial => 'reviews/reviewable_reviews_list', 
								 :locals => { :reviews_set => reviews_set,
								 							:limit => nil, 
								 							:show_paginate => false,
								 							:show_reviewer_photo => true, 
							 								:reviewer_photo_style => 'sign',
							 								:show_below_reviewer_photo => false,
							 								:show_review_title => false,
							 								:show_review_todo => true,
							 								:ref => 'reviewable' } %>
		</div>
		
		<div id="reviewable_new_review" class="sub_block_o">
			<%= render :partial => 'reviews/new_review', 
								 :locals => { :reviewable => reviewable,
								 							:ref => 'reviewable' } %>
		</div>
	</div>
</div>
