<h2>Signup</h2>
<%= error_messages_for :keeper %>
<% form_for :keeper, :url => keepers_path do |f| -%>
<p>Username:<br /><%= f.text_field :username, :size => 40 %></p>
<p>Password:<br /><%= f.password_field :password, :size => 60 %></p>
<p>Password Confirmation:<br />
<%= f.password_field :password_confirmation, :size => 60 %></p>
<%= submit_tag 'Sign Up' %>
<% end -%>
