<div id="<%= id %>_wrapper" class="sidebar_panel">
  <div id="<%= id %>_header" class="sidebar_panel_header">
    <h1><%= strip_tags block_title %></h1>
  </div>
  
  <div id="<%= id %>_detail" class="sidebar_panel_main">
    <div class="<%= id %>">
      <%= strip_tags(user_username(user,false,false)) %>已贡献 <span id="notified_score"><%= love_recipes_count %> 个 </span>爱心食谱
    </div>
    <div class="<%= id %>">
      <%= strip_tags(user_username(user,false,false)) %>已贡献 <span id="notified_score"><%= love_recipes_count * 0.5 %> 元 </span>蜂厨慈善金
    </div>
  </div>
</div>