<div class="user_bar">
	<table>
		<tr>
			<td class="left_column">
				<div class="user_portrait">
					<%= render :partial => "/layouts/item_photo",
										 :locals => {:item => user, 
										 						 :photo_style => 'sign'} %>
				</div>
			</td>
			<td class="middle_column">
				<div class="user_bar_username">
					<%= render :partial => '/users/user_basic', 
										 :locals => { :user => user, 
										 							:show_come_from => false, 
										 							:show_icon => true,
										 							:show_name => true, 
										 							:show_link => false, 
										 							:show_username => true,
										 							:show_myname => true } %>
					<% if user == @current_user && !user_portrait(user) %>
						&nbsp;
						<span><%= link_to "#{UPLOAD_CN}#{PORTRAIT_CN}", :controller => 'accounts', :action => 'edit', :id => 'portrait' %></span>
					<% end %>
				</div>
				<div class="user_bar_info">
					blog:
					<% if user.profile && !user.profile.blog.blank? %>
						<%= link_to strip_tags(text_summary(user.profile.blog, 40)), "http://#{user.profile.blog}", :target => "_blank" %>
					<% elsif user == @current_user %>
						&nbsp;
						<span><%= link_to "#{ADD_CN}blog", :controller => 'settings', :action => 'account' %></span>
					<% end %>
				</div>
				<div class="user_bar_link">
					<%= link_to MAIN_PAGE_CN, :controller => 'users', :action => 'profile', :id => user.id %> |
					<%= link_to RECIPE_CN, user_recipes_path(user) %> |
					<%= link_to FRIEND_CN, user_contacts_path(user) %> |
					<%= link_to REVIEW_CN, user_reviews_path(user) %> |
					<%= link_to FAVORITE_CN, user_favorites_path(user) %> |
					<%= link_to TAG_CN, user_tags_path(user) %>
				</div>
			</td>
			<td class="right_column">
				<% if user != @current_user %>
					<div id="friendship_status_with_user_<%= user.id %>" class="todo_block">
						<% if @current_user %>
							<% if contact = @current_user.contacts.find(:first, :conditions => { :contactor_id => user.id, :contact_type => '1' }) %>
								<% status = contact.status %>
							<% end %>
						<% else %>
							<% status = '-1' %>
						<% end %>
						<%= render :partial => '/contacts/contact_status', 
											 :locals => { :contact_type => '1', 
											 							:status => status, 
											 							:user => user, 
											 							:ref => 'user_bar' } %>
					</div>
				<% end %>
			</td>
		</tr>
	</table>
</div>