<div class="user_bar">
  <table>
    <tr>
      <td class="left_column">
        <div class="user_portrait">
          <%= render :partial => 'layouts/item_photo',
                      :locals => { :item => user,
                                  :photo_style => 'sign' } %>
        </div>
      </td>
      <td class="middle_column">
        <div class="user_bar_username">
          <%= render :partial => 'users/user_basic',
                      :locals => { :user => user,
                                  :show_come_from => false,
                                  :show_icon => true,
                                  :show_name => true,
                                  :show_link => false,
                                  :show_username => true,
                                  :show_myname => true } %>
          <% if user == @current_user && !user_portrait(user) %>
            &nbsp;
            <span><%= link_to "[#{UPLOAD_CN}#{PORTRAIT_CN}]", url_for(:controller => 'accounts', :action => 'edit', :id => 'portrait') %></span>
          <% end %>
        </div>
        <div class="user_bar_info">
          <%= render :partial => 'users/user_blog',
                      :locals => { :user => user,
                                  :show_add => true } %>
        </div>
        <div class="user_bar_link">
          <%= link_to MAIN_PAGE_CN, url_for(:controller => 'users', :action => 'profile', :id => user.id) %> |
          <%= link_to RECIPE_CN, user_recipes_path(user) %> |
          <%= link_to MENU_CN, user_menus_path(user) %> |
          <%= link_to MATCH_CN, user_matches_path(user) %> |
          <%= link_to PEOPLE_CN, user_contacts_path(user) %> |
          <%= link_to REVIEW_CN, user_reviews_path(user) %> |
          <%= link_to FAVORITE_CN, user_favorites_path(user) %> |
          <%= link_to TAG_CN, user_tags_path(user) %>
        </div>
      </td>
      <td class="right_column">
        <div class="todo_block">
          <% if user != @current_user %>
            <div id="friendship_status_with_user_<%= user.id %>" class="friendship_status">
              <% if @current_user %>
                <% if contact = Contact.find_friendship(@current_user, user) %>
                  <% status = contact.status %>
                <% end %>
              <% else %>
                <% status = '-1' %>
              <% end %>
              <%= render :partial => 'contacts/contact_status',
                         :locals => { :contact_type => '1',
                                      :status => status,
                                      :user => user,
                                      :ref => 'user_bar' } %>
            </div>
          <% end %>

          <div class="share_mainpage">
            <div class="todo_right">
              <em class="l3"><%= link_to "分享#{MAIN_PAGE_CN}", url_for(:controller => 'users', :action => 'share', :id => user.id) %></em>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </table>
</div>