<div class="user_bar">
	<table>
		<tr>
			<td>
				<div class="user_portrait">
					<%= render :partial => "/layouts/item_photo",
										 :locals => {:item => user, 
										 						 :photo_style => 'sign'} %>
				</div>
			</td>
			<td>
				<div class="user_bar_username">
					<%= strip_tags(user.login) %>
					<% if user == @current_user && !user_portrait(user) %>
						&nbsp;
						<span><%= link_to "快来#{UPLOAD_CN}#{PORTRAIT_CN}吧...", :controller => 'accounts', :action => 'edit', :id => 'portrait' %></span>
					<% end %>
				</div>
				<div class="user_bar_link">
					<%= link_to "厨师#{MAIN_PAGE_CN}", :controller => 'users', :action => 'overview', :id => user.id %> |
					<%= link_to RECIPE_CN, user_recipes_path(user) %> |
					<%= link_to REVIEW_CN, user_reviews_path(user) %> |
					<%= link_to FAVORITE_CN, user_favorites_path(user) %> |
					<%= link_to TAG_CN, :user_id => user.id, :controller => 'taggings', :action => 'index' %>
				</div>
			</td>
		</tr>
	</table>
</div>