<% form_for :user, :url => users_path do |f| %>
	<div class="sub_block_tb">
	<table class="content">
		<tr>
			<td class="label">
				<label for="email"><%= "#{EMAIL_ADDRESS_CN}:" %></label>
			</td>
			<td class="input">
				<div class="text">
					<%= "<em class='more'>请确认#{EMAIL_ADDRESS_CN}真实有效, 才能接收#{ACCOUNT_CN}激活#{EMAIL_CN}</em>" %>
				</div>
				<div class="input">
					<%= f.text_field :email, :class => "text_s" %>
				</div>
				<%= error_message_on "user", "email" %>
			</td>
		</tr>
		<tr>
			<td class="label">
				<label for="login"><%= "#{NICKNAME_CN}:" %></label>
			</td>
			<td class="input">
				<div class="text">
					<%= "给自己起个好听的#{NICKNAME_CN}, 让大伙儿认识你" %>
				</div>
				<div class="input">
					<%= f.text_field :login, :class => "text_s" %>
				</div>
				<%= error_message_on "user", "login" %>
			</td>
		</tr>
		<tr>
			<td class="label">
				<label for="password"><%= "#{PASSWORD_CN}:" %></label>
			</td>
			<td class="input">
				<div class="text">
					<%= "#{PASSWORD_CN}只能包含英文字母(区分大小写), 数字(0-9)和半角符号(._%+-)" %>
				</div>
				<div class="input">
					<%= f.password_field :password, :class => "text_s" %>
				</div>
				<%= error_message_on "user", "password" %>
			</td>
		</tr>
		<tr>
			<td class="label">
				<label for="password_confirmation"><%= "#{PASSWORD_CN}确认:" %></label>
			</td>
			<td class="input">
				<div class="text">
					<%= "请再次#{INPUT_CN}相同的#{PASSWORD_CN}进行确认" %>
				</div>
				<div class="input">
					<%= f.password_field :password_confirmation, :class => "text_s" %>
				</div>
				<%= error_message_on "user", "password_confirmation" %>
			</td>
		</tr>
		<tr>
			<td></td>
			<td class="input">
				<div class="info">
					<%= "点击下面的\"#{SIGN_UP_CN}\", 表示你已经阅读并同意#{SITE_NAME_CN}的" %><%= link_to "\"#{TERMS_OF_SERVICE_CN}\"", '' %>和<%= link_to "\"#{PRIVACY_POLICY_CN}\"", '' %>
				</div>
			</td>
		</tr>
		<tr>
			<td></td>
			<td class="input">
				<div class="submit">
					<%= submit_tag SIGN_UP_CN, :class => "submit" %>
					&nbsp;&nbsp;
					<%= link_to "&raquo;我已经有#{SITE_NAME_CN}#{ACCOUNT_CN}", login_path %>
				</div>
			</td>
		</tr>
	</table>
	</div>
<% end %>