<% user = item %>

<div id="user_<%= item.id %>_basic" class="basic">
	<h2>
		<%= render :partial => '/users/user_basic', 
							 :locals => { :user => user, 
							 							:show_come_from => false, 
							 							:show_icon => true,
							 							:show_name => true, 
							 							:show_link => true, 
							 							:show_username => true,
							 							:show_myname => false } %>
	</h2>
	<ul>
		<li>
			<%= render :partial => '/users/user_blog', 
								 :locals => { :user => user, 
								 							:show_add => false } %>
		</li>
	</ul>
</div>


<% items_count = 8 %>
<% interval = 30 %>
<% recipe_conditions = recipe_conditions(recipe_photo_required_cond, recipe_status_cond, recipe_privacy_cond, recipe_is_draft_cond, Date.today - (interval-1).days) %>
<% recipes = recipes_for(user, recipe_conditions, items_count) %>

<% if recipes.size > 0 %>
	<div class="items_bar">
		<div id="user_<%= item.id %>_latest_items_bar" class="block_main">
			<%= "最近#{interval}日的新鲜#{RECIPE_CN}" %>
			<%= render :partial => "/layouts/items_matrix",
								 :locals => {:show_paginate => false,
								 						 :items_set => recipes, 
								 						 :limit => nil,
								 						 :items_count_per_row => items_count,  
								 						 :show_photo => true, 
								 						 :show_below_photo => false,  
								 						 :show_title => false, 
								 						 :show_user => false, 
								 						 :show_photo_todo => false, 
								 						 :photo_style => 'sign'} %>
		</div>
	</div>
<% end %>

<% if show_todo %>
	<div id="user_<%= item.id %>_todo" class="todo_right">
	
		<% if show_manage %>
			<div id="user_<%= item.id %>_manage">

			</div>
		<% end %>	
	</div>
<% end %>

<br />

