<div id="recipes_wrapper" class="content_block">
	<div id="recipes_header" class="block_header">
		<div class="block_header_link">	
			<%= link_to "#{username_prefix(@user)}更多#{RECIPE_CN} (#{@recipes_set_count})", :user_id => @user.id, :controller => 'recipes', :action => 'index' %>	
		</div>
		<h1><%= "#{username_prefix(@user)}#{RECIPE_CN}" %></h1>
	</div>
	
	<div id="recipes_detail" class="block_main">
		<%= render :partial => "/layouts/items_matrix",
							 :locals => {:show_paginate => false,
							 						 :items_set => @recipes_set, 
							 						 :limit => MATRIX_ITEMS_COUNT_PER_PAGE_S, 
							 						 :items_count_per_row => count_per_row, 
							 						 :show_photo => true, 
							 						 :show_below_photo => true,  
							 						 :show_title => true, 
							 						 :show_photo_todo => false, 
							 						 :photo_style => 'matrix'} %>
	</div>
</div>

<div id="reviews_wrapper" class="content_block">
	<div id="reviews_header" class="block_header">
		<div class="block_header_link">	
			<%= link_to "#{username_prefix(@user)}更多#{REVIEW_CN} (#{@reviews_set_count})", :user_id => @user.id, :controller => 'reviews', :action => 'index' %>	
		</div>
		<h1><%= "#{username_prefix(@user)}#{REVIEW_CN}" %></h1>
	</div>
	
	<div id="reviews_detail" class="block_main">
		<%= render :partial => "/layouts/items_list",
							 :locals => {:show_paginate => false,
							 						 :items_set => @reviews_set, 
							 						 :limit => LIST_ITEMS_COUNT_PER_PAGE_S,
							 						 :itemable_sym => 'reviewable', 
							 						 :show_photo => true, 
							 						 :show_below_photo => false,  
							 						 :show_title => false, 
							 						 :show_photo_todo => false, 
							 						 :show_parent => true,
							 						 :show_todo => false, 
							 						 :delete_remote => false} %>
	</div>
</div>