<div class="content_block">
	<div class="block_header">
		<div class="block_header_link">	
			<%= link_to "#{user_username(@user)}的更多#{RECIPE_CN} (#{@recipes_set_count})", 'recipes' %>	
		</div>
		<h1><%= "#{user_username(@user)}的#{RECIPE_CN}" %></h1>
	</div>
	
	<div class="block_main">
		<%= render :partial => "/layouts/items_matrix",
							 :locals => {:item_type => 'recipe', 
							 						 :items => @recipes, 
							 						 :items_count_per_row => MATRIX_ITEMS_COUNT_PER_ROW_M,
							 						 :photo_style => 'matrix',  
							 						 :show_photo => true, 
							 						 :show_title => true, 
							 						 :show_photo_todo => false} %>
	</div>
</div>

<div class="content_block">
	<div class="block_header">
		<div class="block_header_link">	
			<%= link_to "#{user_username(@user)}的更多#{REVIEW_CN} (#{@reviews_set_count})", 'reviews' %>	
		</div>
		<h1><%= "#{user_username(@user)}的#{REVIEW_CN}" %></h1>
	</div>
	
	<%= render :partial => "/reviews/reviews_list",
						 :locals => {:reviews => @reviews, 
						 						 :show_paginate => false,  
						 						 :show_todo => @show_todo} %>
</div>