<!-- <% if @user != @current_user %>
	<div id="same_tastes_wrapper" class="content_block">
		<div id="same_tastes_header" class="block_header">
			<div class="block_header_link">	
				<%= link_to "#{MORE_CN}的口味相投点", '' %>
			</div>
			<h1><%= strip_tags "我和#{username_prefix(@user)}口味相投点" %></h1>
		</div>
		
		<div id="same_tastes_detail" class="block_main">
	
		</div>
	</div>
<% end %> -->

<div id="recipes_wrapper" class="content_block">
	<div id="recipes_header" class="block_header">
		<div class="block_header_link">	
			<%= link_to strip_tags("#{username_prefix(@user)}#{MORE_CN}#{RECIPE_CN}"), :user_id => @user.id, :controller => 'recipes', :action => 'index' %>	
		</div>
		<h1><%= strip_tags "#{username_prefix(@user)}#{RECIPE_CN}" %></h1>
	</div>
	
	<div id="recipes_detail" class="block_main">
		<%= render :partial => "/layouts/items_matrix",
							 :locals => {:show_paginate => false,
							 						 :items_set => @recipes_set, 
							 						 :limit => 18, 
							 						 :items_count_per_row => 6, 
							 						 :show_photo => true, 
							 						 :show_below_photo => true,  
							 						 :show_title => true, 
							 						 :show_user => false, 
							 						 :show_photo_todo => false, 
							 						 :photo_style => 'matrix'} %>
	</div>
</div>

<div id="favorite_recipes_wrapper" class="content_block">
	<div id="favorite_recipes_header" class="block_header">
		<div class="block_header_link">
			<%= link_to strip_tags("#{username_prefix(@user)}#{MORE_CN}#{FAVORITE_CN}"), :user_id => @user.id, :controller => 'favorites', :action => 'index' %>	
		</div>
		<h1><%= strip_tags "#{username_prefix(@user)}#{FAVORITE_CN}" %></h1>
	</div>
	
	<div id="favorite_recipes_detail" class="block_main">
		<%= render :partial => '/layouts/items_matrix', 
							 :locals => { :show_paginate => false,
						 						    :items_set => favorite_favorables(@favorites_set), 
						 						    :limit => 18,
						 						    :items_count_per_row => 6, 
						 						    :show_photo => true, 
						 						    :show_below_photo => true,  
						 						    :show_title => true, 
						 						    :show_user => true, 
						 						    :show_photo_todo => false, 
						 						    :photo_style => 'matrix' } %>
	</div>
</div>

<% reviews_set = @reviews_set %>
<div id="mixed_reviews_wrapper" class="content_block">
	<div id="mixed_reviews_header" class="block_header">
		<div class="block_header_link">
			<%= link_to "#{username_prefix(@user)}#{MORE_CN}#{REVIEW_CN}", url_for(:user_id => @user.id, :controller => 'reviews', :action => 'index') %>	
		</div>
		<h1><%= strip_tags "#{username_prefix(@user)}#{REVIEW_CN}" %></h1>
	</div>
	
	<div id="mixed_reviews_detail" class="block_main">
		<div id="mixed_reviews_list">
			<%= render :partial => 'reviews/mixed_reviews_list', 
								 :locals => { :reviews_set => reviews_set, 
								 							:limit => nil, 
								 							:show_paginate => false,
								 							:show_reviewer_photo => true, 
							 								:reviewer_photo_style => 'mini',
							 								:show_below_reviewer_photo => false,
							 								:show_review_title => false,
							 								:show_review_todo => false,
							 								:ref => nil } %>
		</div>
	</div>
</div>