<div class="content_block">
	<div class="block_header">
		<h1>周统计数据</h1>
	</div>

	<div class="block_main">
		在此期间的激活用户数为：<%= @stat_user_set.size %><br>
                在此期间的新增食谱数为：<%= @stat_recipes_set.size %><br>
                新增食谱对应用户数为：<%= @stat_recipes_users_group_set.size %><br>
                在此期间的新增评论数为：<%= @stat_reviews_set.size %><br>
                新增评论对应用户数为：<%= @stat_reviews_users_group_set.size %><br>
                在此期间的新增打分数为：<%= @stat_ratings_set.size %><br>
                新增打分对应用户数为：<%= @stat_ratings_users_group_set.size %><br>
                在此期间的新增收尝数为：<%= @stat_fav_set.size %><br>
                新增收尝对应用户数为：<%= @stat_fav_users_group_set.size %><br>
	</div>
</div>
