<li>
  <span class='text'>
    <% if options[:parse_item] %>
      <% components = block_item.split(' ') %>
      <% i = 0 %>
      <% for component in components %>
        <% if i == 0 %>
          <% q_info = q_info_from(component) %>
          <% if q_info[:q] && !q_info[:q].blank? %>
            <% searchable_type = options[:text_title] %>
            <% service_id = "service_for_#{searchable_type}_#{options[:block_id]}_#{options[:block_item_id]}" %>
            <%= link_to_remote q_info[:q], :url => url_for(:controller => 'searchings', :action => 'searching_shop_items', :q => q_info[:q], :searchable_type => searchable_type, :service_id => service_id) %><%= q_info[:q_else] if q_info[:q_else] && !q_info[:q_else].blank? %>
          <% elsif q_info[:q_else] && !q_info[:q_else].blank? %>
            <%= q_info[:q_else] %>
          <% end %>
        <% else %>
          <%= " #{component}" %>
        <% end %>
        <% i += 1 %>
      <% end %>
    <% else %>
      <% if options[:auto_link] %>
        <% item = auto_link(block_item, :all, :target => "_blank") %>
      <% else %>
        <% item = block_item %>
      <% end %>
      <%= item %>
    <% end %>
  </span>
</li>
<% if options[:show_service_zone]%>
  <div id="<%= service_id %>"></div>
<% end %>