<% form_for(:photo, :url => objects_path('photo'), :html => { :multipart => true }) do |f| %>
	<table class="content">
		<tr>
			<td class="label"><label class="required" for="uploaded_data"><%= "#{PHOTO_CN}#{FILE_CN}:" %></label></td>
			<td class="input">
				<% if @photo.errors_on_filename || @photo.errors_on_file_type || @photo.errors_on_file_size %>
					<div class="fieldWithErrors">
						<%= f.file_field :uploaded_data, :class => "text" %>
					</div>
				<% else %>
					<%= f.file_field :uploaded_data, :class => "text" %>
				<% end %>
			</td>
		</tr>
		<tr>
			<td></td>
			<td>
				<% if @photo.errors_on_filename %>
					<div class="formError">
						<%= @photo.errors_on_filename %>
					</div>
				<% elsif @photo.errors_on_file_type %>
					<div class="formError">	
						<%= @photo.errors_on_file_type %>
					</div>
				<% elsif @photo.errors_on_file_size %>
					<div class="formError">
						<%= @photo.errors_on_file_size %>
					</div>
				<% end %>
			</td>
		</tr>
		<tr>
			<td class="label"><label for="caption"><%= "#{CAPTION_CN}:" %></label></td>
			<td class="input">
				<%= f.text_area :caption %>
			</td>
		</tr>
		<tr>
			<td></td>
			<td>
				<%= error_message_on "photo", "caption" %>
			</td>
		</tr>
		<tr>
			<td></td>
			<td class="submit">
				<%= f.submit button_name, :class => "submit" %>
				&nbsp;&nbsp;
				<%= link_to "&raquo;#{CANCLE_CN}", @photos_path %>
			</td>
		</tr>
	</table>
<% end %>