<div class="content_block">
	<div class="block_header">
		<div class="block_header_link">
			<%= link_to sysinfo('300001', ADD_CN, nil, NEW_CN, {:type => PHOTO_CN}), @new_photo_path %> |
			<%= link_to sysinfo('300005', BACK_CN, nil, '', {:type => @belong_to_type, :title => @belong_to_title}), @belong_to_path %>	
		</div>
		<h1><%= @block_title %></h1>
	</div>
	<%= will_paginate @photos, :prev_label => "&laquo; #{PREV_PAGE_CN}",
	 													 :next_label => "#{NEXT_PAGE_CN} &raquo;" %>
	<div class="block_main"> 													 		
		<% if @photos.size == 0 %>
			<div class="block_sub_s">
				<div class="notice">
					<%= "这#{@belong_to_unit}#{@belong_to_type}还没有图片, 现在就来添加第一张图片吧......" %>
				</div>
				<div class="todo_button">
					<%= link_to sysinfo('300001', ADD_CN, nil, NEW_CN, {:type => PHOTO_CN}), @new_photo_path %>
				</div>
			</div>
		<% else %>	
			<table class="content">		
				<% 1.upto(@photo_groups_count) do |l| %>
					<tr>
						<% 1.upto(PHOTOS_COUNT_PER_LINE) do |c| %>
							<% if (i=c+(l-1)*PHOTOS_COUNT_PER_LINE) <= @photos.size %>
								<td class="image_cell">
									<div class="cube_image">
										<% if @photos[i-1].is_cover?(@belong_to) %>
												<%= link_to image_tag(@photos[i-1].public_filename('mcube'), :alt => h(@photos[i-1].caption), :class => "cover"), photo_path_for(@photo_type, @belong_to, @photos[i-1], true) %>
										<% else %>
												<%= link_to image_tag(@photos[i-1].public_filename('mcube'), :alt => h(@photos[i-1].caption)), photo_path_for(@photo_type, @belong_to, @photos[i-1], true) %>
										<% end %>
									</div>
								</td>
							<% end %>
						<% end %>
					</tr>	
				<% end %>
			</table>	
		<% end %>
	<div>
	<%= will_paginate @photos, :prev_label => "&laquo; #{PREV_PAGE_CN}",
	 													 :next_label => "#{NEXT_PAGE_CN} &raquo;" %>
</div>