<div class="content_block">
	<div class="block_header">
		<div class="block_header_link">
			<%= link_to sysinfo('300006', '', {:type => @belong_to_type}, MORE_CN, {:type => PHOTO_CN, :count =>@belong_to_photos_count}), @photos_path %> |
			<%= link_to sysinfo('300005', BACK_CN, nil, '', {:type => @belong_to_type, :title => @belong_to_title}), @belong_to_path %>	
		</div>
		<h1><%= @block_title %></h1>
	</div>
	
	<div class="block_main">
		<div class="prev_next">
			<%= " (#{@photo_index} / #@belong_to_photos_count)" %>
			&nbsp;
			<%= link_to "#{PREV_ONE_CN}#{UNIT_2_CN}", photo_path_for(@photo_type, @belong_to, @prev_photo, true) %>
			&nbsp;
			<%= link_to "#{NEXT_ONE_CN}#{UNIT_2_CN}", photo_path_for(@photo_type, @belong_to, @next_photo, true) %>	    		
		</div>
		<div id="current_full_photo" class="image">
			<%= render :partial => "/mine/photos/current_photo" %>
		</div>
		<div class="block_sub_s">
			<div class="basic">
				<ul>
					<li class="basic"><%= "#{COME_FROM_CN} " %><%= link_to "#{@photo_submitter.login}", user_path(@photo_submitter) %></li>
					<li class="basic"><%= "#{@photo.created_at.strftime("%Y-%m-%d %H:%M:%S")} #{ADD_CN}" %></li>
					<% if @photo.created_at != @photo.updated_at %>
						<li class="basic"><%= "#{@photo.updated_at.strftime("%Y-%m-%d %H:%M:%S")} #{UPDATE_CN}" %></li>
					<% end %>
					<li class="basic">
						<% if @photo.is_cover?(@belong_to) %>
								<%= "这是#{@belong_to_type}" %><%= link_to @belong_to_title, @belong_to_path %><%= "的封面图片" %>
						<% else %>
								<%= "这是#{@belong_to_type}" %><%= link_to @belong_to_title, @belong_to_path %><%= "的图片" %>
						<% end %>
					</li>
				</ul>
			</div>
			<div class="main">
				<ul>
					<li class="text"><%= sanitize @photo.caption %></li>
				</ul>
			</div>
			<div class="todo">
				<%= link_to sysinfo('300003', EDIT_CN, nil, '', {:type => PHOTO_CN, :count => 1, :unit => UNIT_2_CN}), @edit_photo_path %> |
				<%= link_to sysinfo('300003', DELETE_CN, nil, '', {:type => PHOTO_CN, :count => 1, :unit => UNIT_2_CN}), @photo_path, :confirm => sysinfo('100003', DELETE_CN, nil, '', {:type => PHOTO_CN, :count => 1, :unit => UNIT_2_CN}), :method => :delete %>
			</div>
		</div>
	</div>
</div>
