<table class="content">
	<tr>
		<td class="label"><label><%= "#{NICKNAME_CN}:" %></label></td>
		<td class="input">
			<div class="info">
				<%= account.login %>
				&nbsp;&nbsp;
				<%= link_to "#{CHANGE_CN}#{NICKNAME_CN}", '' %>
				<br /><br />
			</div>
		</td>
	</tr>
	<tr>
		<td class="label"><label><%= "#{PORTRAIT_CN}:" %></label></td>
		<td class="input">
			<div class="info">
				<%= link_to image_tag('alpha/cook.png', :title => account.login), '' %>
				&nbsp;&nbsp;
				<%= link_to "#{CHANGE_CN}#{PORTRAIT_CN}", '' %>
				<br /><br />
			</div>
		</td>
	</tr>
	<tr>
		<td class="label"><label><%= "#{EMAIL_ADDRESS_CN}:" %></label></td>
		<td class="input">
			<div class="info">
				<%= account.email %>
				&nbsp;&nbsp;
				<%= link_to "#{CHANGE_CN}#{EMAIL_ADDRESS_CN}", '' %>
				<br /><br />
			</div>
		</td>
	</tr>
	<tr>
		<td class="label"><label><%= "#{PASSWORD_CN}:" %></label></td>
		<td class="input">
			<div class="info">
				<%= '**********' %>
				&nbsp;&nbsp;
				<%= link_to "#{CHANGE_CN}#{PASSWORD_CN}", '' %>
				<br /><br />
			</div>
		</td>
	</tr>
</table>
