<!-- <% rank = %w[Abysmal Terrible Bad Poor Mediocre Fair Good Great Suberb Perfect] %> -->
<% rank = %w[水到家 很糟糕 不咋样 有点逊 一般般 还不错 赞一个 非常好 棒极了 超完美] %>
<% ratings_count = rateable.ratings.size %>
<% average_rating_value = average_rating_value(rateable) %> 
<% my_rating_value = user_rating_value(@current_user, rateable) %> 

<div id="average_rating">
	<div>	
		<%= "平均#{RATE_CN}: " %>
		<% if ratings_count > 0 %>
			<span class="rating"><%= "#{average_rating_value}/10 (#{ratings_count}票)" %></span>
		<% else %>
			<%= "还没有#{RATE_CN}" %>
		<% end %>
	</div>
	<ul id="rating">
		<li class="current_rating" style="width: <%= average_rating_value*17 %>px;">
		</li>
	</ul>
</div>
<% if @current_user %>
	<% if rateable.user != @current_user %>
		<em><%= "鼠标点点就能评分啦..." %></em>
		<div id="my_rating">
			<div>
				<%= "我的#{RATE_CN}: " %>
				<% if my_rating_value > 0 %>
					<span class="rating"><%= "#{my_rating_value}/10 (#{rank[my_rating_value-1]})" %></span>
				<% else %>
					<%= "还没有#{RATE_CN}" %>
				<% end %>
			</div>
			<ul id="rating">
				<li class="current_rating" style="width: <%= my_rating_value*17 %>px;">
					<span><%= "#{rank[my_rating_value-1]}(#{my_rating_value})" %></span>
				</li>
				<% 1.upto(rank.size) do |i| %>
					<li id="r<%= i %>">
						<% name = "#{rank[i-1]}" %>
						<%= link_to_remote "<span>#{name}</span>", 
															 :url => {:controller => 'ratings', :action => 'rate', :id => i, :rateable_type => type_for(rateable), :rateable_id => rateable.id}, 
															 :html => {:title => ""} %>
					</li>
				<% end %>
			</ul>
		</div>
	<% end %>
<% else %>
	<div class="todo_button">
		<%= link_to "我要#{RATE_CN}", id_for(type_for(rateable)).to_sym => rateable.id, :controller => 'ratings', :action => 'new' %>
	</div>
<% end %>