<!-- <% rank = %w[Abysmal Terrible Bad Poor Mediocre Fair Good Great Suberb Perfect] %> -->
<% rank = %w[水到家 很糟糕 不咋样 有点逊 一般般 还不错 赞一个 非常好 棒极了 超完美] %>
<div id="average_rating">
	<div class="">	
		<%= "平均#{RATE_CN}: " %>
		<% if ratings_count > 0 %>
			<%= "#{average_rating_value}/10 (#{ratings_count}票)" %>
		<% else %>
			<%= "还没有#{RATE_CN}" %>
		<% end %>
	</div>
	<ul id="rating">
		<li class="current_rating" style="width: <%= average_rating_value*17 %>px;">
		</li>
	</ul>
</div>
<% if @current_user %>
	<div id="my_rating">
		<div class="">
			<%= "我的#{RATE_CN}: " %>
			<% if my_rating_value > 0 %>
				<%= "#{my_rating_value}/10 (#{rank[my_rating_value-1]})" %>
			<% else %>
				<%= "还没有#{RATE_CN}" %>
			<% end %>
		</div>
		<ul id="rating">
			<li class="current_rating" style="width: <%= my_rating_value*17 %>px;">
				<span><%= "#{rank[my_rating_value-1]}(#{my_rating_value})" %></span>
			</li>
			<% 1.upto(rank.size) do |i| %>
				<li id="r<%= i %>">
					<% name = "#{rank[i-1]}" %>
					<%= link_to_remote "<span>#{name}</span>", 
														 :url => {:controller => "ratings", :action => "rate", :id => i, :rateable_type => rateable_type, :rateable_id => rateable_id}, 
														 :html => {:title => ""} %>
				</li>
			<% end %>
		</ul>
	</div>
<% end %>