<h1>Editing code</h1>

<%= error_messages_for :code %>

<% form_for(@code) do |f| %>
  <p>
    <b>Data element</b><br />
    <%= f.text_field :data_element %>
  </p>

  <p>
    <b>Code</b><br />
    <%= f.text_field :code %>
  </p>

  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <b>Language</b><br />
    <%= f.text_field :language %>
  </p>

  <p>
    <b>Remark</b><br />
    <%= f.text_area :remark %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @code %> |
<%= link_to 'Back', codes_path %>
