<h1>Listing codes</h1>

<table>
  <tr>
    <th>Data element</th>
    <th>Code</th>
    <th>Name</th>
    <th>Language</th>
    <th>Remark</th>
  </tr>

<% for code in @codes %>
  <tr>
    <td><%=h code.data_element %></td>
    <td><%=h code.code %></td>
    <td><%=h code.name %></td>
    <td><%=h code.language %></td>
    <td><%=h code.remark %></td>
    <td><%= link_to 'Show', code %></td>
    <td><%= link_to 'Edit', edit_code_path(code) %></td>
    <td><%= link_to 'Destroy', code, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New code', new_code_path %>
