<% user = item.contactor %>

<div id="contact_<%= item.id %>_basic" class="basic">
	<h2>
		<%= render :partial => '/users/user_basic', 
							 :locals => { :user => user, 
							 							:show_come_from => false, 
							 							:show_icon => true,
							 							:show_name => true, 
							 							:show_link => true, 
							 							:show_username => true,
							 							:show_myname => false } %>
	</h2>
	<ul>
		<li>
			<%= render :partial => '/users/user_blog', 
								 :locals => { :user => user, 
								 							:show_add => false } %>
		</li>
	</ul>
</div>


<% items_count = 8 %>
<% interval = 30 %>
<% recipe_conditions = recipe_conditions(recipe_photo_required_cond, recipe_status_cond, recipe_privacy_cond, recipe_is_draft_cond, Date.today - (interval-1).days) %>
<% recipes = recipes_for(user, recipe_conditions, items_count) %>

<% if recipes.size > 0 %>
	<div class="items_bar">
		<div id="contact_<%= item.id %>_latest_items_bar" class="block_main">
			<%= "最近#{interval}日的新鲜#{RECIPE_CN}" %>
			<%= render :partial => "/layouts/items_matrix",
								 :locals => {:show_paginate => false,
								 						 :items_set => recipes, 
								 						 :limit => nil,
								 						 :items_count_per_row => items_count,  
								 						 :show_photo => true, 
								 						 :show_below_photo => false,  
								 						 :show_title => false, 
								 						 :show_user => false, 
								 						 :show_photo_todo => false, 
								 						 :photo_style => 'sign'} %>
		</div>
	</div>
<% end %>

<% if show_todo %>
	<div id="contact_<%= item.id %>_todo" class="todo_right">
		
		<% unless @current_user && user == @current_user %>
			<% if params[:action] == 'mine' %>
				<% contact_status = item.status %>
				<% ref = 'contacts_list' %>
			<% elsif @current_user %>
				<% contact = Contact.find_friendship(@current_user, user) %>
				<% contact_status = contact ? contact.status : nil %>
				<% ref = 'user_contacts_list' %>
			<% else %>
				<% contact_status = '-1' %>
				<% ref = 'user_contacts_list' %>
			<% end %>
			
			<div id="friendship_status_with_user_<%= user.id %>" class="todo_block">
				<%= render :partial => '/contacts/contact_status', 
									 :locals => { :contact_type => '1', 
									 							:status => contact_status, 
									 							:user => user, 
									 							:ref => ref } %>
			</div>
		<% end %>
		
		<% if show_manage %>
			<div id="contact_<%= item.id %>_manage">

			</div>
		<% end %>	
	</div>
<% end %>

<br />

