<% form_for :user, :url => {:action => 'update', :id => params[:id]} do |f| %>
	<table class="content">
		<tr>
			<td class="label"><label for="password"><%= "新#{PASSWORD_CN}:" %></label></td>
			<td class="input">
				<%= f.password_field :password, :class => "text_s" %>
			</td>
		</tr>
		<tr>
			<td></td>
			<td>
				<%= error_message_on "user", "password" %>
			</td>
		</tr>
		<tr>
			<td class="label"><label for="password_confirmation"><%= "#{PASSWORD_CN}确认:" %></label></td>
			<td class="input">
				<%= f.password_field :password_confirmation, :class => "text_s" %>
			</td>
		</tr>
		<tr>
			<td></td>
			<td>
				<%= error_message_on "user", "password_confirmation" %>
			</td>
		</tr>
		<tr>
			<td></td>
			<td class="submit">
				<%= f.submit "#{RESET_CN}#{PASSWORD_CN}", :class => "submit" %>
				&nbsp;&nbsp;
				<%= link_to "&raquo;#{CANCLE_CN}", login_url %>
			</td>
		</tr>
	</table>
<% end %>