<div id="match_<%= item.id %>_basic" class="basic">
	<h2>
		<%= render :partial => '/layouts/item_basic', 
							 :locals => { :item => item,
							 							:show_icon => true,
							 							:show_title => true,
							 							:show_link => true } %>
	</h2>
	<ul>
		<li>
			<%= render :partial => '/users/user_basic', 
								 :locals => { :user => item.user, 
								 							:show_come_from => false, 
								 							:show_icon => true,
								 							:show_name => true, 
								 							:show_link => true, 
								 							:show_username => true,
								 							:show_myname => false } %>
			&nbsp;
			<%= time_iso_format(item.created_at, true) %>
		</li>
		<li>
			<%= render :partial => 'taggings/item_tag_list', 
								 :locals => { :item => item } %>
		</li>
		<li id="match_<%= item.id %>_stats">
			<%= render :partial => '/matches/match_stats', 
								 :locals => { :item => item } %>
		</li>
	</ul>
</div>

<div id="match_<%= item.id %>_main" class="main">
	<ul>
		<li><%= "发起者: #{SITE_NAME_CN}" %></li>
		<li><%= "作品类型: #{name_for(item.entriable_type)}" %></li>
		<li><%= "主题: #{strip_tags(item.subject)}" %></li>
		<li><%= "口号: #{strip_tags(item.slogan)}" %></li>
		<li><%= "时间: #{time_iso_format(item.start_at, false, true)} -- #{time_iso_format(item.end_at, false, true)}" %></li>
		<li>
			<%= render :partial => '/matches/match_status', 
								 :locals => { :item => item } %>
		</li>
	</ul>
</div>

<% if show_todo %>
	<div id="match_<%= item.id %>_todo" class="todo_right">
		<% if show_favorite %>
			<div id="match_<%= item.id %>_favorite" class="favorite_bar">
				<%= render :partial => '/favorites/favorite_bar', 
									 :locals => { :favorable => item, 
									 							:ref => nil,
									 							:favoriter_id => @user ? @user.id : nil } %>
			</div>
		<% end %>
		
		<% if show_manage %>
			<div id="match_<%= item.id %>_manage">
				<%= render :partial => '/matches/match_manage', 
									 :locals => { :item => item, 
									 							:ref => nil, 
									 							:delete_remote => delete_remote } %>
			</div>
		<% end %>	
	</div>
<% end %>