<% if is_new %>
	<% button_name = "#{CREATE_CN}新#{MATCH_CN}" %>
	<% cancle_url = {:action => 'mine'} %>
<% else %>
	<% button_name = SAVE_CHANGES_CN %>
	<% cancle_url = match %>
<% end %>

<% form_for match do |f| %>
	<div class="sub_block_tb">
	<table class="content">
		<tr>
			<td class="label">
				<label class="required" for="title"><%= "#{MATCH_CN}#{TITLE_CN}:" %></label>
			</td>
			<td class="input">
				<div class="input">
					<%= f.text_field :title, :class => "text" %>
				</div>
				<%= error_message_on "match", "title" %>
			</td>
		</tr>
		<tr>
			<td class="label">
				<label for="tags"><%= "#{TAG_CN}:" %></label>
			</td>
			<td class="input">
				<div class="text">
					<%= "为了让大伙儿更容易发现你的#{RECIPE_CN}, 请准确#{INPUT_CN}与#{RECIPE_CN}有关的关键字作为#{TAG_CN}" %><br />
					<%= "<em class='more'>可以从\"主料 / 口味 / 类型 / 菜系 / 地域 / 场合和节日 / 功效\"等多个角度设置#{TAG_CN}</em>" %><br />
					<%= "<em class='more'>#{TAG_CN}之间请用\"空格\"分隔</em>" %><br />
					<%= "如: \"鱼肉&nbsp;&nbsp;咖喱&nbsp;&nbsp;东南亚&nbsp;&nbsp;生日\"" %>
				</div>
				<div class="input">
					<%= f.text_field :tag_list, :class => "text" %>
				</div>
			</td>
		</tr>
		<tr>
			<td class="label">
				<label for="subject"><%= "#{MATCH_CN}主题:" %></label>
			</td>
			<td class="input">
				<div class="input">
					<%= f.text_field :subject, :class => "text" %>
				</div>
				<%= error_message_on "match", "subject" %>
			</td>
		</tr>
		<tr>
			<td class="label">
				<label class="required" for="entriable_type"><%= "#{ENTRY_CN}类型:" %></label>
			</td>
			<td class="input">
				<div class="input">
					<%= f.select :entriable_type, Code.find(:all, :conditions => { :codeable_type => 'entriable_type' }).collect { |c| [ c.title, c.code ] }, { :include_blank => true } %>
				</div>
				<%= error_message_on "match", "entriable_type" %>
			</td>
		</tr>
		<tr>
			<td class="label">
				<label class="required" for="description"><%= "#{DESCRIPTION_CN}:" %></label>
			</td>
			<td class="input">
				<div class="text">
					<%= "请#{INPUT_CN}#{RECIPE_CN}的简介和特色等" %>
				</div>
				<div class="input">
					<%= f.text_area :description %>
				</div>
				<%= error_message_on "match", "description" %>
			</td>
		</tr>
		<tr>
			<td class="label">
				<label class="required" for=""><%= "#{MATCH_CN}时间:" %></label>
			</td>
			<td class="input">
				<div class="text">
					<%= "请#{INPUT_CN}#{RECIPE_CN}的简介和特色等" %>
				</div>
				<div class="input">
					<%= calendar_date_select_tag "match[start_at]", '' %>
					<%= calendar_date_select_tag "match[end_at]", '' %>
				</div>
				<%= error_message_on "match", "start_at" %>
				<%= error_message_on "match", "end_at" %>
			</td>
		</tr>
		<tr>
			<td class="label">
				<label for=""><%= "#{VOTE_CN}时间:" %></label>
			</td>
			<td class="input">
				<div class="text">
					<%= "请#{INPUT_CN}#{RECIPE_CN}的简介和特色等" %>
				</div>
				<div class="input">
					<%= calendar_date_select_tag "match[voting_start_at]", '' %>
					<%= calendar_date_select_tag "match[voting_end_at]", '' %>
				</div>
				<%= error_message_on "match", "voting_start_at" %>
				<%= error_message_on "match", "voting_end_at" %>
			</td>
		</tr>
		<tr>
			<td class="label">
				<label for=""><%= "选项:" %></label>
			</td>
			<td class="input">
				<div class="input">
					<%= "每个#{PLAYER_CN}可以有几个#{ENTRY_CN}? " %>
					<%= render :partial => "/layouts/number_input", 
							 			 :locals => { :min => 1, 
							 						  			:max => 20, 
							 						  			:include_blank => false, 
							 						  			:include_no_limit => true, 
							 						  			:selected => 1, 
							 						  			:name => 'match[entries_per_player]' } %>
				<div>
				<div class="input">
					<%= "每个#{VOTER_CN}可以给几个#{ENTRY_CN}#{VOTE_CN}? " %>
					<%= render :partial => "/layouts/number_input", 
							 			 :locals => { :min => 1, 
							 						  			:max => 20, 
							 						  			:include_blank => false, 
							 						  			:include_no_limit => true, 
							 						  			:selected => 3, 
							 						  			:name => 'match[entries_per_voter]' } %>
				<div>
				<div class="input">
					<%= "每个#{VOTER_CN}可以给每个#{ENTRY_CN}投几票? " %>
					<%= render :partial => "/layouts/number_input", 
							 			 :locals => { :min => 1, 
							 						  			:max => 20, 
							 						  			:include_blank => false, 
							 						  			:include_no_limit => false, 
							 						  			:selected => 1, 
							 						  			:name => 'match[votes_per_voter]' } %>
				<div>
				<div class="input">
					<%= "每个#{ENTRY_CN}至少需要几个#{VOTER_CN}#{VOTE_CN}才能参与排名? " %>
					<%= render :partial => "/layouts/number_input", 
							 			 :locals => { :min => 1, 
							 						  			:max => 20, 
							 						  			:include_blank => false, 
							 						  			:include_no_limit => false, 
							 						  			:selected => 5, 
							 						  			:name => 'match[votes_lower_limit]' } %>
				<div>
			</td>
		</tr>
		<tr>
			<td class="label">
				<label for="any_else"><%= "其他:" %></label>
			</td>
			<td class="input">
				<div class="text">
					<%= "可以在这里#{INPUT_CN}其他任何的内容" %>
				</div>
				<div class="input">
					<%= f.text_area :any_else %>
				</div>
				<%= error_message_on "match", "any_else" %>
			</td>
		</tr>		
		<tr>
			<td></td>
			<td class="input">
				<div class="submit">
					<%= f.submit button_name, :disable_with => "#{SAVE_CN}中...", :class => "submit" %>
					&nbsp;&nbsp;
					<%= link_to "&raquo;#{CANCLE_CN}", cancle_url %>
				</div>
			</td>
		</tr>
	</table>
	</div>
<% end %>
