<% if is_new %>
	<% button_name = "#{CREATE_CN}新#{MATCH_CN}" %>
	<% cancle_url = { :action => 'mine' } %>
<% else %>
	<% button_name = SAVE_CHANGES_CN %>
	<% cancle_url = match %>
<% end %>

<% form_for match do |f| %>
	<div class="sub_block_tb">
	<table class="content">
		<tr>
			<td class="label">
				<label class="required" for="title"><%= "#{MATCH_CN}#{TITLE_CN}:" %></label>
			</td>
			<td class="input">
				<div class="input">
					<%= f.text_field :title, :class => "text" %>
				</div>
				<%= error_message_on "match", "title" %>
			</td>
		</tr>
		<tr>
			<td class="label">
				<label class="required" for="tag_list"><%= "#{TAG_CN}:" %></label>
			</td>
			<td class="input">
				<div class="text">
					<%= "为了让大伙儿更容易发现这#{unit_for('Match')}#{MATCH_CN}, 请准确#{INPUT_CN}与#{MATCH_CN}有关的关键字作为#{TAG_CN}" %><br />
					<%= "<em class='more'>#{TAG_CN}之间请用\"空格\"分隔</em>" %><br />
					<%= "如: \"大奖赛&nbsp;&nbsp;新春&nbsp;&nbsp;食谱\"" %>
				</div>
				<div class="input">
					<%= f.text_field :tag_list, :class => "text" %>
				</div>
			</td>
		</tr>
		<tr>
			<td class="label">
				<label class="required" for="subject"><%= "主题:" %></label>
			</td>
			<td class="input">
				<div class="text">
					<%= "请简练地写出#{MATCH_CN}的主题" %><br />
					<%= "如: \"最有创意的生日食谱\"" %>
				</div>
				<div class="input">
					<%= f.text_field :subject, :class => "text" %>
				</div>
				<%= error_message_on "match", "subject" %>
			</td>
		</tr>
		<tr>
			<td class="label">
				<label for="slogan"><%= "口号:" %></label>
			</td>
			<td class="input">
				<div class="text">
					<%= "给#{MATCH_CN}想一句好听又好记的口号吧" %>
				</div>
				<div class="input">
					<%= f.text_field :slogan, :class => "text" %>
				</div>
				<%= error_message_on "match", "slogan" %>
			</td>
		</tr>
		<tr>
			<td class="label">
				<label class="required" for="entriable_type"><%= "作品类型:" %></label>
			</td>
			<td class="input">
				<div class="input">
					<%= f.select :entriable_type, Code.find(:all, :conditions => { :codeable_type => 'entriable_type' }).collect { |c| [ c.title, c.name.camelize ] }, { :include_blank => true } %>
				</div>
				<%= error_message_on "match", "entriable_type" %>
			</td>
		</tr>
		<tr>
			<td class="label">
				<label class="required" for="description"><%= "#{DESCRIPTION_CN}:" %></label>
			</td>
			<td class="input">
				<div class="text">
					<%= "请#{INPUT_CN}#{MATCH_CN}的简介和特色等" %>
				</div>
				<div class="input">
					<%= f.text_area :description %>
				</div>
				<%= error_message_on "match", "description" %>
			</td>
		</tr>
		<tr>
			<td class="label">
				<label class="required" for="match_time"><%= "时间:" %></label>
			</td>
			<td class="input">
				<div class="text">
					<%= "请设置比赛的启动时间和揭晓时间" %>
				</div>
				<div class="input">
					比赛启动于 <%= calendar_date_select_tag "match[start_at]", match.start_at ? match.start_at.to_date : nil %>
					揭晓于 <%= calendar_date_select_tag "match[end_at]", match.end_at ? match.end_at.to_date : nil %>
				</div>
				<%= error_message_on "match", "start_at" %>
				<%= error_message_on "match", "end_at" %>
				<div class="text">
					<%= "请设置报名的开始时间和结束时间" %>
				</div>
				<div class="input">
					报名开始于 <%= calendar_date_select_tag "match[enrolling_start_at]", match.enrolling_start_at ? match.enrolling_start_at.to_date : nil %>
					结束于 <%= calendar_date_select_tag "match[enrolling_end_at]", match.enrolling_end_at ? match.enrolling_end_at.to_date : nil %>
				</div>
				<%= error_message_on "match", "enrolling_start_at" %>
				<%= error_message_on "match", "enrolling_end_at" %>
				<div class="text">
					<%= "请设置征集的开始时间和结束时间" %>
				</div>
				<div class="input">
					征集开始于 <%= calendar_date_select_tag "match[collecting_start_at]", match.collecting_start_at ? match.collecting_start_at.to_date : nil %>
					结束于 <%= calendar_date_select_tag "match[collecting_end_at]", match.collecting_end_at ? match.collecting_end_at.to_date : nil %>
				</div>
				<%= error_message_on "match", "collecting_start_at" %>
				<%= error_message_on "match", "collecting_end_at" %>
				<div class="text">
					<%= "请设置投票的开始时间和结束时间" %>
				</div>
				<div class="input">
					投票开始于 <%= calendar_date_select_tag "match[voting_start_at]", match.voting_start_at ? match.voting_start_at.to_date : nil %>
					结束于 <%= calendar_date_select_tag "match[voting_end_at]", match.voting_end_at ? match.voting_end_at.to_date : nil %>
				</div>
				<%= error_message_on "match", "voting_start_at" %>
				<%= error_message_on "match", "voting_end_at" %>
			</td>
		</tr>
		<tr>
			<td class="label">
				<label class="required" for="rules"><%= "规则:" %></label>
			</td>
			<td class="input">
				<div class="text">
					<%= "请设置#{MATCH_CN}的规则选项" %>
				</div>
				<div class="input">
					<% entry_unit = unit_for('Entry') %>
					<%= "每位选手最多可以提交几#{entry_unit}#{ENTRY_CN}? " %>
					<%= render :partial => 'layouts/number_input', 
							 			 :locals => { :min => 1, 
							 						  			:max => 20, 
							 						  			:include_blank => false, 
							 						  			:include_no_limit => true, 
							 						  			:selected => match.entries_per_player || 3, 
							 						  			:name => 'match[entries_per_player]' } %>
				<div>
				<%= error_message_on "match", "entries_per_player" %>
				<div class="input">
					<%= "每位投票者最多可以给几#{entry_unit}#{ENTRY_CN}#{VOTE_CN}? " %>
					<%= render :partial => 'layouts/number_input', 
							 			 :locals => { :min => 1, 
							 						  			:max => 20, 
							 						  			:include_blank => false, 
							 						  			:include_no_limit => true, 
							 						  			:selected => match.entries_per_voter || 6, 
							 						  			:name => 'match[entries_per_voter]' } %>
				<div>
				<%= error_message_on "match", "entries_per_voter" %>
				<div class="input">
					<%= "每位投票者最多可以给每#{entry_unit}#{ENTRY_CN}投几票? " %>
					<%= render :partial => 'layouts/number_input', 
							 			 :locals => { :min => 1, 
							 						  			:max => 20, 
							 						  			:include_blank => false, 
							 						  			:include_no_limit => false, 
							 						  			:selected => match.votes_per_entry || 1, 
							 						  			:name => 'match[votes_per_entry]' } %>
				<div>
				<%= error_message_on "match", "votes_per_entry" %>
				<div class="input">
					<%= "每#{entry_unit}#{ENTRY_CN}至少需要几位投票者#{VOTE_CN}才能参与奖项评选? " %>
					<%= render :partial => 'layouts/number_input', 
							 			 :locals => { :min => 1, 
							 						  			:max => 20, 
							 						  			:include_blank => false, 
							 						  			:include_no_limit => false, 
							 						  			:selected => match.votes_lower_limit || 5, 
							 						  			:name => 'match[votes_lower_limit]' } %>
				<div>
				<%= error_message_on "match", "votes_lower_limit" %>
				<div class="input">
					<%= "每#{entry_unit}#{ENTRY_CN}最多可以获得几个奖项? " %>
					<%= render :partial => 'layouts/number_input', 
							 			 :locals => { :min => 1, 
							 						  			:max => 20, 
							 						  			:include_blank => false, 
							 						  			:include_no_limit => true, 
							 						  			:selected => match.awards_per_entry || 1, 
							 						  			:name => 'match[awards_per_entry]' } %>
				<div>
				<%= error_message_on "match", "awards_per_entry" %>
				<div class="input">
					<%= "每位选手最多可以获得几个奖项? " %>
					<%= render :partial => 'layouts/number_input', 
							 			 :locals => { :min => 1, 
							 						  			:max => 20, 
							 						  			:include_blank => false, 
							 						  			:include_no_limit => true, 
							 						  			:selected => match.awards_per_player || 1, 
							 						  			:name => 'match[awards_per_player]' } %>
				<div>
				<%= error_message_on "match", "awards_per_player" %>
				<div class="text">
					<%= "请#{INPUT_CN}#{MATCH_CN}的规则说明" %>
				</div>
				<div class="input">
					<%= f.text_area :rules %>
				</div>
				<%= error_message_on "match", "rules" %>
			</td>
		</tr>
		<tr>
			<td class="label">
				<label for="any_else"><%= "其他:" %></label>
			</td>
			<td class="input">
				<div class="text">
					<%= "可以在这里#{INPUT_CN}其他任何与#{MATCH_CN}有关的内容" %>
				</div>
				<div class="input">
					<%= f.text_area :any_else %>
				</div>
				<%= error_message_on "match", "any_else" %>
			</td>
		</tr>		
		<tr>
			<td></td>
			<td class="input">
				<div class="submit">
					<%= f.submit button_name, :disable_with => "#{SAVE_CN}中...", :class => "submit" %>
					&nbsp;&nbsp;
					<%= link_to "&raquo;#{CANCLE_CN}", cancle_url %>
				</div>
			</td>
		</tr>
	</table>
	</div>
<% end %>
