<% form_for(:photo, :url => do_url, :html => { :method => html_method }) do |f| %>
	<div class="sub_block">
		<div class="label">
			<label class="left" for="caption"><%= "#{CAPTION_CN}:" %></label>
		</div>
		<div class="input">
			<%= f.text_area :caption, :class => 's' %>
		</div>
		<div class="error">
			<%= error_message_on "photo", "caption" %>
		</div>
		<div class="input">
			<% if photo.is_cover?(photoable) %>
				<%= " 这是#{name_for(photo.photo_type)}" %><%= link_to h("\"#{item_title(photo.photo_type, photoable)}\""), restfu_url_for(nil, nil, {:type => photo.photo_type, :id => photo.belong_to_id}, nil) %><%= "的封面#{PHOTO_CN}" %>
			<% else %>
				<%= check_box_tag "is_cover" %><%= " 用这#{UNIT_PHOTO_CN}#{PHOTO_CN}作为#{name_for(photo.photo_type)}" %><%= link_to h("\"#{item_title(photo.photo_type, photoable)}\""), restfu_url_for(nil, nil, {:type => photo.photo_type, :id => photo.belong_to_id}, nil) %><%= "的封面#{PHOTO_CN}" %>
			<% end %>
		</div>
		<div class="submit">
			<%= f.submit button_name, :class => "submit" %>
			&nbsp;&nbsp;
			<%= link_to "&raquo;#{CANCLE_CN}", do_url %>
		</div>
	</div>
<% end %>