<div class="basic">
	<ul>
		<li>
			<%= "来自 " %><%= link_to h(user_username(photo.user)), user_first_link(photo.user) %>		    			
		</li>
		<li>
			<%= "#{time_iso_format(photo.created_at)} #{ADD_CN}" %>
		</li>
		<% if photo.created_at != photo.updated_at %>
			<li>
				<%= "#{time_iso_format(photo.updated_at)} #{UPDATE_CN}" %>
			</li>
		<% end %>
		<% if show_parent %>
			<li>
				<% if photo.is_cover?(photoable) %>
					<%= "这是#{name_for(photo.photoable_type)}-" %><%= link_to h("#{item_title(photoable)}"), restfu_url_for(nil, nil, {:type => photo.photoable_type, :id => photo.photoable_id}, nil) %><%= "的封面#{PHOTO_CN}" %>
				<% else %>
					<%= "这是#{name_for(photo.photoable_type)}-" %><%= link_to h("#{item_title(photoable)}"), restfu_url_for(nil, nil, {:type => photo.photoable_type, :id => photo.photoable_id}, nil) %><%= "的#{PHOTO_CN}" %>
				<% end %>
			</li>
		<% end %>
	</ul>
</div>

<% if show_todo %>
	<div class="todo_right">
		<% if photo.user == @current_user %>
			<%= link_to "#{EDIT_CN}这#{UNIT_PHOTO_CN}#{PHOTO_CN}", restfu_url_for(nil, {:type => photo.photoable_type, :id => photo.photoable_id}, {:type => 'photo', :id => photo.id}, 'edit') %> |
			<%= link_to "#{DELETE_CN}这#{UNIT_PHOTO_CN}#{PHOTO_CN}", restfu_url_for(nil, {:type => photo.photoable_type, :id => photo.photoable_id}, {:type => 'photo', :id => photo.id}, nil), :confirm => "确定要#{DELETE_CN}这#{UNIT_PHOTO_CN}#{PHOTO_CN}吗?", :method => :delete %>
		<% end %>
	</div>
<% end %>

<div class="main">
	<%= h photo.caption %>
</div>