<div id="photo_<%= photo.id %>_basic" class="basic">
	<ul>
		<li>
			<%= render :partial => '/users/user_basic', 
								 :locals => { :user => photo.user, 
								 							:show_come_from => true, 
								 							:show_icon => true,
								 							:show_name => true, 
								 							:show_link => true, 
								 							:show_username => true,
								 							:show_myname => false } %>	    			
		</li>
		<li>
			<%= "#{time_iso_format(photo.created_at, true)} #{ADD_CN}" %>
		</li>
		<% if photo.created_at != photo.updated_at %>
			<li>
				<%= "#{time_iso_format(photo.updated_at, true)} #{UPDATE_CN}" %>
			</li>
		<% end %>
		<% if show_parent %>
			<% photoable_type = photo.photoable_type %>
			<% photoable_name = name_for(photoable_type) %>
			<% photo_type = code_title("#{photoable_type.downcase}_photo_type", photo.photo_type) %>
			<% photo_info = "这#{unit_for('Photo')}#{PHOTO_CN}是#{photoable_name}的#{photo_type}图" %>
			<li>
				<% if photo.is_cover?(photo.photoable) %>
					<%= photo_info + ", 也是#{photoable_name}封面" %>
				<% else %>
					<%= photo_info %>
				<% end %>
			</li>
		<% end %>
	</ul>
</div>

<div id="photo_<%= photo.id %>_main" class="main">
	<%= h photo.caption %>
</div>

<% if show_todo %>
	<div id="photo_<%= photo.id %>_todo" class="todo_right">
		<div id="photo_<%= photo.id %>_manage">
			<%= render :partial => '/photos/photo_manage', 
								 :locals => { :item => photo, 
								 							:ref => 'show' } %>
		</div>
	</div>
<% end %>
