<% form_for(:photo, :url => do_url, :html => { :multipart => true, :method => html_method }) do |f| %>
	<table class="content">
		<tr>
			<td class="label">
				<label class="required" for="uploaded_data"><%= "#{PHOTO_CN}#{FILE_CN}:" %></label>
			</td>
			<td class="input">
				<div class="input">
					<% if photo.errors_on_file %>
						<div class="fieldWithErrors">
							<%= f.file_field :uploaded_data, :class => "text" %>
						</div>
					<% else %>
						<%= f.file_field :uploaded_data, :class => "text" %>
					<% end %>
				</div>
				<div class="text">
					<%= "#{PHOTO_CN}#{FILE_CN}的大小应该小于1M" %>
				</div>
				<% if photo.errors_on_file %>
					<div class="formError">	
						<%= photo.errors_on_file %>
					</div>
				<% end %>
			</td>
		</tr>
		<tr>
			<td class="label">
				<label for="caption"><%= "#{CAPTION_CN}:" %></label>
			</td>
			<td class="input">
				<div class="input">
					<% if photo.errors_on_caption %>
						<div class="fieldWithErrors">
							<%= f.text_area :caption, :class => 's' %>
						</div>
					<% else %>
						<%= f.text_area :caption, :class => 's' %>
					<% end %>
				</div>
				<% if photo.errors_on_caption %>
					<div class="formError">	
						<%= photo.errors_on_caption %>
					</div>
				<% end %>
			</td>
		</tr>
		<tr>
			<td></td>
			<td class="input">
				<div class="submit">
					<%= f.submit button_name, :class => "submit" %>
					&nbsp;&nbsp;
					<%= link_to "&raquo;#{CANCLE_CN}", '' %>
				</div>
			</td>
		</tr>
	</table>
<% end %>