<div id="photo_<%= photo.id %>_basic" class="basic">
	<ul>
		<li>
			<%= "来自 " %>
			<% if photo.user.is_role_of?('brain') %>
				<%= image_tag 'default/other/brain.png', :title => codes_for(code_conditions('user_role', nil, nil, 'brain'))[0].title, :class => "icon" %>
			<% end %>
			<%= link_to strip_tags(user_username(photo.user)), user_first_link(photo.user) %>		    			
		</li>
		<li>
			<%= "#{time_iso_format(photo.created_at, true)} #{ADD_CN}" %>
		</li>
		<% if photo.created_at != photo.updated_at %>
			<li>
				<%= "#{time_iso_format(photo.updated_at, true)} #{UPDATE_CN}" %>
			</li>
		<% end %>
		<% if show_parent %>
			<li>
				<% if photo.is_cover?(photo.photoable) %>
					<%= "这#{UNIT_PHOTO_CN}#{PHOTO_CN}是#{name_for(photo.photoable_type)}的#{code_title('photo_type', photo.photo_type)}图, 也是#{name_for(photo.photoable_type)}封面" %>
				<% else %>
					<%= "这#{UNIT_PHOTO_CN}#{PHOTO_CN}是#{name_for(photo.photoable_type)}的#{code_title('photo_type', photo.photo_type)}图" %>
				<% end %>
				
			</li>
		<% end %>
	</ul>
</div>

<div id="photo_<%= photo.id %>_main" class="main">
	<%= h photo.caption %>
</div>

<% if show_todo %>
	<div id="photo_<%= photo.id %>_todo" class="todo_right">
		<% if photo.user == @current_user %>
			<%= link_to "#{EDIT_CN}这#{UNIT_PHOTO_CN}#{PHOTO_CN}", [photo.photoable, photo, :edit] %> |
			<%= link_to "#{DELETE_CN}这#{UNIT_PHOTO_CN}#{PHOTO_CN}", [photo.photoable, photo], :confirm => "确定要#{DELETE_CN}这#{UNIT_PHOTO_CN}#{PHOTO_CN}吗?", :method => :delete %>
		<% end %>
	</div>
<% end %>
