<% if show_paginate %>
	<% photos = items_paginate(photos_set) %>
<% elsif limit %>
	<% photos = photos_set[0..limit-1] %>
<% else %>
	<% photos = photos_set %>
<% end %>

<% if show_paginate %>
	<%= render :partial => "/layouts/items_paginate",
						 :locals => {:items => photos} %>
<% end %>

<div class="sub_block_tb">
<table class="photo">		
	<% 1.upto(photos_rows_count(photos.size, photos_count_per_row)) do |r| %>
		<tr>
			<% 1.upto(photos_count_per_row) do |c| %>
				<% if (i=c+(r-1)*photos_count_per_row) <= photos.size %>
					<td class="photo_item_cell">
						<div class="matrix_block">
							
							<% if show_photo %>
								<div id="photo_<%= photos[i-1].id %>" class="matrix_photo">
				    			<%= render :partial => "/photos/photo_photo",
				    								 :locals => {:photo => photos[i-1], 
				    								 						 :show_cover => show_cover, 
				    								 						 :focus_photo => focus_photo, 
				    								 						 :photo_style => photo_style, 
				    								 						 :show_photo_link => true,
				    								 						 :photo_link_url => nil, 
				    								 						 :photo_link_remote => photo_link_remote, 
				    								 						 :photo_filtered => photo_filtered, 
				    								 						 :filter_type => filter_type } %>
								</div>
							<% end %>
							
							<% if show_below_photo %>
								<div id="below_photo_<%= photos[i-1].id %>" class="below_photo">
									<%= render :partial => "/photos/below_photo_photo", 
														 :locals => {:photo => photos[i-1], 
														 						 :show_photo_todo => show_photo_todo} %>
								</div>
							<% end %>
							
						</div>
					</td>
				<% else %>
					<% break %>
				<% end %>
			<% end %>
		</tr>	
	<% end %>
</table>
</div>

<% if show_paginate %>
	<%= render :partial => "/layouts/items_paginate",
						 :locals => {:items => photos} %>
<% end %>