<div class="content_block">
	
	<div class="block_header">
		<div class="block_header_link">
			<% if @photo.user == @current_user %>
				<%= link_to EDIT_CN, @edit_self_url %> |
			<% end %>
			<%= link_to strip_tags("#{BACK_CN}#{ALBUM_CN}"), @selfs_url %> |
			<%= link_to strip_tags("#{BACK_CN}#{@parent_name}"), @parent_url %>
		</div>
		<h1><%= strip_tags @block_title %></h1>
	</div>
	
	<div class="block_main">
		<div id="photos_prev_next" class="prev_next">
			<%= render :partial => "/photos/prev_next", 
								 :locals => { :photo_index => @photo_index, 
								 						  :photos_set_count => @photos_set_count, 
								 						  :photoable => @parent_obj, 
								 						  :prev_photo => @prev_photo, 
								 						  :next_photo => @next_photo } %>
		</div>
		
		<div id="photo_<%= @photo.id %>_photo" class="full_photo">
			<%= render :partial => "/photos/photo_photo",
								 :locals => { :photo => @photo, 
								 						  :show_cover => false, 
								 						  :focus_photo => nil, 
								 						  :photo_style => 'full', 
								 						  :show_photo_link => true, 
								 						  :photo_link_url => @photo_link_url, 
								 						  :photo_link_remote => false, 
								 						  :photo_filtered => false, 
								 						  :photo_filtered => 'photo_type' } %>
		</div>
		
		<div id="photo_<%= @photo.id %>_basic" class="sub_block">
			<%= render :partial => "/photos/photo",
								 :locals => { :photo => @photo,
								 						  :show_parent => true, 
								 						  :show_todo => true } %>
		</div>
		
	</div>
	
</div>
