<div class="content_block">
	
	<div class="block_header">
		<div class="block_header_link">
			<%= link_to EDIT_CN, @edit_self_url %> |
			<%= link_to "#{@parent_name}的更多#{@self_name}(#{@photos_set_count})", @selfs_url %> |
			<%= link_to "#{BACK_CN}#{@parent_name}", @parent_url %>
		</div>
		<h1><%= h @block_title %></h1>
	</div>
	
	<div class="block_main">
		<div class="prev_next">
			<%= " (#{@photo_index} / #@photos_set_count)" %>
			&nbsp;
			<% if @photos_set_count > 1 %>
				<%= link_to "#{PREV_ONE_CN}#{@self_unit}", @prev_photo_url %>
				&nbsp;
				<%= link_to "#{NEXT_ONE_CN}#{@self_unit}", @next_photo_url %>
			<% else %>
				<%= "#{PREV_ONE_CN}#{@self_unit}" %>
				&nbsp;
				<%= "#{NEXT_ONE_CN}#{@self_unit}" %>
			<% end %>
		</div>
		
		<div class="full_photo">
			<%= render :partial => "photo_photo",
								 :locals => {:photo => @photo, 
								 						 :photoable => @parent_obj, 
								 						 :photo_style => 'full', 
								 						 :photo_link_url => @next_photo_url} %>
		</div>
		
		<div class="sub_block_s">
			<%= render :partial => "photo",
								 :locals => {:item => @photo,
								 						 :photoable => @parent_obj, 
								 						 :show_parent => true, 
								 						 :show_todo => true} %>
		</div>
		
	</div>
	
</div>
