<div class="sidebar_block">
	<div class="sidebar_block_header">
		<h1><%= '友情合作' %></h1>
	</div>
	
	<div id="partner_list_wrapper" class="sidebar_block_main">
		<table class="content">
			
		  <tr>
		    <td class="left_column">
		    	<div class="partner_photo">
                    <%= link_to image_tag('partner/foodlife/foodlife_tiny.jpg', :title => '美食·人生', :alt => ''), 'http://q.blog.sina.com.cn/wjhdwsrs', :target => "_blank" %>
                </div>
		    </td>
		    
		    <td class="right_column">
		    	<div class="basic">
			    	<h2>
			    		<%= link_to '美食·人生', 'http://q.blog.sina.com.cn/wjhdwsrs', :class => 'seo_link', :target => "_blank" %>
			    	</h2>
                    <%= '生活的美好在于餐桌，人生的意义在于品味。让我们一起来品味生活，品味多彩多滋的人生吧...' %>
		    	</div>
		    </td>
		  </tr>

		  <tr>
		    <td class="left_column">
              <div class="partner_photo">
                  <%= link_to image_tag('partner/lifegreenbook/lifegreenbook_tiny.jpg', :title => '生活绿皮书', :alt => ''), 'http://q.blog.sina.com.cn/wjhdwsrs', :target => "_blank" %>
              </div>
		    </td>

		    <td class="right_column">
		    	<div class="basic">
			    	<h2>
			    		<%= link_to '生活绿皮书', 'http://q.blog.sina.com.cn/yryg', :class => 'seo_link', :target => "_blank" %>
			    	</h2>
                    <%= '在热闹美好的喧闹中...找到快乐生活的真谛...' %>
		    	</div>
		    </td>
		  </tr>
			
		</table>
	</div>
</div>