<div class="welcome">	
	<div class="welcome_content">	
		<p>记得<%= link_to '《料理鼠王》', 'http://www.douban.com/subject/1793491/', :popup => true %>里小鼠雷米那句惊世名言吗?</p><br />
		<p>"Every people can be a cook. —— Remy"</p><br />
		<p>是的, 人人皆可成为厨师!</p><br />
		<% if @current_user %>
			<p><span>
				<%= link_to image_tag(photo_file_url(user_portrait(@current_user), 'cook', 'matrix'), :title => "进入我的#{SITE_NAME_CN}"), 
										user_first_link(@current_user) %>
			</span></p><br />
			<p><em class="l"><%= "#{@current_user.login}, 欢迎来到#{SITE_NAME_CN}......" %></em></p><br />			
		<% else %>
			<p><span>
				<%= link_to image_tag(photo_file_url(nil, 'cook', 'matrix'), :title => "加入#{SITE_NAME_CN}"), 
										signup_url %>
			</span></p><br />
			<p><em class="l"><%= "欢迎来到#{SITE_NAME_CN}......" %></em></p><br />
		<% end %>
		<p>记录——<em>美食灵感</em>&nbsp;&nbsp;&nbsp;&nbsp;分享——<em>私房食谱</em></p><br />
		<p>结交——<em>天下厨友</em>&nbsp;&nbsp;&nbsp;&nbsp;切磋——<em>江湖厨道</em></p><br />
		<div class="welcome_todo_button">
			<% if @current_user %>
				<%= link_to "进入我的#{SITE_NAME_CN}", user_first_link(@current_user) %>
			<% else %>
				<%= link_to "加入#{SITE_NAME_CN}", signup_url %>
			<% end %>
		</div>

		<div class="block_main">
			<%= render :partial => "/layouts/items_matrix",
								 :locals => {:show_paginate => false,
								 						 :items_set => @recipes_set, 
								 						 :limit => 10,
								 						 :items_count_per_row => count_per_row(10),  
								 						 :show_photo => true, 
								 						 :show_below_photo => false,  
								 						 :show_title => false, 
								 						 :show_photo_todo => false, 
								 						 :photo_style => 'sign'} %>
		</div>
	</div>
</div>






























