<div class="welcome">	
	<div class="welcome_content">	
		<p>记得<%= link_to '《料理鼠王》', 'http://www.douban.com/subject/1793491/', :popup => true %>里雷米那句惊世名言吗?</p><br />
		<p>"Every people can be a cook. —— Remy"</p><br />
		<p>是的, 人人皆可成为厨师!</p><br />
		<% if @current_user %>
			<p><span><%= link_to image_tag('default/cook/default_cook.png', :title => "进入我的#{SITE_NAME_CN}"), "#{root_url}mine/overview" %></span></p><br />
			<p><em><%= "#{@current_user.login}, 欢迎来到#{SITE_NAME_CN}......" %></em></p><br />			
		<% else %>
			<p><span><%= link_to image_tag('alpha/cook.png', :title => "加入#{SITE_NAME_CN}"), "#{root_url}signup" %></span></p><br />
			<p><em><%= "欢迎来到#{SITE_NAME_CN}......" %></em></p><br />
		<% end %>
		<p>就在这里——分享美食, 投身美食大"革命"!</p><br />
		<p>就在这里——以厨会友, 享受我厨我"蜂"狂!<p>
	</div>
	
	<div class="welcome_footer">
		<% if @current_user %>
			<%= link_to "进入我的#{SITE_NAME_CN}", "#{root_url}mine/overview" %>
		<% else %>
			<%= link_to "加入#{SITE_NAME_CN}", "#{root_url}signup" %>
		<% end %>
	</div>
</div>

































