<% obj_type = 'Nomination' %>
<% obj_name = name_for(obj_type) %>
<% objs_html_id = obj_type.tableize %>
<% nominatein_type = type_for(@nominatein) %>

<div id="<%= objs_html_id %>_index_wrapper" class="highlighted_block content_block">
  <div id="<%= objs_html_id %>_index_header" class="block_header">
    <div class="block_header_link">
      <%= render :partial => 'nominations/index_header_link' %>
    </div>
    <h1>
      <div><%= "#{obj_name}名单" %></div>
      <% item_grands = [] %>
      <% for item_grand_group in @item_groups %>
        <% item_grands << item_grand_group[:item_grand] %>
      <% end %>
      <% item_parent_type = type_for(item_grands[0]) %>
      <div class="index_selector">
        <%= select_tag "items_index", option_groups_from_collection_for_select(item_grands, :childs, :title, :id, :title),
                         { :onchange => remote_function(:url => { :controller => 'system', :action => 'redirect_to_from_select', :prefix => "##{item_parent_type.tableize.singularize}_", :suffix => "_#{objs_html_id}_wrapper" }, :with => "'item_id='+value") } %>
        <% buttons = [] %>
        <% if @current_user && @current_user.is_role_of?('admin') %>
          <% buttons << [ [ 'gb_user' ],
                          [ "&raquo;按#{USER_CN}分组", "#{item_first_link(@nominatein)}/nominations?group_by=user" ] ] %>
        <% end %>
        <span class="todo">
          <%= render :partial => 'layouts/todo_bar',
                      :locals => { :buttons => buttons } %>
        </span>
      </div>
    </h1>
  </div>

  <div id="<%= objs_html_id %>_index_detail" class="block_main">
    
  </div>
</div>

<% for item_grand_group in @item_groups %>
  <% item_grand = item_grand_group[:item_grand] %>
  <% item_parent_groups = item_grand_group[:item_parents] %>

  <% html_id = "#{item_parent_type.tableize.singularize}_#{item_grand.id}" %>
  <div id="<%= html_id %>_<%= objs_html_id %>_wrapper" class="highlighted_block content_block">
    <div id="<%= html_id %>_<%= objs_html_id %>_header" class="block_header">
      <div class="block_header_link">
        <%= render :partial => 'layouts/back_top_button'  %>
      </div>
      <h1><%= strip_tags "#{item_title(item_grand)} (#{item_parent_groups.size})" %></h1>
    </div>

    <div id="<%= html_id %>_<%= objs_html_id %>_detail" class="block_main">

    </div>
  </div>

  <% for item_parent_group in item_parent_groups %>
    <% item_parent = item_parent_group[:item_parent] %>
    <% items = item_parent_group[:items] %>

    <% html_id = "#{item_parent_type.tableize.singularize}_#{item_parent.id}" %>
    <div id="<%= html_id %>_<%= objs_html_id %>_wrapper" class="content_block">
      <div id="<%= html_id %>_<%= objs_html_id %>_header" class="block_header">
        <div class="block_header_link">
          <%= render :partial => 'layouts/back_top_button'  %>
        </div>
        <h1><%= strip_tags "#{item_title(item_parent)} - #{obj_name} (#{items.size})" %></h1>
      </div>

      <div id="<%= html_id %>_<%= objs_html_id %>_detail" class="block_main">
        <% if @nominatein.is_status_of?('todo') || @nominatein.is_status_of?('doing') || @nominatein.is_status_of?('doing_nomination_todo') %>
          <div class="filter_bar info_bar">
            <em class="l2"><%= strip_tags item_parent.description %></em>
          </div>

          <div id="<%= html_id %>_<%= objs_html_id %>_notice" class="block_notice">
            <%= render :partial => 'layouts/notice',
                        :locals => { :notice => "提名名单将于#{@nomination_published_at}公布，敬请期待！" } %>
          </div>
        <% else %>
          <div class="filter_bar info_bar">
            <% show_my_ballotable = false %>
            <em class="l2"><%= strip_tags item_parent.description %></em>
            <% if @nominatein.is_status_of?('doing_voting_doing') %>
              <br />
              <em class="l3"><%= "请点击这个#{AWARD_CN}区块右下角的“我要#{VOTE_CN}”按钮进行#{VOTE_CN}" %></em>
            <% elsif @current_user && (@nominatein.is_status_of?('doing_voting_done') || @nominatein.is_status_of?('doing_gala') || @nominatein.is_status_of?('done')) %>
              <% show_my_ballotable = true %>
              <br />
              <em class="l3"><%= "我的#{BALLOT_CN}投给了下面突出显示的#{NOMINATION_CN}" %></em>
            <% end %>
          </div>

          <div id="<%= html_id %>_<%= objs_html_id %>_notice" class="block_notice">

          </div>

          <div id="<%= html_id %>_<%= objs_html_id %>_show">
            <%= render :partial => 'nominations/nominations_matrix',
                        :locals => { :nominatefor => item_parent,
                                    :nominateables => items,
                                    :ballots => @ballots,
                                    :options => { :show_paginate => false, :limit => 24, :items_count_per_row => 6, :photo_style => 'matrix', :show_my_ballotable => show_my_ballotable } } %>
          </div>

          <% if @nominatein.is_status_of?('doing_voting_doing') %>
            <div id="<%= html_id %>_<%= objs_html_id %>_ballot">

            </div>

            <div id="<%= html_id %>_<%= objs_html_id %>_todo_bar" class="sub_block block_bottom_bar">
              <%= render :partial => 'nominations/nominations_todo_bar',
                          :locals => { :nominatein => @nominatein,
                                      :nominatefor => item_parent,
                                      :nominateables => items,
                                      :user => @current_user,
                                      :ballots => @ballots,
                                      :options => { :html_id => "#{html_id}_#{objs_html_id}" } } %>
            </div>
          <% end %>
        <% end %>

      </div>
    </div>
  <% end %>
<% end %>
