<div class="content_block">

  <div class="block_header">
    <div class="block_header_link">

    </div>
    <h1><%= strip_tags @block_title %></h1>
  </div>

  <div class="block_main">
    <table class="stats">
      <tr>
        <th>SN</th>
        <th>Phase</th>
        <th>User</th>
        <th>Recipe</th>
        <th>Recipe User</th>
        <th>Review</th>
        <th>Review User</th>
        <th>Rating</th>
        <th>Rating User</th>
        <th>Favorite</th>
        <th>Favorite User</th>
      </tr>
      
      <% phase_sn = 0 %>
      <% for stats in @site_stats_set %>
        <% phase_sn += 1 %>
        <% phase_time = stats[0] %>
        <% phase_metrics = stats[1] %>
        <% is_total = phase_sn == @site_stats_set.size %>
        <tr class="<%= is_total ? 'total' : '' %>">
          <td class="sn">
            <%= phase_sn unless is_total %>
          </td>

          <td class="phase">
            <%= "#{phase_time[:phase_start].strftime("%Y-%m-%d")}<br />#{phase_time[:phase_end].strftime("%Y-%m-%d")}" %><br />
            <%= is_total ? 'Total' : '' %>
          </td>

          <td class="data">
            <div class="data_number">
              <% activated_users = phase_metrics[:user][:activated_users].to_i if !phase_metrics[:user][:activated_users].blank? %>
              <% created_users = phase_metrics[:user][:created_users].to_i if !phase_metrics[:user][:created_users].blank? %>
              <%= render :partial => 'system/stats_data_number',
                         :locals => { :type => 'rate', :metrics => [ { :value => activated_users, :color => 'red' }, { :value => created_users, :color => 'green' } ] } %>
            </div>
            <% unless is_total %>
              <% most_activated_users = @most_metrics[:user][:activated_users].to_i %>
              <% most_created_users = @most_metrics[:user][:created_users].to_i %>
              <%= render :partial => 'system/stats_data_bar',
                         :locals => { :metrics => [ { :value => activated_users, :max => most_activated_users, :color => 'red' },
                                                    { :value => created_users, :max => most_created_users, :color => 'green' } ] } %>
            <% end %>
          </td>

          <td class="data">
            <div class="data_number">
              <% published_recipes = phase_metrics[:recipe][:published_recipes].to_i if !phase_metrics[:recipe][:created_recipes].blank? %>
              <% created_recipes = phase_metrics[:recipe][:created_recipes].to_i if !phase_metrics[:recipe][:created_recipes].blank? %>
              <%= render :partial => 'system/stats_data_number',
                         :locals => { :type => 'rate', :metrics => [ { :value => published_recipes, :color => 'red' }, { :value => created_recipes, :color => 'green' } ] } %>
            </div>
            <% unless is_total %>
              <% most_published_recipes = @most_metrics[:recipe][:published_recipes].to_i %>
              <% most_created_recipes = @most_metrics[:recipe][:created_recipes].to_i %>
              <%= render :partial => 'system/stats_data_bar',
                         :locals => { :metrics => [ { :value => published_recipes, :max => most_published_recipes, :color => 'red' },
                                                    { :value => created_recipes, :max => most_created_recipes, :color => 'green' } ] } %>
            <% end %>
          </td>

          <td class="data">
            <div class="data_number">
              <% recipe_users = phase_metrics[:recipe][:recipe_users].to_i if !phase_metrics[:recipe][:recipe_users].blank? %>
              <%= render :partial => 'system/stats_data_number',
                         :locals => { :type => 'per', :metrics => [ { :value => published_recipes, :color => 'red' }, { :value => recipe_users, :color => 'blue' } ] } %>
            </div>
            <% unless is_total %>
              <% most_recipe_users = @most_metrics[:recipe][:recipe_users].to_i %>
              <%= render :partial => 'system/stats_data_bar',
                         :locals => { :metrics => [ { :value => recipe_users, :max => most_recipe_users, :color => 'blue' } ] } %>
            <% end %>
          </td>

          <td class="data">
            <div class="data_number">
              <% created_reviews = phase_metrics[:review][:created_reviews].to_i if !phase_metrics[:review][:created_reviews].blank? %>
              <%= render :partial => 'system/stats_data_number',
                         :locals => { :type => 'single', :metrics => [ { :value => created_reviews, :color => 'red' } ] } %>
            </div>
            <% unless is_total %>
              <% most_created_reviews = @most_metrics[:review][:created_reviews].to_i %>
              <%= render :partial => 'system/stats_data_bar',
                         :locals => { :metrics => [ { :value => created_reviews, :max => most_created_reviews, :color => 'red' } ] } %>
            <% end %>
          </td>

          <td class="data">
            <div class="data_number">
              <% review_users = phase_metrics[:review][:review_users].to_i if !phase_metrics[:review][:review_users].blank? %>
              <%= render :partial => 'system/stats_data_number',
                         :locals => { :type => 'per', :metrics => [ { :value => created_reviews, :color => 'red' }, { :value => review_users, :color => 'blue' } ] } %>
            </div>
            <% unless is_total %>
              <% most_review_users = @most_metrics[:review][:review_users].to_i %>
              <%= render :partial => 'system/stats_data_bar',
                         :locals => { :metrics => [ { :value => review_users, :max => most_review_users, :color => 'blue' } ] } %>
            <% end %>
          </td>

          <td class="data">
            <div class="data_number">
              <% created_ratings = phase_metrics[:rating][:created_ratings].to_i if !phase_metrics[:rating][:created_ratings].blank? %>
              <%= render :partial => 'system/stats_data_number',
                         :locals => { :type => 'single', :metrics => [ { :value => created_ratings, :color => 'red' } ] } %>
            </div>
            <% unless is_total %>
              <% most_created_ratings = @most_metrics[:rating][:created_ratings].to_i %>
              <%= render :partial => 'system/stats_data_bar',
                         :locals => { :metrics => [ { :value => created_ratings, :max => most_created_ratings, :color => 'red' } ] } %>
            <% end %>
          </td>

          <td class="data">
            <div class="data_number">
              <% rating_users = phase_metrics[:rating][:rating_users].to_i if !phase_metrics[:rating][:rating_users].blank? %>
              <%= render :partial => 'system/stats_data_number',
                         :locals => { :type => 'per', :metrics => [ { :value => created_ratings, :color => 'red' }, { :value => rating_users, :color => 'blue' } ] } %>
            </div>
            <% unless is_total %>
              <% most_rating_users = @most_metrics[:rating][:rating_users].to_i %>
              <%= render :partial => 'system/stats_data_bar',
                         :locals => { :metrics => [ { :value => rating_users, :max => most_rating_users, :color => 'blue' } ] } %>
            <% end %>
          </td>

          <td class="data">
            <div class="data_number">
              <% created_favorites = phase_metrics[:favorite][:created_favorites].to_i if !phase_metrics[:favorite][:created_favorites].blank? %>
              <%= render :partial => 'system/stats_data_number',
                         :locals => { :type => 'single', :metrics => [ { :value => created_favorites, :color => 'red' } ] } %>
            </div>
            <% unless is_total %>
              <% most_created_favorites = @most_metrics[:favorite][:created_favorites].to_i %>
              <%= render :partial => 'system/stats_data_bar',
                         :locals => { :metrics => [ { :value => created_favorites, :max => most_created_favorites, :color => 'red' } ] } %>
            <% end %>
          </td>

          <td class="data">
            <div class="data_number">
              <% favorite_users = phase_metrics[:favorite][:favorite_users].to_i if !phase_metrics[:favorite][:favorite_users].blank? %>
              <%= render :partial => 'system/stats_data_number',
                         :locals => { :type => 'per', :metrics => [ { :value => created_favorites, :color => 'red' }, { :value => favorite_users, :color => 'blue' } ] } %>
            </div>
            <% unless is_total %>
              <% most_favorite_users = @most_metrics[:favorite][:favorite_users].to_i %>
              <%= render :partial => 'system/stats_data_bar',
                         :locals => { :metrics => [ { :value => favorite_users, :max => most_favorite_users, :color => 'blue' } ] } %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>