		<table class="content">
			
			<% for review in reviews %>
			  <tr>  	
			    
			    <td class="left_colomn">
			    	<div class="sub_block">
							<div id="profile_photo" class="sign_list_image">
								<%= image_tag default_photo_file_url('cook', 'sign_list') %>
							</div>
						</div>
			    </td>
			    
			    <td class="right_colomn_lined">
			    	<div class="sub_block">
				    	<div class="title"><h2><%= link_to h(review.title), restfu_url_for(nil, {:type => review.reviewable_type, :id => review.reviewable_id}, {:type => 'review', :id => review.id}, nil) %></h2></div>
				    	<div class="basic">
				    		<ul>
				    			<% if show_parent %>
					    			<li class="basic">
					    				<% if review.user == @current_user %>
								    		<%= link_to "我", user_url(review.user) %>
								    	<% else %>
								    		<%= link_to "#{review.user.login}", user_url(review.user) %>
								    	<% end %>
								    	&nbsp;
							    		<%= "关于#{name_for(review.reviewable_type)}" %><%= link_to "\"#{model_for(review.reviewable_type).find(review.reviewable_id).title}\"", restfu_url_for(nil, nil, {:type => review.reviewable_type, :id => review.reviewable_id}, nil) %><%= "的#{name_for('review')}" %>
							    	</li>
							    	<li class="basic">
							    		<% if review.created_at == review.updated_at %>
							    			<%= "#{review.created_at.strftime("%Y-%m-%d %H:%M:%S")} #{ADD_CN}" %>
							    		<% else %>
							    			<%= "#{review.updated_at.strftime("%Y-%m-%d %H:%M:%S")} #{UPDATE_CN}" %>
							    		<% end %>
					    			</li>
				    			<% else %>
					    			<li class="basic">
					    				<% if review.user == @current_user %>
								    		<%= link_to "我", user_url(review.user) %>
								    	<% else %>
								    		<%= link_to "#{review.user.login}", user_url(review.user) %>
								    	<% end %>
								    	&nbsp;
							    		<% if review.created_at == review.updated_at %>
							    			<%= "#{review.created_at.strftime("%Y-%m-%d %H:%M:%S")} #{ADD_CN}" %>
							    		<% else %>
							    			<%= "#{review.updated_at.strftime("%Y-%m-%d %H:%M:%S")} #{UPDATE_CN}" %>
							    		<% end %>
					    			</li>	
				    			<% end %>
				    		</ul>
				    	</div>
				    	<div class="main">
				    		<%= sanitize review.review_summary %>
				    	</div>
							<% if show_todo %>
					    	<div class="todo">
					    		<% if review.user == @current_user %>
						    		<%= link_to "#{EDIT_CN}这#{unit_for('review')}#{name_for('review')}", restfu_url_for(nil, {:type => review.reviewable_type, :id => review.reviewable_id}, {:type => 'review', :id => review.id}, 'edit') %> |
						    		<%= link_to "#{DELETE_CN}这#{unit_for('review')}#{name_for('review')}", restfu_url_for(nil, {:type => review.reviewable_type, :id => review.reviewable_id}, {:type => 'review', :id => review.id}, nil), :confirm => "确定要#{DELETE_CN}这#{unit_for('review')}#{name_for('review')}吗?", :method => :delete %>
						    	<% elsif model_for(review.reviewable_type).find(review.reviewable_id).user == @current_user %>
						    		<%= link_to "#{DELETE_CN}这#{unit_for('review')}#{name_for('review')}", restfu_url_for(nil, {:type => review.reviewable_type, :id => review.reviewable_id}, {:type => 'review', :id => review.id}, nil), :confirm => "确定要#{DELETE_CN}这#{unit_for('review')}#{name_for('review')}吗?", :method => :delete %>
					    		<% end %>
					    	</div>
							<% end %>
			    	</div>
			    </td>
			    
			  </tr>
			<% end %>
			
		</table>