<div class="basic">
	<h2><%= link_to h(item.title), restfu_url_for(nil, {:type => item.reviewable_type, :id => item.reviewable_id}, {:type => 'review', :id => item.id}, nil) %></h2>
	<ul>
		<% if show_parent %>
			<li>
				<%= link_to h(item_username(item)), user_url(item.user) %>
				&nbsp;
				<%= "#{name_for(item.reviewable_type)}-" %><%= link_to h("#{model_for(item.reviewable_type).find(item.reviewable_id).title}"), restfu_url_for(nil, nil, {:type => item.reviewable_type, :id => item.reviewable_id}, nil) %><%= "的#{REVIEW_CN}" %>
			</li>
			<li>
				<%= "#{item.created_at.strftime("%Y-%m-%d %H:%M:%S")}" %>
			</li>
		<% else %>
			<li>
				<%= link_to h(item_username(item)), user_url(item.user) %>
				&nbsp;
				<%= "#{item.created_at.strftime("%Y-%m-%d %H:%M:%S")}" %>
			</li>	
		<% end %>
	</ul>
</div>

<div class="main">
	<ul><%= paragraphs(item.review_summary) %></ul>
</div>

<% if show_todo %>
	<div class="todo">
		<% if item.user == @current_user %>
    	<%= link_to "#{EDIT_CN}这#{UNIT_REVIEW_CN}#{REVIEW_CN}", restfu_url_for(nil, {:type => item.reviewable_type, :id => item.reviewable_id}, {:type => 'review', :id => item.id}, 'edit') %> |
    	<%= link_to "#{DELETE_CN}这#{UNIT_REVIEW_CN}#{REVIEW_CN}", restfu_url_for(nil, {:type => item.reviewable_type, :id => item.reviewable_id}, {:type => 'review', :id => item.id}, nil), :confirm => "确定要#{DELETE_CN}这#{UNIT_REVIEW_CN}#{REVIEW_CN}吗?", :method => :delete %>
    <% elsif model_for(item.reviewable_type).find(item.reviewable_id).user == @current_user %>
    	<%= link_to "#{DELETE_CN}这#{UNIT_REVIEW_CN}#{REVIEW_CN}", restfu_url_for(nil, {:type => item.reviewable_type, :id => item.reviewable_id}, {:type => 'review', :id => item.id}, nil), :confirm => "确定要#{DELETE_CN}这#{UNIT_REVIEW_CN}#{REVIEW_CN}吗?", :method => :delete %>
		<% end %>
	</div>
<% end %>