<div id="review_<%= item.id %>_basic" class="basic">
	<ul>
		<% if show_parent %>
			<li>
				<%= link_to h(user_username(item.user)), user_first_link(item.user) %>
				&nbsp;
				<% if item.reviewable_type == 'Recipe' && item.reviewable == recipe_for(item.reviewable.user, item.reviewable.id) %>
					<%= "#{name_for(item.reviewable_type)}-" %><%= link_to h(item.reviewable.title), item.reviewable %><%= "的#{REVIEW_CN}" %>
				<% else %>
					<%= h "#{name_for(item.reviewable_type)}-#{item.reviewable.title}的#{REVIEW_CN}" %>
				<% end %>
			</li>
			<li>
				<%= time_iso_format(item.created_at) %>
			</li>
		<% else %>
			<li>
				<%= link_to h(user_username(item.user)), user_first_link(item.user) %>
				&nbsp;
				<%= time_iso_format(item.created_at) %>
			</li>	
		<% end %>
	</ul>
</div>

<div id="notice_for_review_<%= item.id %>">
</div>

<div id="input_form_for_review_<%= item.id %>">
</div>

<div id="review_<%= item.id %>_main" class="main">
	<ul>
		<%= paragraphs(item.review) %>
	</ul>
</div>

<% if show_todo %>
	<div id="review_<%= item.id %>_todo" class="todo_right">
		<% if item.user == @current_user %>
    	<%= link_to_remote EDIT_CN, :url => [item, :edit], :method => :get %> | 
    <% end %>
    <% if item.user == @current_user || item.reviewable.user == @current_user %>
    	<% delete_message = "确定要#{DELETE_CN}这#{UNIT_REVIEW_CN}#{REVIEW_CN}吗?" %>
	    <% if delete_remote %>
	    	<%= link_to_remote DELETE_CN, :url => item, :confirm => delete_message, :method => :delete %>
	    <% else %>
	    	<%= link_to DELETE_CN, {:action => 'destroy', :id => item.id, :reviewable_type => params[:reviewable_type], :current_page => params[:page]}, :confirm => delete_message, :method => :delete %>
	    <% end %>
    <% end %>
	</div>
<% end %>