<% form_for :review, :url => do_url, :html => { :method => html_method } do |f| %>
	<table class="content">
		<tr>
			<td class="label"><label class="required" for="title"><%= "#{SUBJECT_CN}:" %></label></td>
			<td class="input">
				<%= f.text_field :title, :class => "text" %>
			</td>
		</tr>
		<tr>
			<td></td>
			<td>
				<%= error_message_on "review", "title" %>
			</td>
		</tr>
		<tr>
			<td class="label"><label class="required" for="review"><%= "#{REVIEW_CN}:" %></label></td>
			<td class="input">
				<%= f.text_area :review %>
			</td>
		</tr>
		<tr>
			<td></td>
			<td>
				<%= error_message_on "review", "review" %>
			</td>
		</tr>
		<tr>
			<td></td>
			<td class="submit">
				<%= f.submit button_name, :class => "submit" %>
				&nbsp;&nbsp;
				<%= link_to "&raquo;#{CANCLE_CN}", @selfs_url %>
			</td>
		</tr>
	</table>
<% end %>
