<div id="review_<%= item.id %>_basic" class="basic">
	<ul>
		<li>
			<%= render :partial => '/users/user_basic', 
								 :locals => { :user => item.user, 
								 							:show_come_from => false, 
								 							:show_icon => true,
								 							:show_name => true, 
								 							:show_link => true, 
								 							:show_username => true,
								 							:show_myname => false } %>
			&nbsp;
			<%= time_iso_format(item.created_at, true) %>
		</li>
	</ul>
</div>

<div id="notice_for_review_<%= item.id %>">
</div>

<div id="review_<%= item.id %>_quotation">
	<%= render :partial => "/reviews/review_quotation", 
						 :locals => { :is_new => false, 
						 							:quotation_submitter_id => item.quotation_submitter_id, 
						 							:quotation => item.quotation } %>
</div>

<div id="input_form_for_review_<%= item.id %>">
</div>

<div id="review_<%= item.id %>_main" class="main">
	<ul>
		<%= paragraphs(item.review) %>
	</ul>
</div>

<% if show_todo %>
	<div id="review_<%= item.id %>_todo" class="todo_right">
		<% if @current_user && params[:action] != 'mine'%>
			<%= link_to_function("引用") do |page|
				page.redirect_to "#input_form_for_new_review"
				page.replace_html "input_form_for_new_review",
													:partial => "/reviews/review_input",
												  :locals => { :reviewable => item.reviewable,
												 						   :review => item.reviewable.reviews.build, 
												 						   :is_new => true,  
												 						   :review_error => false,  
												 						   :review_text => '', 
												 						   :quotation_submitter_id => item.user_id, 
						 													 :quotation => item.review }
		  end %>
	  <% end %>
	  <% if params[:action] != 'mine' && (item.user == @current_user || item.reviewable.user == @current_user) %>
			|
		<% end %>
		<% if item.user == @current_user %>
    	<%= link_to_remote EDIT_CN, :url => [item, :edit], :method => :get %> |
    <% end %>
    <% if item.user == @current_user || item.reviewable.user == @current_user %>
    	<% delete_message = "确定要#{DELETE_CN}这#{unit_for('Review')}#{REVIEW_CN}吗?" %>
	    <% if delete_remote %>
	    	<%= link_to_remote DELETE_CN, :url => item, :confirm => delete_message, :method => :delete %>
	    <% else %>
	    	<%= link_to DELETE_CN, {:controller => 'reviews', :action => 'destroy', :id => item.id, :reviewable_type => params[:reviewable_type], :current_filter => params[:filter], :current_page => params[:page]}, :confirm => delete_message, :method => :delete %>
	    <% end %>
    <% end %>
	</div>
<% end %>
