<% reviewable_type = type_for(reviewable) %>
<% reviewable_id_sym = id_for(reviewable_type).to_sym %>
<% if is_new %>
	<% button_name = "发表#{REVIEW_CN}" %>
	<% submit_url = url_for(reviewable_id_sym => reviewable.id, :controller => 'reviews', :action => 'create', :ref => ref) %>
	<% method = 'post' %>
<% else %>
	<% button_name = SAVE_CHANGES_CN %>
	<% submit_url = url_for(reviewable_id_sym => reviewable.id, :controller => 'reviews', :action => 'update', :id => review.id, :ref => ref) %>
	<% method = 'put' %>
<% end %>

<% remote_form_for :review, review, :url => submit_url, :method => method do |f| %>
	<% if is_new %>
		<div id="new_review_quotation">
			<%= render :partial => "/reviews/review_quotation", 
								 :locals => { :is_new => true, 
								 							:quotation_submitter_id => quotation_submitter_id, 
					 										:quotation => quotation } %>
		</div>
		<div class="input">
			<% if review_error %>
				<div class="fieldWithErrors">
					<%= f.text_area :review, :class => 's', :value => review_text %>
				</div>
			<% else %>
				<%= f.text_area :review, :class => 's', :value => review_text %>
			<% end %>
		</div>
	<% else %>
		<div class="input">
			<%= f.text_area :review, :class => 's', :value => review_text %>
		</div>
	<% end %>
	
	<div class="error">
		<%= error_message_on "review", "review" %>
	</div>
	
	<div id="submit_button_for_new_review" class="submit">
		<%= f.submit button_name, :disable_with => "#{SAVE_CN}中...", :class => "submit" %>
		<% unless is_new %>
			&nbsp;&nbsp;
			<%= link_to_function("&raquo;#{CANCLE_CN}") do |page|
				page.hide "input_form_for_review_#{review.id}"
				page.show "review_#{review.id}_main"
				page.show "review_#{review.id}_todo"
		  end %>
		<% end %>
	</div>
<% end %>