<div id="review_<%= item.id %>_basic" class="basic">
	<ul>
		<% if show_parent %>
			<li>
				<%= link_to h(user_username(item.user)), user_first_link(item.user) %>
				&nbsp;
				<%= "#{name_for(item.reviewable_type)}-" %><%= link_to h(item.reviewable.title), item.reviewable %><%= "的#{REVIEW_CN}" %>
			</li>
			<li>
				<%= time_iso_format(item.created_at) %>
			</li>
		<% else %>
			<li>
				<%= link_to h(user_username(item.user)), user_first_link(item.user) %>
				&nbsp;
				<%= time_iso_format(item.created_at) %>
			</li>	
		<% end %>
	</ul>
</div>

<%= render :partial => "/layouts/notice",
					 :locals => {:nid => "review_#{item.id}",
					 						 :notice => nil} %>

<div id="input_form_for_review_<%= item.id %>">
</div>

<div id="review_<%= item.id %>" class="main">
	<ul><%= paragraphs(item.review) %></ul>
</div>

<% if show_todo %>
	<div id="review_<%= item.id %>_todo" class="todo_right">
		<% if item.user == @current_user %>
			<!-- <%= link_to RESPOND_CN, '' %> | -->
    	<%= link_to_remote EDIT_CN, :url => edit_review_path(item.id), :method => :get %> |
    	<%= link_to DELETE_CN, item, :confirm => "确定要#{DELETE_CN}这#{UNIT_REVIEW_CN}#{REVIEW_CN}吗?", :method => :delete %>
    <% elsif item.reviewable.user == @current_user %>
			<!-- <%= link_to RESPOND_CN, '' %> | -->
    	<%= link_to DELETE_CN, item, :confirm => "确定要#{DELETE_CN}这#{UNIT_REVIEW_CN}#{REVIEW_CN}吗?", :method => :delete %>
		<% else %>
			<!-- <%= link_to RESPOND_CN, '' %> -->
		<% end %>
	</div>
<% end %>