<div class="content_block">
	
	<div class="block_header">
		<div class="block_header_link">	
			<% if @current_user %>
				<%= link_to "#{ADD_CN}新#{@self_name}", @new_self_url %>	 |
			<% end %>
			<%= link_to "#{BACK_CN}#{@parent_name}", @parent_url %>
		</div>
		<h1><%= @block_title %></h1>
	</div>
	
	<%= render :partial => "layouts/items_paginate",
						 :locals => {:items => @reviews} %>

	<div class="block_main">
		<%= render :partial => "/layouts/items_list",
							 :locals => {:item_type => 'review', 
							 						 :items => @reviews,
							 						 :show_photo => true, 
							 						 :show_title => false, 
							 						 :show_photo_todo => false, 
							 						 :show_todo => true} %>
	</div>
	
	<%= render :partial => "layouts/items_paginate",
						 :locals => {:items => @reviews} %>

</div>
