<% reviews_set = @reviews_set %>
<% if reviewable = @reviewable %>
	<% reviewable_type = type_for(reviewable) %>
	<% reviewable_id_sym = id_for(reviewable_type).to_sym %>
	<% reviewable_name = name_for(reviewable_type) %>
	
	<div id="reviewable_reviews_wrapper" class="content_block">
		<div id="reviewable_reviews_header" class="block_header">
			<%= render :partial => 'reviews/reviewable_reviews_header', 
								 :locals => { :reviewable => @reviewable } %>
		</div>
		
		<div id="reviewable_reviews_detail" class="block_main">
			<% if @show_filter_bar %>
				<div id="reviewable_reviews_filter_bar" class="filter_bar">
                    <%= render :partial => 'reviews/reviews_filter_bar' %>
				</div>
			<% end %>
			
			<div id="reviewable_reviews_list">
				<%= render :partial => 'reviews/reviewable_reviews_list', 
									 :locals => { :reviews_set => reviews_set,
									 							:limit => nil, 
									 							:show_paginate => true,
									 							:show_reviewer_photo => true, 
								 								:reviewer_photo_style => 'sign',
								 								:show_below_reviewer_photo => false,
								 								:show_review_title => false,
								 								:show_review_todo => true,
								 								:ref => 'reviewable_reviews_list' } %>
			</div>
			
			<div id="reviewable_new_review" class="sub_block_o">
				<%= render :partial => 'reviews/new_review', 
									 :locals => { :reviewable => reviewable,
									 							:ref => 'reviewable_reviews_list' } %>
			</div>
		</div>
	</div>
<% else %>
        <% if @user && @current_user && @user == @current_user %>
          <% show_review_todo = true %>
          <% ref = 'user_reviews_list' %>
        <% else %>
          <% show_review_todo = false %>
        <% end %>
	<div id="mixed_reviews_wrapper" class="content_block">
		<div id="mixed_reviews_header" class="block_header">
			<div class="block_header_link">

			</div>
			<h1><%= @block_title %></h1>
		</div>
		
		<div id="mixed_reviews_detail" class="block_main">
			<% if @show_filter_bar %>
				<div id="mixed_reviews_filter_bar" class="filter_bar">
					<%= render :partial => 'reviews/reviews_filter_bar' %>
				</div>
			<% end %>
			
			<div id="mixed_reviews_list">
				<%= render :partial => 'reviews/mixed_reviews_list', 
									 :locals => { :reviews_set => reviews_set, 
									 							:limit => nil, 
									 							:show_paginate => true,
									 							:show_reviewer_photo => true, 
								 								:reviewer_photo_style => 'mini',
								 								:show_below_reviewer_photo => false,
								 								:show_review_title => false,
								 								:show_review_todo => show_review_todo,
								 								:ref => ref } %>
			</div>
		</div>
	</div>
<% end %>
