<div class="content_block">
	
	<div class="block_header">
		<div class="block_header_link">	
			<%= link_to "#{@parent_name}的更多#{@self_name}(#{@reviews_set_count})", @selfs_url %> |
			<%= link_to "#{BACK_CN}#{@parent_name}", @parent_url %>
		</div>
		<h1><%= h @block_title %></h1>
	</div>

	<div class="block_main">
		<table class="content">
		  <tr>  	
		    
		    <td class="left_column">										
    			<div class="sub_block">
	    			<div class="list_photo">
		    			<%= render :partial => "/layouts/item_photo",
		    								 :locals => {:item_type => 'review', 
		    								 						 :item => @review, 
		    								 						 :photo_style => 'sign'} %>
	    			</div>
    			</div>
		    </td>
		    
		    <td class="right_column">
		    	<div class="sub_block">
						<%= render :partial => "review",
											 :locals => {:item => @review,
											 						 :show_parent => true, 
											 						 :show_todo => true} %>
		    	</div>
		    	
		    	<div class="sub_block">	    
			    	<div class="sub_block_header">
							<%= "#{RESPOND_CN}:" %>
			    	</div>
		    	</div>
		    	
		    </td>
		  </tr>
		</table>
	</div>
	
</div>
