<table class="content">
  <tr>
    <td>
    <table class="content">
      <tr>
        <td class="label2">
          <label><em class="l2"><%= "#{TITLE_CN}:" %></em></label>
        </td>
        <td>
          <div>
            <em><%= "#{item.title}<br />#{item.common_title}"  %><br /></em>
          </div>
        </td>
      </tr>
      <tr>
        <td class="label2">
          <label><em class="l2"><%= "#{DESCRIPTION_CN}:" %></em></label>
        </td>
        <td>
          <div>
            <ul><%= paragraphs(item.description, true, true) %></ul>
          </div>
        </td>
      </tr>
      <% attr_names = [ ['wine_type', '品种'], ['grape_type', '葡萄种类'], ['grape_tree_age', '葡萄树年龄'], ['soil_type', '土壤种类'],
                      ['plant_amount', '种植数量'], ['implantation_mode', '土地培植方式'], ['output', '产量'], ['ferment_mode', '发酵方式'],
                      ['color', '色泽'], ['smell', '气味'], ['storage_temperature', '保存温度'], ['food_pairing', '食用建议'],
                      ['alcohol_level', '酒精含量'], ['volume', '瓶装容量'], ['country', '原产国'], ['vintage', '年份'] ] %>
      <% for attr_name in attr_names %>
        <tr>
          <td class="label2">
            <label><em class="l2"><%= "#{attr_name[1]}:" %></em></label>
          </td>
          <td>
            <div>
              <%= item.read_attribute(attr_name[0]) %>
            </div>
          </td>
        </tr>
      <% end %>
      <tr>
        <td><br /></td>
        <td><br /></td>
      </tr>
      <tr>
        <td class="label2">
          <label><em class="l2"><%= "联系信息:" %></em></label>
        </td>
        <td>
          <div>
            <%= "法国环球服务 陆英 女士"  %><br />
            <%= "Tel - 0033 232104500" %><br />
            <%= "Email - worldservicesfrance@hotmail.fr" %><br />
            <%= "MSN - worldservicesfrance@hotmail.fr" %><br />
          </div>
        </td>
      </tr>
    </table>
    </td>
    <td>
      <div>
        <% image_filename = add_pre_suf_to_filename(item.image_filename, nil, '_medium') %>
        <% image_file_url = "#{item.image_file_path}#{image_filename}" %>
        <% image_title = "#{item.title}&#13;#{item.common_title}" %>
        <%= image_tag(image_file_url, :title => image_title, :alt => '') %>
      </div>
    </td>
  </tr>
</table>