<h1>Listing infos</h1>

<table>
  <tr>
    <th>Code</th>
    <th>Name</th>
    <th>Category</th>
    <th>Language</th>
    <th>Remark</th>
  </tr>

<% for info in @infos %>
  <tr>
    <td><%=h info.code %></td>
    <td><%=h info.name %></td>
    <td><%=h info.category %></td>
    <td><%=h info.language %></td>
    <td><%=h info.remark %></td>
    <td><%= link_to 'Show', info %></td>
    <td><%= link_to 'Edit', edit_info_path(info) %></td>
    <td><%= link_to 'Destroy', info, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New info', new_info_path %>
