<% if show_title %>
	<div>
		<% if type_for(item) == 'Recipe' && item.from_type == '1' %>
			<%= image_tag 'default/other/private.png', :title => PRIVATE_HOME_CN, :class => "icon" %>
		<% end %>
		<%= link_to strip_tags(item_title(item)), type_for(item) == 'User' ? user_first_link(item) : item %>
		<% if type_for(item) == 'Recipe' %>
			<%= "#{add_brackets(code_title('is_draft', item.is_draft))}" %>
		<% end %>
	</div>
<% end %>

<% if show_user %>
	<div>
		来自 <%= link_to strip_tags(item_username(item)), user_first_link(item.user) %>
	</div>
<% end %>

<% if show_photo_todo %>
	<div>
		<% item_id_sym = item_id(item).to_sym %>
		<% if item.user == @current_user %>
			<%= link_to "#{ADD_CN}新#{PHOTO_CN}", item_id_sym => item.id, :controller => 'photos', :action => 'new' %>
		<% end %>
	</div>
<% end %>