<%= link_to "#{ABOUT_CN}#{SITE_NAME_CN}", about_path %>
<%= link_to "联系#{SITE_NAME_CN}", feedback_path %>
<%= link_to "友情链接", linkus_path %>
<%= link_to SITE_BLOG_CN, SITE_BLOG_URL, :target => '_blank', :class => 'highlight' %>
<%= link_to PRIVACY_POLICY_CN, privacy_path %>
<%= link_to HELP_CN, help_path %>
<div class="bottom">
  <%= "#{SITE_NAME_EN} © #{Date.today.year} is a service of #{STUDIO_NAME_EN} " %><%= link_to '[京ICP备09001447号]', 'http://www.miibeian.gov.cn/', :target => '_blank', :class => 'highlight' %>
</div>
