<% item_type = type_for(item) %>
<% html_id = "#{item_type.tableize.singularize}_#{item.id}" %>

<div id="<%= html_id %>_bar_wrapper" class="item_bar">
  <table>
    <tr>
      <td class="left_column">
        <div id="<%= html_id %>_bar_portrait" class="item_bar_portrait">
          <%= render :partial => 'layouts/item_photo',
                      :locals => { :item => item,
                                  :photo_style => 'sign' } %>
        </div>
      </td>
      <td class="middle_column">
        <div id="<%= html_id %>_bar_title" class="item_bar_title">
          <%= strip_tags item_title(item) %>
        </div>
        <div id="<%= html_id %>_bar_info" class="item_bar_info">
          <%= strip_tags item_slogan(item) %>
        </div>
        <div id="<%= html_id %>_bar_link" class="item_bar_link">
          <%= render :partial => "#{item_type.tableize}/#{item_type.tableize.singularize}_quicklinks",
                      :locals => { :item => item } %>
        </div>
      </td>
      <td class="right_column">
        <div id="<%= html_id %>_bar_todo" class="item_bar_todo">
          <%= render :partial => "#{item_type.tableize}/#{item_type.tableize.singularize}_bar_todo",
                      :locals => { :item => item } %>
        </div>
      </td>
    </tr>
  </table>
</div>
