<% item_type = type_for(item) %>

<h3><%= "链接" %></h3>
<ul>
  <li>
    <span class='text'>
      <% item_url = url_for(:controller => item_type.downcase.pluralize, :action => 'show', :id => item.id, :only_path => false) %>
      <%= "URL地址: <span class='source'>#{url_without_protocol(item_url)}</span>" %>
    </span>
  </li>
  <% if (profile = item.user.profile) && !(blog = url_without_protocol(strip_tags(profile.blog))).blank? %>
    <li>
      <span class='text'>
        <% blog_url = url_with_protocol(blog) %>
        <%= "更多#{name_for(item_type)}, 请访问" %>
        <%= link_to strip_tags("#{user_username(item.user, true, true)}的blog"), blog_url, :target => "_blank" %>
        <span class="source"><%= add_brackets(blog) %></span>
      </span>
    </li>
  <% end %>
</ul>
