<div id="<%= id %>_wrapper" class="sidebar_block">
	<div id="<%= id %>_header" class="sidebar_block_header">
		<div class="sidebar_block_header_link">
			<% if block_header_link %>
				<%= link_to strip_tags(block_header_link[:title]), block_header_link[:url] %>	
			<% end %>
		</div>
		<h1><%= strip_tags block_title %></h1>
	</div>
	
	<div id="<%= id %>_detail" class="sidebar_block_main">
		<% if items_set && items_set.size > 0 %>
			<%= render :partial => "/layouts/items_matrix",
								 :locals => {:show_paginate => false,
								 						 :items_set => items_set, 
								 						 :limit => 12,
								 						 :items_count_per_row => 4,  
								 						 :show_photo => true, 
								 						 :show_below_photo => false,  
								 						 :show_title => false, 
								 						 :show_user => false, 
								 						 :show_photo_todo => false, 
								 						 :photo_style => 'sign'} %>
		<% end %>
	</div>
</div>