<div class="main">
  <h3><%= "链接代码" %></h3>
  <div class="sub_block_lr">
    <em class="l2"><%= "在你的网站或Blog上显示这#{unit_for(item_type)}#{name_for(item_type)}的图文链接, 只需要将这段代码粘贴到你的网站或Blog的HTML代码中..." %></em>
    <div id="share_code" class="share_code" value="<%= h str_squish(html_content.to_s, 1, false) %>">
      <%= h html_content %>
    </div>

    <SCRIPT LANGUAGE="JavaScript">
      function fCopyToClicp(id){
        var a = document.getElementById(id);
        window.clipboardData.setData('text',a.value);
        alert("已经复制到剪贴板了");
      }
    </SCRIPT>
    <div class="submit">
      <input type="button" value="复制到剪贴板" class="submit" onClick="fCopyToClicp('share_code');" />
      <em class="l2"><%= "如果你的浏览器不支持自动复制到剪贴板, 请选中代码文本用键盘 [Ctrl+C] 复制" %></em>
    </div>
  </div>
</div>

<div class="main">
  <h3><%= "效果预览" %></h3>
  <div class="sub_block_lr">
    <div class="share_preview">
      <%= html_content %>
    </div>
  </div>
</div>