<div class="sidebar_block">
	<div class="panel_block_header">
		<h1><%= LOGIN_CN %></h1>
	</div>
	<div class="panel_block_main">
		<% form_tag session_path do %>
			<table class="content">
				<tr>
					<td class="label"><label for="login"><%= "#{ACCOUNT_ID_CN}:" %></label></td>
					<td class="input">
						<%= text_field_tag "login", "", :class => "text_s" %>
					</td>
				</tr>
				<tr>
					<td class="label"><label for="password"><%= "#{PASSWORD_CN}:" %></label></td>
					<td class="input">
						<%= password_field_tag "password", "", :class => "text_s" %>
					</td>
				</tr>
				<tr>
					<td></td>
					<td class="input">
						<%= check_box_tag "remember_me", "1", false, :class => "check_box" %><%= "记住我" %>
						&nbsp;&nbsp;
						<%= link_to "我忘记了#{PASSWORD_CN}?", root_path %>
					</td>
				</tr>
				<tr>
					<td></td>
					<td class="submit">
						<%= submit_tag LOGIN_CN, :class => "login_button" %>
						&nbsp;&nbsp;
						<%= link_to "&raquo;我还没有#{SITE_NAME_CN}#{ACCOUNT_CN}", "#{root_path}signup" %>
					</td>
				</tr>
			</table>
		<% end %>
	</div>
</div>