<% if show_paginate %>
	<% items = items_paginate(items_set) %>
<% elsif limit %>
	<% items = items_set[0..limit-1] %>
<% else %>
	<% items = items_set %>
<% end %>
<% if items.size > 0 %>
	<% item_type = type_for(items[0]) %>
<% end %>

<% if show_paginate %>
	<%= render :partial => "/layouts/items_paginate",
						 :locals => {:items => items} %>
<% end %>

<table class="content">
	
	<% 1.upto(items.size) do |i| %>
	  <tr>  	
	    <td class="rank">
	    	<div class="sub_block_lr">
	    		<% if i <= 3 %>
	    			<span class="rank" style="background-color: #e42300;"><%= i.to_s %></span>
	    		<% elsif i > 3 && i <= 10 %>
	    			<span class="rank" style="background-color: #ff8159;"><%= i.to_s %></span>
	    		<% else %>
	    			<span class="rank"><%= i.to_s %></span>
	    		<% end %>
	    	</div>
	    </td>
	    
	    <td class="left_column">
	    	<div class="sub_block_lr">
					<% if show_photo %>
						<div class="list_photo">
		    			<%= render :partial => "/layouts/item_photo",
		    								 :locals => {:item => items[i-1], 
		    								 						 :photo_style => photo_style} %>
						</div>
					<% end %>
				</div>
	    </td>
	    
	    <td class="right_column">
	    	<div class="sub_block_lr">
    			<%= render :partial => "/#{controller_name(item_type)}/#{item_type.downcase}_r", 
    								 :locals => {:item => items[i-1]} %>
	    	</div>
	    </td>
	    
	  </tr>
	<% end %>
	
</table>

<% if show_paginate %>
	<%= render :partial => "/layouts/items_paginate",
						 :locals => {:items => items} %>
<% end %>