<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<meta name="verify-v1" content="hUX0qOnC9Aij4Hhvz5697CDY7m57cxWmkQFOAGbm+yU=" />
		<title><%= strip_tags @page_title %></title>
		<% default_meta_description = "蜂厨(BeeCook)——用心与爱打造最棒最有味的以美食和厨艺为主题的新概念社区化网络平台……" %>
		<% default_meta_keywords = %w[蜂厨 BeeCook 美食 美味 味道 厨艺 厨道 厨房 厨师 厨友 吃 私房 私房菜 食谱 菜谱 餐单 菜单 餐厅 餐馆 餐饮 社区 社区化 图片 视频 评论 评分 收藏 收尝 标签 food recipe kichen cook chef menu delicious] %>
		<meta name="description" content="<%= strip_tags(@meta_description ? @meta_description : default_meta_description) %>" />
		<meta name="keywords" content="<%= strip_tags(@meta_keywords ? (@meta_keywords + default_meta_keywords).join(',') : default_meta_keywords.join(',')) %>" />
		<%= stylesheet_link_tag "alpha/application.css" %>
		<%= stylesheet_link_tag "alpha/admin.css" %>
		
		<%= javascript_include_tag :defaults %>
		<%= javascript_include_tag 'beecook.js' %>
		<%= calendar_date_select_includes "silver" %>
		<style type="text/css">
                .google-src-text { display: none !important } 
                .google-src-active-text { display: block !important; color:black !important; }
                </style>
		<link rel="shortcut icon" href="http://www.beecook.com/favicon.ico" />
		
		<script type="text/javascript">
			var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
			document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
		</script>
		<script type="text/javascript">
			var pageTracker = _gat._getTracker("UA-2323873-2");
			pageTracker._trackPageview();
		</script>
		<script type="text/javascript">
                        _intlStrings._originalText = "图片:";
                        _intlStrings._interfaceDirection="ltr";
                        _intlStrings._interfaceAlign="left"
                </script>
	</head>
	
	<body  onload="_setupIW();">
		<div>
			<!-- HEADER -->			
			<div id="header_wrapper">
				<div id="header_content">
					<!-- help -->
					<!-- <div id="help">
						<%= link_to HELP_CN, root_url %>
					</div> -->
					
					<!-- current user -->
					<div id="current_user">
						<% if current_user = User.find_by_id(session[:user_id]) %> 
							<%= "#{HELLO_CN}, " %>
							<%= render :partial => '/users/user_basic', 
												 :locals => { :user => current_user, 
												 							:show_come_from => false, 
												 							:show_icon => true,
												 							:show_name => true, 
												 							:show_link => true, 
												 							:show_username => true,
												 							:show_myname => true } %>
							<%= link_to LOGOUT_CN, "#{root_url}logout" %>
						<% else %>
							<%= link_to LOGIN_CN, "#{root_url}login" %>
							<%= link_to SIGN_UP_CN, "#{root_url}signup" %>
						<% end %>	
					</div>
					
					<!-- logo -->
					<div id="logo">
						<%= link_to image_tag('logo/bc_logo_web.png', :title => SLOGAN_CN, :alt => '', :class => 'logo'), root_url %>
					</div>
				</div>
			</div>
			<!-- END HEADER -->	
			
			<!-- MAIN NAVIGATION -->		
			<div id="navigation">
				<div id="left_navigation">
					<ul class="navigation">
						<li class=<%= tab_css_class(@current_tab_type, 'site') %>>
							<%= link_to HOME_CN, root_path %>
						</li>
						<li class=<%= tab_css_class(@current_tab_type, 'recipe') %>>
							<%= link_to RECIPE_CN, "#{recipes_path}/overview" %>
						</li>
						<li class=<%= tab_css_class(@current_tab_type, 'match') %>>
							<%= link_to "#{MATCH_CN}<span class='script'>Cooking...</span>", root_path %>
						</li>
						<li class=<%= tab_css_class(@current_tab_type, 'user') %>>
							<%= link_to PEOPLE_CN, "#{users_path}/overview" %>
						</li>
					</ul>
				</div>
			
				<div id="right_navigation">
					<ul class="navigation">
					
						<!-- 后台管理 -->
		        <% if is_admin_logged_in? %>
		            <li class=<%= tab_css_class(@current_tab_type, 'mine') %>>
		                    <%= link_to "网站管理", :controller => 'keepers', :action => 'index' %>
		            </li>
		        <% end %>
		        
            <li class=<%= tab_css_class(@current_tab_type, 'mine') %>>
							<%= link_to "我的#{MAIN_PAGE_CN}", :controller => 'mine', :action => 'profile' %>
						</li>
						<% if logged_in? %>
							<!-- <li class=<%= tab_css_class(@current_tab_type, 'profile') %>>
								<%= link_to "PROFILE", root_url %>
							</li>
							<li class=<%= tab_css_class(@current_tab_type, 'message') %>>
								<%= link_to MAILBOX_CN, root_url %>
							</li> -->
							<li class=<%= tab_css_class(@current_tab_type, 'setting') %>>
								<%= link_to SETTING_CN, :controller => 'settings', :action => 'account' %>
							</li>
						<% end %>
					</ul>
				</div>
			</div>
			<!-- END MAIN NAVIGATION -->
			
			<!-- CONTENT -->		
			<div id="content_wrapper">
				<div id="content_main">
					<!-- sub navigation -->
					<div id="sub_navigation">
						<div id="shotcut_bar">
							<% if ['site', 'mine', 'recipe'].include?(@current_tab_type) %>
								<em><%= link_to "#{CREATE_CN}#{RECIPE_CN}", new_recipe_path %></em>
							<% end %>
							<!-- <% if ['mine', 'user'].include?(@current_tab_type) %>
								<em><%= link_to "邀请#{FRIEND_CN}", '' %></em>
							<% end %> -->
							<% if ['site', 'mine'].include?(@current_tab_type) %>
								<em><%= link_to FEEDBACK_CN, feedback_path %></em>
							<% end %>
						</div>
						
						<% if @current_tab_type == 'mine' %>
							<%= link_to "我的#{RECIPE_CN}", :controller => 'recipes', :action => 'mine' %>
							<%= link_to "我的#{PEOPLE_CN}", :controller => 'contacts', :action => 'mine' %>
							<%= link_to "我的#{REVIEW_CN}", :controller => 'reviews', :action => 'mine' %>
							<%= link_to "我的#{FAVORITE_CN}", :controller => 'favorites', :action => 'mine' %>
							<%= link_to "我的#{TAG_CN}", :controller => 'taggings', :action => 'mine' %>
						<% elsif @current_tab_type == 'setting' %>
							<%= link_to "#{ACCOUNT_CN}#{SETTING_CN}", :controller => 'settings', :action => 'account' %>
						<% elsif @current_tab_type == 'recipe' %>
							<% if @current_user %>
								<%= link_to "我的#{RECIPE_CN}", :controller => 'recipes', :action => 'mine' %>
							<% end %>
							<%= link_to "#{RECIPE_CN}浏览", recipes_path %>
							<%= link_to "#{RECIPE_CN}#{REVIEW_CN}", :controller => 'reviews', :action => 'index', :reviewable_type => 'recipe' %>
							<%= link_to "#{RECIPE_CN}#{TAG_CN}", :controller => 'taggings', :action => 'index', :taggable_type => 'recipe' %>
						<% elsif @current_tab_type == 'user' %>
							<% if @current_user %>
								<%= link_to "我的#{PEOPLE_CN}", :controller => 'contacts', :action => 'mine' %>
								<!-- <%= link_to "找#{FRIEND_CN}", '' %> -->
							<% end %>
							<%= link_to "#{PEOPLE_CN}浏览", users_path %>
							<%= link_to "#{BRAIN_CN}团", :controller => 'users', :action => 'index', :category => 'brain' %>
							<!-- <%= link_to "#{PEOPLE_CN}动向", '' %> -->
						<% else %>
							<%= SLOGAN_CN %>
						<% end %>
					</div>
					
					<!-- sidebar colmun  -->
				  <div id="sidebar_column">
						<% if !current_user && ['site', 'feedbacks'].include?(params[:controller]) %>
					  	<%= render :partial => "/sessions/login_sideblock" %>
					  <% end %>
					  
						<% if current_user && ((params[:controller] == 'site' && params[:action] == 'index') || (params[:controller] == 'mine' && params[:action] == 'profile')) %>
					  	<%= render :partial => '/stories/notification_sideblock', 
					  						 :locals => { :notifications => @notifications } %>
					  <% end %>
					  
					  <% if ['user', 'recipe'].include?(@current_tab_type) && params[:action] != 'profile' %>
							<%= render :partial => "/searchings/search_sideblock" %>
						<% end %>
						
						<% if ['site'].include?(params[:controller]) %>
							<%= render :partial => "/site/partner_sideblock" %>
						<% end %>
						
						<% if @show_sidebar %>
							<%= render :partial => "/#{params[:controller]}/#{params[:action]}_sidebar" %>
						<% end %>
						
						<!-- 后台管理 -->
						<% if is_admin_logged_in? %>
							<%=render :partial => "/layouts/admin" %>
						<% end %>
						
				  </div>
					
					<!-- content column -->
					<div id="content_column">

						<div id="system_notice_wrapper">
							<%= render :partial => "/layouts/system_notice",
												 :locals => {:notice => @system_notice} %>
						</div>
						
						<div id="flash_wrapper">
							<%= render :partial => "/layouts/flash",
												 :locals => {:notice => flash[:notice]} %>
						</div>
						
						<% if @user_bar %>
							<%= render :partial => "/users/user_bar",
												 :locals => {:user => @user_bar} %>
						<% end %>

						<%= yield %>
				
					</div>
				</div>		
			</div>
			<!-- END CONTENT -->
			
			<!-- FOOTER -->			
			<div id="footer_wrapper">
				<div id="footer_content">
					<span class="copyright"><%= "#{SITE_NAME_EN} © #{YEAR_BEGIN}-#{Date.today.year} is a service of #{STUDIO_NAME_EN}" %></span>
					<%= link_to "#{ABOUT_CN}#{SITE_NAME_CN}", root_url %> 
					<%= link_to CONTACT_US_CN, feedback_path %> 
					<%= link_to PRIVACY_POLICY_CN, root_url %> 
					<%= link_to TERMS_OF_SERVICE_CN, root_url %> 
					<%= link_to HELP_CN, root_url %>
					<div class="seo_link">
						<%= link_to 'FLVCD', 'http://www.flvcd.com/', :target => "_blank" %>
						<%= link_to '美食·人生', 'http://q.blog.sina.com.cn/wjhdwsrs', :target => "_blank" %>
					</div>
				</div>
			</div>
			<!-- END FOOTER -->
			
		</div>
		
		<div id="overlay">
					
		</div>
	
	</body>
</html>