<% form_for :user, :url => {:action => 'update', :id => params[:id]} do |f| %>
	<table class="content">
		<tr>
			<td class="label">
				<label for="password"><%= "当前#{PASSWORD_CN}:" %></label>
			</td>
			<td class="input">
				<div class="input">
					<% if password_error %>
						<div class="fieldWithErrors">
							<%= password_field_tag "password", "", :class => "text_s" %>
						</div>
					<% else %>
						<%= password_field_tag "password", "", :class => "text_s" %>
					<% end %>
				</div>
				<div class="text">
					<%= "在#{CHANGE_CN}#{PASSWORD_CN}时, 需要#{INPUT_CN}当前#{PASSWORD_CN}进行安全验证" %>
				</div>
				<% if password_error %>
					<div class="formError">	
						<%= "当前#{PASSWORD_CN}不正确" %>
					</div>
				<% end %>
			</td>
		</tr>
		<tr>
			<td class="label">
				<label for="password"><%= "新#{PASSWORD_CN}:" %></label>
			</td>
			<td class="input">
				<div class="input">
					<%= f.password_field :password, :class => "text_s" %>
				</div>
				<div class="text">
					<%= "#{PASSWORD_CN}只能包含英文字母（区分大小写）、数字（0-9）和半角符号（._%+-）" %>
				</div>
				<%= error_message_on "user", "password" %>
			</td>
		</tr>
		<tr>
			<td class="label">
				<label for="password_confirmation"><%= "#{PASSWORD_CN}确认:" %></label>
			</td>
			<td class="input">
				<div class="input">
					<%= f.password_field :password_confirmation, :class => "text_s" %>
				</div>
				<%= error_message_on "user", "password_confirmation" %>
			</td>
		</tr>
		<tr>
			<td></td>
			<td class="submit">
				<div class="submit">
					<%= f.submit SAVE_CHANGES_CN, :class => "submit" %>
					&nbsp;&nbsp;
					<%= link_to "&raquo;#{CANCLE_CN}", :controller => 'settings', :action => 'account' %>
				</div>
			</td>
		</tr>
	</table>
<% end %>
