<% form_for :user, :url => {:action => 'update', :id => params[:id]} do |f| %>
	<table class="content">
		<tr>
			<td class="label">
				<label for="login"><%= "当前#{NICKNAME_CN}:" %></label>
			</td>
			<td class="input">
				<div class="info">
					<%= User.find_by_id(session[:user_id]).login %>
				</div>
			</td>
		</tr>
		<tr>
			<td class="label">
				<label for="login"><%= "新#{NICKNAME_CN}:" %></label>
			</td>
			<td class="input">
				<div class="input">
					<%= f.text_field :login, :class => "text_s" %>
				</div>
				<div class="text">
					<%= "用自己喜欢的名字作为#{NICKNAME_CN}, 好让大伙儿认识你" %>
				</div>
				<%= error_message_on "user", "login" %>
			</td>
		</tr>
		<tr>
			<td></td>
			<td class="submit">
				<div class="submit">
					<%= f.submit SAVE_CHANGES_CN, :class => "submit" %>
					&nbsp;&nbsp;
					<%= link_to "&raquo;#{CANCLE_CN}", :controller => 'settings', :action => 'account' %>
				</div>
			</td>
		</tr>
	</table>
<% end %>
